<% content_for(:page_title, "Edits: #{@entity.name}") %>
<%= render partial: 'entities/header', locals: { entity: @entity } %>
<%= render partial: 'entities/actions', locals: { entity: @entity } %>

<%= cache ['entity_history', @entity.cache_key_with_version, @page ] do %>

  <% versions = EntityHistory.new(@entity).versions(page: @page).as_presenters %>

  <div class="row">
    <div class="col-sm-12 nopadding">
      <div id="record-history-container">
	<div>
	  <h4>
	    <span class="light-gray-box-rounded">Revision history for <em><%= @entity.name %></em>:</span>
	  </h4>
	</div>

	<%= render partial: 'record_history_table', locals: { versions: versions } %>

	<%= paginate versions %>
      </div>
      <% if @entity.created_at.year < 2017 %>
	<span id="entity-history-date-caveat" style="font-size: 10px">Changes before <em>2017</em> may not be reflected on this page</span>
      <% end %>
    </div> <%# end of col-sm %>
  </div>

<% end %>
