<% content_for(:page_title, "Edits: #{@entity.name}") %>
<%= render partial: 'entities/header', locals: { entity: @entity } %>
<%= render partial: 'entities/actions', locals: { entity: @entity } %>

<div class="col-sm-12">
    <h2>Basic info modifications:</h2>
    <%= paginate @versions, param_name: 'version_page' %>
    <table class="table" id="basic-info-modifications-table">
	<thead>
	    <tr>
		<th>Date</th>
		<th>Event</th>
		<th>Changes</th>
		<th>Who?</th>
	    </tr>
	</thead>
	<tbody>
	    <% @versions.each do |ver| %>
		<tr>
                    <td><%=  ver.created_at.to_s(:short) %></td>
                    <td><%=  ver.event %></td>
                    <td><%=  version_changes(ver.changeset) %></td>
		    <td><%=  who_did_it(ver) %></td>
		</tr>
            <% end %>
	</tbody>
    </table>
</div>

<div class="col-sm-12">
    <h2>Relationship modifications:</h2>
    <%= paginate @relationship_changes, param_name: 'rel_page' %>
    <table class="table">
	<thead>
	    <tr>
		<th>Date</th>
		<th>Event</th>
		<th>Changes</th>
		<th>Who?</th>
	    </tr>
	</thead>
	<tbody>
	    <% @relationship_changes.each do |ver| %>
		<tr>
                    <td><%=  ver.created_at.to_s(:short) %></td>
                    <td><%=  ver.event %></td>
                    <td><%=  version_changes(ver.changeset) %></td>
		    <td><%=  who_did_it(ver) %></td>
		</tr>
            <% end %>
	</tbody>
    </table>
</div>

