<% content_for(:page_title, "Recent Edits") %>

<h3>Recent Edits</h3>

<% cache( [ 'edits/index', @page ], expires_in: 5.minutes) do %>
  <% edits = EntityHistory.recently_edited_entities(page: @page) %>
  
  <table class="table no-top-border" id="recent-edits-table">
    <thead>
      <tr>
        <th>Edited By</th>
        <th>Entity</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <% edits.each do |entity| %>
        <tr>
          <td><%= user_link(entity.last_user.user) %> <%= time_ago_in_words(entity.updated_at) %> ago</td>
          <td><%= entity_link(entity) %></td>
          <td><em><%= entity.blurb %></em></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate edits %>
<% end %>
