<%= content_tag :div,
  {
    data: {
      controller: "list-datatable",
      list_datatable_config_value: @datatable_config.to_json,
      list_datatable_data_value: table.data.to_json,
      list_datatable_table_id_value: "#datatable-table",
      list_datatable_page_length_value: 100
    }
  } do %>

<div id="datatable-filters">
  <div class="form-inline">
    <select id="datatable-type" class="form-control">
      <%= options_for_select(table.types) %>
    </select>
      <% if table.industries.count > 1 %>
      <select id="datatable-industry" class="form-control">
        <%= options_for_select(table.industries) %>
      </select>
      <% end %>
      <% if table.interlocks? %>
      <select id="datatable-interlock" class="form-control">
        <%= options_for_select(table.interlocks) %>
      </select>
      <% end %>
      <% if table.lists? %>
      <select id="datatable-list-interlock" class="form-control">
        <%= options_for_select(table.list_interlocks) %>
      </select>
      <% end %>
      <div id="datatable-filters-line2">
        <input id="datatable-search" class="form-control" type="text" placeholder="search">
      </div>
    </div>
  </div>

  <div class="buttons">
    <%= link_to('Export CSV', '#', class: 'btn btn-primary', data: {action: 'click->list-datatable#exportCsv'}) %>
  </div>

  <table id="datatable-table" class: "table table-striped table-bordered list-datatable">
    <thead>
      <tr>
        <% if table.ranked? %>
          <th class="invisible">default_sort_position</th>
          <th>Rank</th>
        <% end %>
        <th>Name</th>
        <% if @list.sort_by %>
          <th><%= @list.sort_by.to_s.humanize %></th>
        <% end %>
        <% if @permissions[:editable] %>
            <th></th>
        <% end %>
      </tr>
    </thead>
  </table>

  <template id="entity_remover">
    <%= link_to(
      list_list_entity_path(table.list, list_entity_id: 'XYZ'),
      method: :delete,
      data: { confirm: 'Are you sure you want to remove this entity from this list?' },
      class: 'remove_entity'
    ) do %>
      <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  </template>

<% end%>
