<%= content_tag :div,
  {
    data: {
      controller: "list-datatable",
      list_datatable_config_value: @datatable_config.to_json,
      list_datatable_data_value: table.data.to_json,
      list_datatable_table_id_value: "#datatable-table",
      list_datatable_page_length_value: 100
    }
  } do %>

<div id="datatable-filters">
  <div class="d-flex">
    <select id="datatable-type" class="form-select me-2">
      <%= options_for_select(table.types) %>
    </select>
    <% if table.interlocks? %>
      <select id="datatable-interlock" class="form-select me-2">
        <%= options_for_select(table.interlocks) %>
      </select>
    <% end %>
    <% if table.lists? %>
      <select id="datatable-list-interlock" class="form-select me-2">
        <%= options_for_select(table.list_interlocks) %>
      </select>
    <% end %>
    <div>
      <%= link_to('Export CSV', '#', class: 'btn btn-primary me-2', data: {action: 'click->list-datatable#exportCsv'}) %>
    </div>
  </div>
</div>

<table id="datatable-table" class="table table-striped table-bordered list-datatable">
  <thead>
    <tr>
      <% if table.ranked? %>
        <th class="invisible">default_sort_position</th>
        <th>Rank</th>
      <% end %>
      <th>Name</th>
      <% if @list.sort_by %>
        <th><%= @list.sort_by.to_s.humanize %></th>
      <% end %>
      <% if @permissions[:editable] %>
        <th></th>
      <% end %>
    </tr>
  </thead>
</table>
<% end%>
