<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-sm-8 col-md-6">
      <%= f.label "Name*" %>
      <%= f.text_field :name, class: "form-control", placeholder: "5-100 characters, no colons" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-10 col-md-8">
      <%= f.label :short_description %>
      <%= f.text_field :short_description, class: "form-control" %>
    </div>
  </div>


  <div class="row form-group">
      <div class="col-sm-10 col-md-8">
	  <%= f.label :description %>
	  <%= f.text_area :description, class: "textarea_medium form-control", size: '6x8' %>
      </div>
  </div>

  <script>
   function handleRadioClick(access){
     $("#" + access + "-radio").trigger('click');
     $("#list-config-access-buttons button").removeClass('btn-primary');
     $("#" + access + "-button").addClass('btn-primary');
   }

   $(function(){
     switch (Number(<%= raw(@list.access) %>)) {
       case 0:
         handleRadioClick('open');
         break;
       case 1:
         handleRadioClick('closed');
         break;
       case 2:
         handleRadioClick('private');
         break;
       default:
         throw 'Invalid access number';
     }
   })
  </script>

  <div class="row">
    <div class="col-sm-10 col-md-8">
      <%= label_tag 'Access level' %> <br/>
	  
      <div id="list-config-access-buttons" class="btn-group m-bottom-1em" role="group" aria-label="...">
        <button type="button" id="open-button" class="btn btn-default" onclick="handleRadioClick('open')">Open</button>
        <button type="button" id="closed-button" class="btn btn-default" onclick="handleRadioClick('closed')">Closed</button>
        <button type="button" id="private-button" class="btn btn-default" onclick="handleRadioClick('private')">Private</button>
      </div>
    </div>

    <%= f.radio_button :access, 0, class: 'btn btn-default', id: 'open-radio', style: "display: none" %>
    <%= f.radio_button :access, 1, class: 'btn btn-default', id: 'closed-radio', style: "display: none"  %>
    <%= f.radio_button :access, 2, class: 'btn btn-default', id: 'private-radio', style: "display: none"  %>
  </div>
  
  
  

  <div class="row form-group">
      <div class="col-sm-8 col-md-6">
    <%= f.check_box :is_ranked %>
	  <%= f.label :ranked %>
	  </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6 col-md-6">
      <%= f.label "Custom field name" %>
      <%= f.text_field :custom_field_name, class: "form-control", placeholder: "name of editable field providing context for each entity" %>
    </div>
  </div>


  <% if current_user.admin? %>
    <div class="row">
      <div class="col-sm-4 col-md-3 bg-info bottom-1em m-left-1em" style="border-radius: .3em;">
        <h4>Admin Settings</h4>
	<%= f.check_box :is_admin %>
	<%= f.label "Admin only" %>
        <br/>
        <%= f.check_box :is_featured %>
	<%= f.label :featured %>
      </div>
    </div>
  <% end %>
  

  <div class="row top-1em bottom-1em">
    <div class="col-sm-8 col-md-6">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to 'Cancel', members_list_path(@list), class: "btn btn-default" %>
    </div>
  </div>
  
<% end %>
