<h1><%= list_page_title %></h1>

<div class="row" id="list-index-header">
  <div class="col">
    <div class="row">
      <div class="col">
        <%= link_to 'All', lists_path, class: 'btn btn-clear btn-sm mr-1' %>
        <%= link_to 'Featured', lists_path(featured: true), class: 'btn btn-clear btn-sm mr-1' unless featured_lists %>

        <% if current_user %>
          <%= link_to 'Your Lists', home_lists_path, class: 'btn btn-clear btn-sm mr-1' %>
          <%= link_to 'Create', new_list_path, class: 'btn btn-clear btn-sm mr-1' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
