<div class="list-actions">
  <% if @permissions[:configurable] %>
    <%= link_to('edit', edit_list_path(list), class: 'btn btn-clear') %>
    <%= link_to('delete',
                list_path(list),
                class: 'btn btn-clear',
                remote: false,
                method: :delete,
                id: 'delete-list-link',
                data: { confirm: 'Are you sure you want to delete this list?' })
    %>
  <% else %>
    <%= link_to 'request removal', new_deletion_requests_list_path(list_id: @list.id), class: 'btn btn-clear' %>
  <% end %>

  <% if @permissions[:editable] %>
    <% if has_ability?('bulker') %>
      <%= link_to('add bulk', new_list_entity_association_path(list), class: 'btn btn-clear') %>
    <% end %>

    <input id="add-entity-input" type="text" class="form-control" placeholder="add entity">

    <%= render partial: 'shared/entity_autocomplete',
        locals: {
          input_id: '#add-entity-input',
          enable_missing_entity_creation: true,
          http_method: 'post',
          form_path: list_list_entities_path(@list),
          query_path: search_entity_path(q: '%QUERY', exclude_list: @list.id)
        }
    %>
  <% end %>
</div>
