<% @config = {
      query_path: query_path || '/search/entity?&q=%QUERY',
      input_id: input_id,
      templates: {
        entity_suggestion: '#entity_suggestion',
        empty_message: '#empty_message',
        form: '#autocomplete_form'
      }
}
%>

<script>
  $(window).ready(function() {
    let autocomplete = new LittleSis.entityAutocomplete({config: <%= @config.to_json.html_safe %>});
    autocomplete.prepare();
  });
</script>

<template id="entity_suggestion">
  <div class="add-entity-suggestion">
	  <div class="add-entity-name">{{name}}</div>
	  <div class="add-entity-blurb">{{blurb}}</div>
	</div>
</template>

<template id="empty_message">
  <div class="add-entity-suggestion">No entities found. 
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_entity_form">
      create it now
    </button>
  </div>
  <script>
    // Prepopulate the entity name field with the failed search value
    $('.add-entity-suggestion button').on('click', function(){
      $('#new_entity #entity_name').val($('#add-entity-input').val());
    })
  </script>
</template>

<div class="modal" id="new_entity_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h1>Create entity for <%= @list.name %> list</h1></div>
      <div class="modal-body">
        <%= render partial: 'entities/new_entity_form', locals: { form_url: list_entities_path(@list) } %>
      </div>
    </div>
  </div>
</div>

<template id="autocomplete_form">
  <form method="<%= http_method %>" action="<%= form_path %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="hidden" name="entity_id" value=""/>
  </form>
</template>
