<%= content_tag :div,
  data: {
    controller: "list-settings",
    list_settings_list_access_name_value: Permissions::ACCESS_MAPPING[@list.access].downcase
  } do %>

  <% if current_user.role.include?(:edit_list)  %>
    <div class="row justify-content-start">
      <div class="col-sm col-md-6">
        <%= label_tag 'Access level' %><br/>

        <div id="list-config-access-buttons" class="btn-group m-bottom-1em" role="group" aria-label="...">
          <% Permissions::ACCESS_MAPPING.each do |code, name| %>
            <%= label_tag "#{name.downcase}-radio", name,
             class: "btn #{@list.access == code ? 'btn-primary' : ''}",
             value: name.downcase,
             data: {
               action: 'click->list-settings#switchAccess'
             } %>
            <%= f.radio_button :access, code, id: "#{name.downcase}-radio" %>
          <% end %>
        </div>

      </div>
      <div class="col-sm my-auto">
        <div class="list-access-level-help" id="list-access-level-help-open">
          An <b>open list</b> is visible by everyone and can be edited by any LittleSis user.
        </div>
        <div class="list-access-level-help" id="list-access-level-help-closed">
          A <b>closed list</b> is visible by everyone, but can only be edited by you.
        </div>
        <div class="list-access-level-help" id="list-access-level-help-private">
          A <b>private list</b> can only be seen and edited by you.
        </div>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :access, value: Permissions::ACCESS_PRIVATE %>
  <% end %>

  <div class="row form-group">
    <div class="col-sm-8 col-md-10">
      <%= f.check_box :is_ranked %>
      <%= f.label :ranked %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-8 col-md-10">
      <%= f.label :sort_by %>
      <%= f.select :sort_by, Entity::SORTABLE_ATTRIBUTES.collect {|a| [a.to_s.humanize, a]}, { include_blank: true } %>
    </div>
  </div>

<% end %>
