<div class="row mt-3 mb-3" id="list-index-header">
  <div class="col">
    <div class="d-flex flex-column">
      <h1 class="d-inline">
        Lists
        <% if user_signed_in?  %>
          <div class="d-inline p-2 rounded">
            <%= link_to 'Your Lists', home_lists_path, class: 'btn btn-clear btn-sm mr-1' %>
            <%= link_to 'Create', new_list_path, class: 'btn btn-clear btn-sm mr-1' %>
          </div>
        <% end %>
      </h1>
    </div>
  </div>
</div>

<div data-controller="lists-search">
  <div class="row" id="list-search-container" >
    <div class="col">
      <%= form_tag(lists_path, method: :get, id: 'search-lists', data: { "lists-search-target" => "form" }) do %>
        <div class="d-flex">
          <input class="col-form-control d-inline me-2"
                 id="list-search"
                 type="text" name="q"
                 value="<%= params[:q] %>"
                 placeholder="Search lists">

          <select data-controller="entity-autocomplete" style="width: 250px;;" name="entity_id"
                  data-entity-autocomplete-preselected-value="<%= params[:entity_id] %>">
          </select>

          <div class="form-check form-switch ms-2">
            <input name="featured" class="form-check-input" type="checkbox" role="switch" id="lists-only-featured" <%= ParamsHelper.cast_to_boolean(params[:featured]) ? 'checked' : '' %>>
            <label class="form-check-label" for="lists-only-featured">featured</label>
          </div>

          <div class="d-none">
            <input data-lists-search-target="orderDirection" type="hidden" value="<%= params[:order_direction] || 'desc' %>" name="order_direction" />
            <input data-lists-search-target="orderColumn" type="hidden" value="<%= params[:order_column] || 'created_at' %>" name="order_column" />
          </div>

          <input type="submit" value="Search" class="btn btn-secondary ms-2">
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <table id="lists" class="table">
        <thead>
          <tr>
            <th>
              Name
              <%= list_column_icon(:name) %>
            </th>
            <th>
              Entities
              <%= list_column_icon(:entity_count) %>
            </th>
            <th>
              Created At
              <%= list_column_icon(:created_at) %>
            </th>
            <% if current_user&.admin? %>
              <th colspan='2'></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @lists.each do |list| %>
            <tr id="list_<%= list.id %>">
              <td class="lists_table_name">
                <%= list_link(list) %>
              </td>
              <td>
                <%= list.entity_count %>
              </td>
              <td class="created">
                <%= list.created_at.strftime("%B %d, %Y") %>
              </td>
              <% if current_user&.admin? %>
                <td>
                  <%= button_to list_path(list), method: :patch, params: {list: {id: list.id, is_featured: !list.is_featured}}, class: 'star-button' do %>
                    <span class="<%= list.is_featured ? 'star' : 'not-star' %>"></span>
                  <% end %>
                </td>
                <td>
                  <%= button_to list_path(list),
                   method: :delete,
                   params: {id: list.id},
                   class: 'delete-button ms-1',
                   title: 'Permanently delete this list',
                   form: { onsubmit: "return confirm('Are you sure?')" } do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @lists %>

    </div>
  </div>
</div>
