<h1>Lists</h1>

<div class="alert alert-info">
  Lists are collections of people and/or organizations that don't belong to a formal group. Many of them were originally compiled by media organizations, frequently in order to rank people by power, wealth, or influence.
</div>

<%= form_tag(lists_path, method: :get) do %>
  <div class="form-inline">
    <input id="list-search" type="text" name="q" class="form-control" value="<%= params[:q] %>" placeholder="list name">
    <input id="list-entity-search" type="text" name="q_entity" class="form-control" value="<%= params[:q_entity] %>" placeholder="entity name">
    <input type="submit" value="Search" class="btn btn-secondary">
  </div>
<% end %>

<%= render partial: 'shared/entity_autocomplete_js',
    locals: {
      input_id: 'list-entity-search',
      http_method: 'get',
      form_path: lists_path(entity_id: "XXX"),
      query_path: raw("/search/entity?q=%QUERY") } %>
<br>

<%= paginate @lists %>

<table id="lists" class="table no-top-border dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Entities</th>
      <th>Description</th>
      <th><%= link_to 'Created', {sort_by: :created_at, order: (params[:order] == 'desc' ? 'asc' : 'desc')}, class: "created_at sorting" %></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr id="list_<%= list.id %>">
        <td class="lists_table_name"><%= list_link(list) %></td>
        <td><%= list.entity_count %></td>
        <% if list.short_description %>
          <td><%= list.short_description %></td>
        <% else %>
          <td><%= list.description %></td>
        <% end %>
        <td class="created"><%= l list.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @lists %>
