<% content_for(:page_title, sanitize(@list.name)) %>

<%= render partial: 'header', locals: { list: @list } %>
<% if user_signed_in?  %>
  <%= render partial: 'list_actions', locals: { list: @list, person_count: @list.entities.people.count } %>
<% end %>
<div id="list-edited-history" class="d-inline-block">
  <%= ListLastEditorPresenter.html(@list) %>
</div>
<%= render partial: "lists/tabs", locals: { list: @list, selected_tab: :members } %>

<div class="row">
  <div class="col">
    <% cache( [@list.cache_key_with_version, 'members'], expires_in: 1.day) do %>
      <%= render partial: 'datatable', locals: { table: @table, editable: @editable } %>
    <% end %>
  </div>
</div>
