<% content_for(:page_title, raw(@list.name)) %>

<%= render partial: 'header', locals: { list: @list } %>
<%= render partial: "lists/tabs", locals: { list: @list, selected_tab: :edits } %>

<h1>Recent edits:</h1>

<%= paginate @versions %>

<table class="table">
    <thead>
        <th>Date</th>
        <th>Type</th>
        <th>Details</th>
    </thead>
    <tbody>
        <% @versions.each do |ver| %>
            <tr>
                <td><%=  ver.created_at %></td>
                <td><%=  ver.event %></td>
                <td><%=  version_changes(ver.changeset) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
