<div class="row">
  <div class="col-sm-12 col-lg-8">
    <h1>Add a list</h1>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-lg-8">
    <%= form_for(@list) do |f|  %>
      <% if @list.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:
          <ul>
            <% @list.errors.each do |error| %>
              <li><%=  (error.attribute == :base ? '' : error.attribute).to_s.capitalize %> <%= error.message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label(:class, "List Name*") %>
        <%= f.text_field :name, class: "form-control"%>
      </div>

      <div class="field">
        <%= f.label(:short_description, "Short description") %>
        <%= f.text_field :short_description, class: "form-control"%>
      </div>

      <div class="field">
        <%= f.label(:description, "Description") %>
        <%= f.text_area :description, class: "form-control"%>
      </div>

      <div class="mt-4">
        <%= render 'settings', f: f %>
      </div>

      <%= fields_for :ref do |ref_fields|  %>
        <p><em>Where is this information coming from?</em></p>
        <div class="field">
          <%=  ref_fields.label(:url, "Source URL") %>
          <%=  ref_fields.text_field :url, class: "form-control" %>
        </div>
        <div class="field">
          <%=  ref_fields.label(:name, "Source Display Name") %>
          <%=  ref_fields.text_field :name, class: "form-control" %>
        </div>
      <% end %>
      <br />

      <div class="mt-2 mb-2">
        <%= render 'settings_admin', f: f %>
      </div>

      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
