<h1>Add a list</h1>

<%= form_for(@list) do |f|  %>
    <% if @list.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
            <%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:
            <ul>
                <% @list.errors.each do |attr, msg| %>
                    <li><%=  (attr == :base ? '' : attr).to_s.capitalize %> <%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.label(:class, "List Name*") %>
        <%= f.text_field :name, class: "form-control"%>
    </div>
    
    <div class="field">
        <%= f.label(:description, "Description") %>
        <%= f.text_area :description, class: "form-control"%>
    </div>

    <div class="form-group">
        <%= f.label(:is_ranked, "Ranked") %>
        <%= f.check_box :is_ranked %>
        <span style="padding-left: .8em;"><small>(are list members sorted by a rank?)</small></span>
        
        <br />

        <%= f.label(:is_admin, "is admin") %>
        <%= f.check_box :is_admin %>
        
        <br />

        <%= f.label(:is_featured, "is featured") %>
        <%= f.check_box :is_featured %>

        <br />

        <%= f.label(:is_private, "is private") %>
        <%= f.check_box :is_private %>
    </div>

     <%= fields_for :ref do |ref_fields|  %>
         <%=  link_to("/help/sources#q-appropriate", target: "_blank") do%>
             <p><em>Where is this information coming from?</em></p>
         <% end %>
         <div class="field">
         <%=  ref_fields.label(:source, "Source URL*") %>
         <%=  ref_fields.text_field :source, class: "form-control" %>
         </div>
         <div class="field">
         <%=  ref_fields.label(:name, "Source Display Name") %>
         <%=  ref_fields.text_field :name, class: "form-control" %>
         </div>
     <% end %>
     <br />
    <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>
