<%= render partial: 'header', locals: { list: @list } %>

<h3>Street Views</h3>

<% @images.each do |image| %>

<div style="dispaly: block; float: left; width: 400; height: 400; padding: 20px; text-align: center; margin-top: 20px;">
  <a href="<%= image.entity.legacy_url %>"><img src="<%= image.s3_url('large') %>" height="350"></a><br><br>
  <%= image.entity.addresses.first.to_s %><br><br>
  <%= entity_link(image.entity) %>
</div>

<% end %>