<h1>Bulk Add Relationships for <%= link_to @entity.name, entity_path(@entity) %></h1>

<%= render partial: 'shared/entity_info', locals: { entity: @entity } %>

<div class="row bottom-1em">
    <div class="col-sm-10">
	<span class="small-text text-muted">This is the <em>new</em> version of the add bulk page. <%= link_to "Click here", @entity.legacy_url('addBulk') %> to use the older version instead.</span>
    </div>
</div>


<div class="row">
    <div class="col-sm-8 col-sm-offset-2" id="alert-container">
    </div>
</div>

<div class="row result-mode" id="results">
    
</div>

<div class="row create-mode">
    <div class="col-sm-3">    
	<span><em>Relationship Category</em></span>
	<%= relationship_select_builder @entity.primary_ext %>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
	<div class="form-group">
	    <span><em>Source Url*</em></span><br />
	    <input type="url" id="reference-url" name="referenceUrl" required>
	</div>
	
    </div>
    <div class="col-sm-4">
	<div class="form-group">
	    <span><em>Source Name*</em></span><br />
	    <input type="text" id="reference-name" name="referenceName">
	</div>
    </div>
</div>

<div class="row create-mode">
    <div id="table" class="table-editable">
	<table class="table table-bordered">
	</table>
    </div>
</div>

<button id="upload-btn" class="btn btn-primary hidden create-mode">Upload Data</button>
<p id="export"></p>

<script type="text/template" id="entityMatchTable">
    <table class="table table-hover table-condensed" id="match-results-table">
	<thead>
	    <tr>
		<th>Name</th>
		<th>Blurb</th>
		<th>View</th>
	    </tr>
	</thead>
	<tbody>
	</tbody>
    </table>
</script>

<script type="text/template" id="entityMatchTableRow">
 <tr>
    <td>
	{{ name }}
    </td>
    <td>
	{{ description }}
    </td>
    <td>
	<a href="{{ url }}" target="_blank">View profile</a>
    </td>
 </tr> 
</script>



<script>
 $(document).ready(function(){
   bulkAdd.init(<%= raw current_user.bulker? %>);
 });
</script>
