<div class="big_note">

	<div class="big_note_user_image">
		<%= user_image(note.user) %>
	</div>

	<div class="big_note_user_name">
		<div class="big_note_user_name_content">
			<%= user_link(note.user) %>
		</div>

		<div class="big_note_timestamp">
			<%= note_timestamp_link(note) %>
		</div>
	</div>

	<% if true %>
		<div class="big_note_private"><%= image_tag("lock.png") %> private note</div>
	<% end %>

	<div class="big_note_body">
		<div class="big_note_reply">
			<%= link_to(image_tag("reply.gif"), new_note_path(reply_to: note.id)) %>
		</div>

		<%= render_note(note) %>
	</div>

</div>
