<div class="note_form">

<% note = note.present? ? note : Note.new %>

<%= form_for(note) do |f| %>

  <div class="note_form_body">
    <%= f.text_area :body_raw, class: "form-control", style: (defined? expand) ? nil : 'height: 50px;', placeholder: "write a new note" %>  
  </div>

  <% if defined? redirect %>
    <%= hidden_field_tag :redirect_to, redirect %>
  <% end %>

  <div id="entity_search" style="<%= (defined? expand) ? '' : 'display: none;' %>">
    <%= text_field_tag :entity, nil, id: "note_entity_search", class: "form-control", placeholder: "mention a person or org" %>
    &nbsp;
    <span class="input-group" id="entity_text_group">
      <input id="entity_text" class="form-control" disabled /><span class="input-group-btn" id="entity_text_link_wrapper"><button class="btn btn-default" id="entity_text_link">copy to note</button></span>
    </span>
  </div>

  <div class="note_form_bottom" style="<%= (defined? expand) ? '' : 'display: none;' %>">
    <div class="note_form_checkbox checkbox-inline">
      <%= f.check_box :is_private %> make private
    </div>  

    <div class="note_form_button">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="clearfix"> </div>
<% end %>

</div>

<script>
$(window).ready(function() {

  <% if defined? expand ? '' : 'display: none;' %>
    $("#note_body_raw").focus(function() {
      $('#note_body_raw').animate({ height: '250px'});
      $('#entity_search').show('blind');
      $('.note_form_bottom').show('blind');
    });
  <% end %>

  var selected_callback = function(obj, datum) {
    var str = '@entity:' + datum.id + '[' + datum.name + ']';
    var note = $('#note_body_raw');
    note.focus();
    note.val(note.val() + str);
  };

  $('#note_entity_search')
    .typeahead({ 
      name: 'entities',
      remote: '<%= entity_name_search_url + "?q=%QUERY" %>',
      limit: 8
    })
    .on("typeahead:selected", selected_callback);

});

var confirmOnPageExit = function (e) 
{
  if ($('#note_body_raw').val()) {
    // If we haven't been passed the event get the window.event
    e = e || window.event;

    var message = 'Your note will be lost!';

    // For IE6-8 and Firefox prior to version 4
    if (e) 
    {
      e.returnValue = message;
    }

    // For Chrome, Safari, IE8+ and Opera 12+
    return message;
  }
};

// disable for now:
// window.onbeforeunload = confirmOnPageExit;

</script>