<div class="left_column">

<h1>
	Notes by <%= user_link(@user) %>
	<span class="btn btn-link btn-sm"><%= link_to 'write note', new_note_path(user: @user.username) %></span>

	<% if @show_replies %>
		<span class="btn btn-link btn-sm"><%= link_to("hide replies", user_notes_path(@user, page: params[:page])) %></span>
	<% else %>
		<span class="btn btn-link btn-sm"><%= link_to("show replies", { show_replies: 1, page: params[:page] }) %></span>
	<% end %>
</h1>

<%= render partial: "notes/new", locals: { note: Note.new(body_raw: "@#{@user.username}") } %>

<hr />

<% if @show_replies %>
	<%= paginate @notes %>
<% else %>
	<%= render partial: "notes/search_with_pagination", locals: { notes: @notes } %>
<% end %>

<div class="spacer"> </div>

<div class="notes_list">
	<% cache(@user.cache_key("notes/notes", nil, params.slice(:show_replies, :page))) do %>
		<% @notes.each do |note| %>
			<% if note.visible_to?(current_user) %>
				<%= render partial: "notes/note", locals: { note: note, user: @user } %>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="spacer"> </div>
<%= paginate @notes %>

</div>