<turbo-frame id="oligrapher-search-results">
  <div>
    <% if @search_results.present? %>
      <table class="table no-top-border" id="oligrapher-search-results-table" data-oligrapher-search-target="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @search_results.each do |map| %>
            <tr>
              <td>
                <span class="text-truncate" data-turbo="false">
                  <%= link_to(map.name, oligrapher_url(map), target: '_blank' ) %>
                </span>
                <% if map.screenshot_exists? %>
                  <i class="bi bi-image cursor-pointer"
                     title="Preview"
                     data-oligrapher-search-target="preview"
                     data-screenshoturl="<%= map.screenshot_url %>">
                  </i>
                <% end %>

                <% if current_user&.admin? %>
                  <button class="star-button ms-1"
                          data-action="click->oligrapher-search#toggleIsFeatured"
                          data-url="<%= featured_oligrapher_path(map) %>">
                    <span class="<%= map.is_featured ? 'star' : 'not-star' %> pe-none"></span>
                  </button>
                <% end %>
                <span>
                </span>
              </td>
              <td>edited <%= time_ago_in_words(map.updated_at) %> ago by <%= user_link(map.user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <% unless @search_results.nil? %>
        <p class="mt-2"><em>No maps found</em></p>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
