<%= render 'shared/facebook_sdk' %>

<%= content_for(:head) do %>
  <% if Rails.env == "development" %>
    <script src="http://localhost:8090/webpack-dev-server.js"></script>
    <script src="http://localhost:8090/oligrapher-dev.js"></script>
  <% else %>
    <script src="<%= "/oligrapher/oligrapher-#{@oligrapher_version}.js"  %>"></script>
  <% end %>
<% end %>

<%= cache_if !user_signed_in?, [ 'embedded_v3', @map ] do %>

  <% content_for(:page_title, raw(@map.name)) %>
  <% content_for(:facebook_title, @map.name) %>
  <% content_for(:facebook_image, @map.thumbnail) %>
  <% content_for(:hide_footer, true) %>

  <div id="oligrapher"></div>

  <script>
    var oli = new Oligrapher(
      <%= JSON.generate(@configuration).html_safe %>
    )
  </script>
  
<% end %>
