<tr name="fec-contribution-<%= fec_contribution.id %>">
  <td><%= fec_contribution.name %></td>
  <td><%= fec_contribution.location %></td>
  <td><%= fec_contribution.employment %></td>
  <td><%= fec_contribution.amount %></td>
  <td><%= fec_contribution.date %></td>
  <td><span title="<%= fec_contribution.transaction_type_description %>"><%= fec_contribution.transaction_tp %></span></td>
  <td>
    <% if fec_contribution.fec_committee.entity %>
      <%= entity_link(fec_contribution.fec_committee.entity) %>
    <% else %>
      <%=  fec_contribution.recipient %>
    <% end  %>
  </td>
  <td>
    <%= link_to(fec_contribution.image_num, fec_contribution.reference_url, target: '_blank') %>
  </td>

  <td>
    <div class="d-flex flex-row fec-contribution-actions">
      <% if fec_contribution.matched? %>
        <div class="p-1">
          <%= link_to tag.i(class: 'bi bi-check-square-fill fec-view-relationship'),
           fec_contribution.fec_match.committee_relationship,
           title: 'View relationship',
           target: '_blank' %>
        </div>
        <div class="p-1">
          <%= link_to tag.i(class: 'bi bi-eraser fec-remove-match'), "#", title: "Remove match" %>
        </div>
      <% else  %>
        <div class="p-1">
          <%= link_to tag.i(class: 'bi bi-check-square fec-create-match'), "#", title: "Match this contribution" %>
        </div>
        <div class="p-1">
          <%= link_to tag.i(class: 'bi bi-dash-square fec-hide-contribution'), "#", title: "Hide this contribution" %>
        </div>
      <% end %>
    </div>
  </td>
</tr>
