<turbo-frame id="fec-contribution-actions-<%= fec_contribution.id %>">
  <div class="d-flex flex-row fec-contribution-actions">
    <% if fec_contribution.matched? %>
      <div class="p-1">
        <%= link_to tag.i(class: 'bi bi-check-square-fill fec-view-relationship'),
         fec_contribution.fec_match.committee_relationship,
         title: 'View relationship',
         target: '_blank' %>
      </div>
      <div class="p-1">
        <%= form_with url: "/fec/fec_matches/#{fec_contribution.fec_match.id}", method: :delete do |f| %>
          <button class="bg-transparent border-0 p-0">
            <i class="bi bi-eraser fec-remove-match"></i>
          </button>
        <% end %>
      </div>
    <% else  %>
      <div class="p-1">
        <%= form_with url: '/fec/fec_matches' do |f| %>
          <%= f.hidden_field "entity_id", value: entity_id %>
          <%= f.hidden_field "fec_contribution_id", value: fec_contribution.id %>
          <button class="bg-transparent border-0 p-0"><i class="bi bi-check-square fec-create-match"></i></button>
        <% end %>
      </div>
      <div class="p-1">
        <%= link_to tag.i(class: 'bi bi-dash-square fec-hide-contribution'), "#", title: "Hide this contribution" %>
      </div>
    <% end %>
  </div>
</turbo-frame>
