<!--
   <p>External Relationship: <%= @external_relationship.id %></p>
-->
<div id="external-relationships">
  <div class="header">
  </div>
  <div class="external-data">
    <table class="display-information">
      <tbody>
        <% @external_relationship.data_summary.each_pair do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody></table>
    </table>
  </div>


  <div class="entity-matchers">
    <div class="leftSide">
      <%= render partial: 'shared/entity_matcher', object: @entity_matchers[0] %>
    </div>

    <div class="rightSide" >
      <%= render partial: 'shared/entity_matcher', object: @entity_matchers[1] %>
    </div>
  </div>
</div>
