<%#=
Required locals: bulletin, title, method, url, submit_text
%>

<div class="row">
  <div class="col-sm-12 nopadding">
    <h1><%= title %></h1>

    <%= form_for bulletin, method: method, url: url do |f| %>

      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: 'form-control', required: true %>
        <%= f.label :color, 'Heading Color', class: 'top-1em' %>
        <%= f.text_field :color, class: 'form-control' %>
      </div>

      <%= f.label :content %>
      <%= f.rich_text_area :content %>

      <%= f.submit submit_text,  class: 'btn btn-primary' %>
      <%= link_to 'Cancel', '/admin', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
