<% content_for(:page_title, "Search" + (params[:q].present? ? " - " + params[:q] : "")) %>

<h1>Search</h1>

<%= form_tag search_path, method: :get do %>
  <div class="input-group col-xs-4">  
    <%= text_field_tag :q, params[:q], class: "form-control" %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </input>
    </span>
  </div>
<% end %>

<br>

<div class="search-results">

<% if @q.present? %>
  <% if @groups.count > 0 %>
    <h3>Research Groups</h3>
    <% @groups.each do |group| %>
      <span class="search-result-link"><%= group_link(group) %></span> &nbsp;<em><%= highlight((strip_tags(group.tagline) or ""), params[:q]) %></em>
      <br>
    <% end %>
    <br>
  <% end %>

  <% if @lists.count > 0 %>
    <h3>Lists</h3>
    <% @lists.each do |list| %>
      <span class="search-result-link"><%= list_link(list) %></span> &nbsp;<em><%= highlight((truncate(list.description, length: 80) or ""), params[:q]) %></em>
      <br>
    <% end %>
    <br>
  <% end %>

  <% if @entities.count > 0 %>
    <h3>Entities</h3>
    <%= paginate @entities %>
    <% @entities.each do |entity| %>
      <div class="entity-search-result">
        <span class="search-result-link"><%= entity_link(entity) %></span> &nbsp;<em><%= highlight((entity.blurb or ""), params[:q]) %></em><br>
        <span class="entity-search-result-summary"><%= highlight(truncate((entity.summary or ""), length: 80), params[:q]) %></span>
      </div>
    <% end %> 
    <br>
  <% end %>

  <% if @maps.count > 0 %>
    <h3>Network Maps</h3>
    <% @maps.each do |map| %>
      <span class="search-result-link"><%= network_map_link(map) %></span>
      <br>
    <% end %> 
    <br>
  <% end %>

  <% if @groups.count + @lists.count + @entities.count + @maps.count == 0 %>
    <strong>No results found.</strong>
  <% end %>
<% end %>

</div>

<% if params[:q].present? %>
  <%= render partial: "cantfind" %>
<% end %>