<% content_for(:page_title, 'Corporate Mapping Project - Partners' ) %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag "cmp" %>
  <%= javascript_include_tag "cmp", defer: true %>
<% end %>

<div class="row border-bottom pb-2" id="cmp-header">
  <div class="col-12 mt-2">
    <%= link_to(image_tag('cmp_logo.png'),  'https://www.corporatemapping.ca') %>
    <h2 class="mt-2">Investigating the power of the fossil fuel industry in Western Canada</h2>
  </div>
</div>


<div class="row mt-5">
  <div class="col-8">
    <p>The <%= link_to 'Corporate Mapping Project',  'https://www.corporatemapping.ca' %> (CMP) has partnered with LittleSis to comprehensively map Canada’s fossil fuel industry -- along with its ties to the larger corporate sector at home and abroad.</p>

    <h4>Here’s how you can explore the data:</h4>
    <ul>
      <li>
	The CMP has created in-depth profiles for the top 50 most powerful corporations involved in the production of fossil fuels in Western Canada -- along with key industry groups, think tanks, financiers and other promoting oil, gas and coal production. These descriptive profiles are available on the CMP website. <%= link_to 'Click here to visit corporatemapping.ca/database',  'https://www.corporatemapping.ca/database' %>.
      </li>
      <br />
      <li>
	We've also mapped the <a href="#cmp-full-network">full network</a> of the largest 100 Canadian-based fossil fuel corporations (as of 2019).
      </li>
      <br />

      <li>
        And we tracked how these fossil fuel corporations are connected to the wider corporate sector in Canada and abroad through their senior executives and board members. This larger network includes <i>18,361</i> people and <i>618</i> corporations, think tanks, industry groups, financial institutions and more. View the entire dataset on LittleSis <%= link_to "here", "http://littlesis.org/tags/11" %>.
      </li>
    </ul>

    <p>
      The Corporate Mapping Project is a research partnership investigating the power and influence of the fossil fuel industry in Canada. <%= link_to 'Find out more here',  'https://www.corporatemapping.ca' %>.
    </p>
  </div>
  <div class="col-4 align-self-center">
    <div class="bg-light p-2 border border-dark rounded-lg">
      <% if user_signed_in? %>
	<p>Create your own network map of fossil fuel companies using <%= link_to "oligrapher", "https://littlesis.org/oligrapher", target: '_blank' %></p>
	<p><%= link_to "Click here", new_map_path %> to start building a new map</p>
      <% else %>
	<p>You can create your own <%= link_to "network maps", "https://littlesis.org/maps", target: '_blank' %> using this dataset</p>
	<p><%= link_to "Click here to sign up", new_user_registration_path %> for a free LittleSis account to get started.</p>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-auto">
    <h4>Search the Corporate Mapping Project dataset:</h4>
  </div>
  <div class="col-sm-auto">
    <div id="cmp-tag-search" style="width: 200px;">
      <select class="w-100"></select>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3 class="mb-4">Fossil Power Top 50 Case Studies</h3>
    <div style="overflow: auto; height: 500px;">
      <% cache 'cmp_top_50_table', expires_in: 2.days do %>
	<table class="table table-borderless table-sm">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Organization</th>
	      <th scope="col">Case Study</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @cmp_case_studies.each do |row|  %>
	      <tr>
		<th scope="row"><%= row['number'] %></th>
		<td>
		  <%= link_to row['case_study'], "https://littlesis.org/org/#{row['entity_id']}", target: '_blank' %>
		  <span class="badge badge-info"><%= row['category']%></span>
		</td>
		<td>
		  <% if row['cmp_url'].present? %>
		    <%= link_to "Read more", row['cmp_url'], target: '_blank' %>
		  <% end %>
		</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      <% end # end of table cache %>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3 class="mb-4">Explore Network Maps:</h3>
  </div>
</div>

<% cache 'cmp_network_maps_section', expires_in: 2.hours do %>
  <% CmpNetworkMapService.random_map_pairs.each do |maps| %>
    <div class="row cmp-map-row">
      <div class="col">
	<%= render partial: 'oligrapher', locals: { map: maps[0] }%>
      </div>

      <div class="col">
	<%= render partial: 'oligrapher', locals: { map: maps[1] }%>
      </div>
    </div>
  <% end %>
<% end %>

<div id="cmp-full-network"  class="row mt-5">
  <div class="col-sm">
    <h3 class="mb-4">Explore the full network of Fossil Fuel Companies</h3>
    <table id="cmp-strata" class="display" width="100%"></table>
  </div>
</div>
