<% content_for(:page_title, 'Corporate Mapping Project - Partners' ) %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag "cmp" %>
  <%= javascript_pack_tag 'cmp' %> 
<% end %>

<div class="row border-bottom pb-2" id="cmp-header">
  <div class="col-12 mt-2">
    <%= link_to(image_tag('cmp_logo.png'),  'https://wwww.corporatemapping.ca') %>
    <h2 class="mt-2">Investigating the power of the fossil fuel industry in Western Canada</h2>
  </div>
</div>


<div class="row mt-5">
  <div class="col-8">
    <p>The <%= link_to 'Corporate Mapping Project',  'https://wwww.corporatemapping.ca' %> (CMP) has partnered with LittleSis to comprehensively map Canada’s fossil fuel industry -- along with its ties to the larger corporate sector at home and abroad.</p>

    <h4>Here’s how you can explore the data:</h4>
    <ul>
      <li>
	The CMP has created in-depth profiles for the top 50 most powerful corporations involved in the production of fossil fuels in Western Canada -- along with key industry groups, think tanks, financiers and other promoting oil, gas and coal production. These descriptive profiles are available on the CMP website. <%= link_to 'Click here to visit corporatemapping.ca/database',  'https://wwww.corporatemapping.ca/database' %>. Or you can check out the LittleSis profile pages for these entities - click here for the top 50 on littlesis.
      </li>
      <br />
      <li>
	We've also mapped the full network of Canadian-based fossil fuel corporations (with assets over <i>$50 million</i> as of 2015). Browse the littlesis profile pages for these ## companies here.
      </li>
      <br />
      <li>
	And we tracked how these fossil fuel corporations are connected to the wider corporate sector in Canada and abroad through their senior executives and board members. This larger network includes ## people and ## corporations, think tanks, industry groups, financial institutions and more. Click here to explore.
      </li>
      
    </ul>

    <p>
      The Corporate Mapping Project is a research partnership investigating the power and influence of the fossil fuel industry in Canada. <%= link_to 'Find out more here',  'https://wwww.corporatemapping.ca' %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-sm-auto">
    <h4>Search the Corporate Mapping Project dataset:</h4>
  </div>
  <div class="col-sm-auto">
    <div id="cmp-tag-search">
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3 class="mb-4">Important Case Studies:</h3>
    <div style="overflow: auto; height: 500px;">
      <% cache 'cmp_top_50_table', expires_in: 2.days do %>
	<table class="table table-borderless table-sm">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Organization</th>
	      <th scope="col">Case Study</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% CSV.foreach(Rails.root.join('data', 'cmp_top_50.csv').to_s, headers: true) do |row|  %>
	      <tr>
		<th scope="row"><%= row['number'] %></th>
		<td>
		  <%= link_to row['case_study'], "https://littlesis.org/org/#{row['entity_id']}", target: '_blank' %>
		  <span class="badge badge-info"><%= row['category']%></span>
		</td>
		<td>
		  <%= link_to "Read more", "https://www.corporatemapping.ca/#{row['case_study']}", target: '_blank' %>
		</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      <% end # end of table cache %> 
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm">
    <h3 class="mb-4">Explore Maps: </h3>
  </div>
</div>

<% cache 'cmp_network_maps_section', expires_in: 2.hours do %>
  <% CmpNetworkMapService.random_map_pairs.each do |maps| %>
    <div class="row cmp-map-row">
      <div class="col">
	<%= render partial: 'oligrapher_iframe', locals: { map: maps[0] }%>
      </div>

      <div class="col">
	<%= render partial: 'oligrapher_iframe', locals: { map: maps[1] }%>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row mt-5">
  <div class="col-sm">
    <h3 class="mb-4">Explore the top 200 Fossil Fuel Companies</h3>
    <table id="cmp-strata" class="display" width="100%"></table>
  </div>
</div>
