<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
        <div class="col-sm-8">
            <h2>Log in</h2>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-5" >
            <%= f.label :email, 'email' %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-5" >
            <%= f.label :password, 'password' %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
    </div>
    <div class="row">
        <% if devise_mapping.rememberable? -%>
            <div class="form-group col-sm-5">
                <div class="field" id="remember-me-container">
                    <%= f.label :remember_me %>
                    <%= f.check_box :remember_me %>
                </div>
            </div>
        <% end -%>
    </div>    
    <div class="row">
        <div class="actions form-group col-sm-6">
            <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <%= render "users/shared/links" %>
        </div>
    </div>
<% end %>
