<p id="notice"><%= notice %></p>

<h1>Permission Passes</h1>

<%= link_to 'New Permission Pass', new_permission_pass_path, class: 'btn btn-primary' %>

<table id='permission-passes' class='table'>
  <thead>
    <tr>
      <th>Event</th>
      <th>Valid from</th>
      <th>Valid to</th>
      <th>Grants abilities</th>
      <th>Created by</th>
      <th>Copy link</th>
    </tr>
  </thead>

  <tbody>
    <% @permission_passes.each do |permission_pass| %>
      <tr id='pass_<%= permission_pass.id %>' class='<%= permission_pass.status %>'>
        <td><%= permission_pass.event_name %></td>
        <td><%= l permission_pass.valid_from %></td>
        <td><%= l permission_pass.valid_to %></td>
        <td><%= permission_pass.abilities.to_a.join(', ') %></td>
        <td><%= permission_pass.creator.user_profile&.full_name %></td>
        <td data-controller='clipboard tooltip'>
          <input class='pass-url' type='text' data-clipboard-target='source' value='<%= permission_pass_apply_url(permission_pass) %>' readonly/>
          <%= button_tag data: {
            action: 'click->clipboard#copy',
            tooltip_target: 'trigger',
            placement: :top,
            title: 'copy pass link to clipboard'
          }, class: 'copy-button' do %>
            <i class="bi bi-clipboard-plus"></i>
        <% end %>
        </td>
        <td><%= link_to 'Edit', edit_permission_pass_path(permission_pass) %></td>
        <td>
          <%= button_to 'Delete', permission_pass_path(permission_pass), method: :delete, form: { onsubmit: "return confirm('Are you sure?')" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
