<% content_for :page_title, @dataset.dataset_name %>
<% content_for :head do %>
  <%= stylesheet_link_tag "external_datasets" %>
<% end %>

<div class="row">
  <div class="col">
    <h2 class="text-center"><strong>Explore <%= @dataset.dataset_name.to_s.tr('_', ' ').titleize %></strong></h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= datagrid_form_for @grid, :method => :get, :url => "/datasets/#{@dataset.dataset_name}" %>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <%= datagrid_table @grid %>
  </div>
</div>

<div class="row mt-2">
  <div class="col-6">
    <%= paginate(@grid.assets) %>
  </div>
  <div class="col-6">
    <p class="float-right">Total count: <strong><%= ActiveSupport::NumberHelper.number_to_delimited @grid.assets.total_count %></strong></p>
  </div>
</div>
