<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <br>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <br>

  <div class="field">
    <%= f.label :description %>
    <%= f.bootsy_area :description, class: 'form-control topic-rich-textarea' %>
  </div>

  <br>

  <div class="field">
    <%= f.label :shortcuts %>
    <%= f.bootsy_area :shortcuts, class: 'form-control topic-rich-textarea' %>
  </div>

  <br>
  
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
