<%= render partial: 'header', locals: { topic: @topic } %>

<h3>New Element</h3>

<%= form_tag(new_element_topic_path(@topic), method: :get) do %>
  <% @types.each do |key, type| %>
    <%= radio_button_tag('type', key, @type.param == type.param) %> <%= type.display_name %> &nbsp;
  <% end %>

  <br><br>

  <div class="form-inline">
    <input id="add-element-search" type="text" name="q" placeholder="search for a thing" class="form-control" value="<%= @q %>">
    <input type="submit" value="Search" class="btn btn-default">
  </div>
<% end %>

<br>

<% if @q.present? %>
  <%= form_tag(add_element_topic_path(@topic), method: :post) do %>
    <input type="hidden" name="type" value="<%= @type.param %>">

    <% if @results.count > 0 %>
      <table class="table">
      <% @results.each do |result| %>
        <tr>
          <td>
            <input type="checkbox" name="element_ids[]" value="<%= result.id %>"> &nbsp;
          </td>
          <td>
            <%= send(:"#{result.class.name.underscore}_link", result) %>
            <% if result.respond_to?(:description) and result.description.present? %>
              <br>
              <%= raw(result.description) %>
            <% end %> 
          </td>
        </tr>
      <% end %>
      </table>
    <% else %>
      <strong>No results found.</strong>
    <% end %>

    <input type="submit" value="Add" class="btn btn-primary">
  <% end %>
<% end %>