<% if notice %>
<div class="alert alert-success">
  <%= notice %>
</div>
<% end %>

<%= render partial: 'header', locals: { topic: @topic } %>

<p><%= @topic.description %></p>

<br>

<div class="topic-shortcuts">
  <a href="#entities">People and Orgs</a><br>
  <a href="#lists">Lists</a><br>
  <a href="#maps">Maps</a><br>
  <a href="#industries">Industries</a>
</div>

<br>

<a name="entities" class="anchor"></a>
<h3>
  People and Orgs
  <% if has_legacy_permission('admin') %>
    <%= link_to('manage', members_list_path(@topic.default_list), class: 'btn btn-sm btn-link') %>
  <% end %>
</h3>

<% cache(@topic.cache_key('datatable')) do %>
  <%= render partial: 'datatable', locals: { table: @table, toggle_visibility: true } %>
<% end %>

<br>

<a name="lists" class="anchor"></a>
<h3>
  Lists 
  <% if has_legacy_permission('admin') %>
    <%= link_to('add', new_elements_topic_path(@topic, type: 'list'), class: 'btn btn-sm btn-link') %>
  <% end %>
</h3>

<% cache(@topic.cache_key('lists')) do %>
<table class="table">
<% @topic.lists.each do |list| %>
  <tr>
    <td class="fracking-element-name">
      <%= list_link(list) %> (<%= list.list_entities.count %>)
    </td>
    <td>
      <%= list.description %>
    </td>
    <% if has_legacy_permission('admin') %>
      <td class="fracking-element-remove">
        <%= link_to(raw("<i class='glyphicon glyphicon-remove'></i>"), remove_element_topic_path(@topic, type: 'list', element_id: list.id), method: :post, data: { confirm: 'Are you sure?' }) %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

<br>

<a name="maps" class="anchor"></a>
<h3>
  Maps
  <% if has_legacy_permission('admin') %>
    <%= link_to('add', new_elements_topic_path(@topic, type: 'map'), class: 'btn btn-sm btn-link') %>
  <% end %>
</h3>

<table class="table">
<% @topic.maps.each do |map| %>
  <tr>
    <td class="fracking-element-name">
      <%= network_map_link(map) %>
    </td>
    <td>
      <%= excerpt(HTMLEntities.new.decode(strip_tags(map.description)), 80) %>
    </td>
    <% if has_legacy_permission('admin') %>
      <td class="fracking-element-remove">
        <%= link_to(raw("<i class='glyphicon glyphicon-remove'></i>"), remove_element_topic_path(@topic, type: 'map', element_id: map.id), method: :post, data: { confirm: 'Are you sure?' }) %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br>

<a name="industries" class="anchor"></a>
<h3>
  Industries
  <% if has_legacy_permission('admin') %>
    <%= link_to('add', new_elements_topic_path(@topic, type: 'industry'), class: 'btn btn-sm btn-link') %>
  <% end %>
</h3>

<table class="table">
<% @topic.industries.each do |industry| %>
  <tr>
    <td class="fracking-element-name">
      <%= industry_link(industry) %>
    </td>
    <td>
      <%= industry.sector_name %>
    </td>
    <% if has_legacy_permission('admin') %>
      <td class="fracking-element-remove">
        <%= link_to(raw("<i class='glyphicon glyphicon-remove'></i>"), remove_element_topic_path(@topic, type: 'industry', element_id: industry.id), method: :post, data: { confirm: 'Are you sure?' }) %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br>

<% if has_legacy_permission('admin') %>
  <%= link_to 'Edit', edit_topic_path(@topic) %>
<% end %>