<p id="notice"><%= notice %></p>

<%= render partial: 'header', locals: { topic: @topic } %>

<p><%= @topic.description %></p>

<br>

<h3>Entities</h3>

<%= render partial: 'datatable', locals: { table: @table } %>

<br>

<h3>
  Lists 
  <% if has_legacy_permission('admin') %>
    <%= link_to('add', new_element_topic_path(@topic, type: 'list'), class: 'btn btn-sm btn-link') %>
  <% end %>
</h3>

<% @topic.lists.each do |list| %>
  <%= list_link(list) %> (<%= list.list_entities.count %>) &nbsp; <em><%= list.description %></em><br>
<% end %>

<br>
<br>

<% if has_legacy_permission('admin') %>
  <%= link_to 'Edit', edit_topic_path(@topic) %>
<% end %>