<h1>Rails Admin</h1>

<%= notice_if_notice %>

<div id="admin-links">
  <%= link_to 'users admin', admin_users_path %><br />
  <%= link_to 'tags admin', admin_tags_path %><br />
  <%= link_to 'active user stats', admin_stats_path %><br />
  <%= link_to 'dashboard bulletins', dashboard_bulletins_path %><br />
  <%= link_to 'permission passes', permission_passes_path %><br />
  <%= link_to 'edit pages', pages_path %><br />
  <%= link_to 'edit help pages', help_pages_path %><br />
</div>
