<div class="row">
  <div class="col">
    <h1>Site Administration</h1>
  </div>
</div>


<div class="row admin-table-row">
  <div class="col">
    <h2>Requests</h2>
    <%= datagrid_table(@requests, html: { class: 'table table-sm' }) %>
    <%= paginate(@requests.assets, param_name: :requests_page) %>
  </div>
</div>

<div class="row admin-table-row">
  <div class="col">
    <h2>User Signups</h2>
    <%= datagrid_table(@users, html: { class: 'table table-sm' }) %>
    <%= paginate(@users.assets, param_name: :user_signups_page) %>
  </div>
</div>


<div class="row admin-table-row">
  <div class="col">
    <h2>Flags</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Configuration</h2>
  </div>
  <div class="col">
    <div id="admin-links">
      <%= link_to 'View and Set User Permissions', admin_users_path %><br />
      <%= link_to 'Configure Tags', admin_tags_path %><br />
      <%= link_to 'Active User Statistics', admin_stats_path %><br />
      <%= link_to 'Dashboard Bulletins', dashboard_bulletins_path %><br />
      <%= link_to 'Permission Passes', permission_passes_path %><br />
      <%= link_to 'Edit Site Pages', pages_path %><br />
      <%= link_to 'Edit Help Pages', help_pages_path %><br />
      <%= link_to 'External Datasets', datasets_path %><br />
    </div>
  </div>
</div>
