<% content_for(:page_title, "Site Administration") %>

<div class="row">
  <div class="col">
    <h1>Site Administration</h1>
  </div>
</div>

<div class="row mb-">
  <div class="col">
    <div id="admin-links">
      <%= link_to 'Dashboard Bulletins', dashboard_bulletins_path %><br />
      <%= link_to 'Set User Permissions', admin_users_path %><br />
      <%= link_to 'View Maps', admin_maps_path %><br />
      <%= link_to 'Configure Tags', admin_tags_path %><br />
      <%= link_to 'Active User Statistics', admin_stats_path %><br />
      <%= link_to 'Permission Passes', permission_passes_path %><br />
      <%= link_to 'Edit Site Pages', pages_path %><br />
      <%= link_to 'Edit Help Pages', help_pages_path %><br />
    </div>
  </div>
</div>

<div class="row admin-table-row">
  <div class="col">
    <h2>Modification Requests</h2>
    <%= datagrid_table(@requests, html: { class: 'table table-responsive-lg table-sm' }) %>
    <%= paginate(@requests.assets, param_name: :requests_page) %>
  </div>
</div>

<div class="row admin-table-row">
  <div class="col">
    <h2>Editor Requests</h2>
    <%= datagrid_table(@role_upgrade_requests, html: { class: 'table table-responsive-lg table-sm' }) %>
    <%= paginate(@role_upgrade_requests.assets, param_name: :role_upgrade_page) %>
  </div>
</div>

<div class="row admin-table-row">
  <div class="col">
    <h2>New User Signups</h2>
    <%= datagrid_table(@users, html: { class: 'table table-responsive-lg table-sm' }) %>
    <%= paginate(@users.assets, param_name: :user_signups_page) %>
  </div>
</div>


<div class="row mt-4">
  <div class="col-12 col-sm-6">
    <h4>Send a test email</h4>

    <%=  form_with url: '/admin/test_email' do |form| %>
      <div class="mb-3">
        <label for="test_email_address" class="form-label">Email address</label>
        <input type="email" class="form-control" id="test_email_address" name="to" value="admin@littlesis.org" />
      </div>

      <div class="mb-3">
        <label for="test_email_content" class="form-label">Content</label>
        <input type="text" class="form-control" id="test_email_content" name="content" />
      </div>

      <%= form.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
