<div class="row">
  <div class="col-3">
    <%= form_tag "/admin/users", method: :get do %>
      <div class="input-group mb-3">
        <input name="q" type="text" class="form-control" placeholder="Search users">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><bi class="bi bi-search"></bi></button>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Joined</th>
          <th>Reason</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user_link(user) %>
              <% if user.role.name == 'deleted' %>
                <i title="deleted" class="ms-1 bi bi-trash3">
              <% else %>
                <i title="<%= user.email %>" class="ms-1 bi bi-envelope<%= user.confirmed? ? '-check' : '' %>"></i>
              <% end %>
            </td>
            <td><%= user.created_at.strftime("%F") %></td>
            <td class="cursor-default" title="<%= user.user_profile&.reason %>"><%= user.user_profile ? truncate(user.user_profile.reason) : nil %></td>
            <td data-controller="user-role-select"
                data-user-role-select-role-value="<%= user.role.name %>"
                data-user-role-select-userid-value="<%= user.id %>"
            ><%= select_tag('role', options_for_select(User.roles.keys) ) %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic outlined example" data-controller="admin-user-actions" data-admin-user-actions-userid-value="<%= user.id %>">
                <%= tag.button title: "resend confirmation email", class: "btn btm-sm btn-outline-primary", data: { "action" => "admin-user-actions#resendConfirmationEmail:once"}, disabled: (user.confirmed? || user.deleted?) do %>
                  <i class="admin-user-button-icon bi bi-envelope-plus pe-none"></i>
                <% end %>

                <%= tag.button title: "reset password", class: "btn btm-sm btn-outline-primary", data: { "action" => "admin-user-actions#resetPassword:once"}, disabled: user.deleted? do %>
                  <i class="admin-user-button-icon bi bi-file-earmark-lock2 pe-none"></i>
                <% end %>

                <%= tag.button title: "delete user", class: "btn btm-sm btn-outline-primary", data: { "action" => "admin-user-actions#deleteUser:once"}, disabled: user.deleted? do %>
                  <i class="admin-user-button-icon bi bi-trash3 pe-none"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div>
      <%= paginate @users %>
    </div>
  </div>
</div>
