Click on entities and relationships in the map to highlight them in this annotation.

<br><br>

<div id="netmap">
  <%= render partial: 'controls' %>
</div>

<br><br>

<form id="annotation-form" action="<%= @annotation.persisted? ? update_annotation_map_path(@map) : create_annotation_map_path(@map) %>" method="POST">
  <% if @annotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annotation.errors.count, "error") %> prohibited this annotation from being saved:</h2>

      <ul>
      <% @annotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= csrf_meta_tags %>
  <%= hidden_field_tag "annotation[id]", @annotation.id %>
  <%= hidden_field_tag "annotation[map_id]", @annotation.map.id %>
  <%= hidden_field_tag "annotation[highlighted_entity_ids]", @annotation.entity_ids, id: "entity-ids" %>
  <%= hidden_field_tag "annotation[highlighted_rel_ids]", @annotation.rel_ids, id: "rel-ids" %>
  <%= hidden_field_tag "annotation[highlighted_text_ids]", @annotation.text_ids, id: "text-ids" %>

  <div class="field">
    <%= label_tag :title %>
    <%= text_field_tag "annotation[title]", @annotation.title, id: nil, class: 'form-control' %>
  </div>

  <br>

  <div class="field">
    <%= label_tag :description %>
    <textarea class="form-control map-annotation-rich-textarea bootsy_text_area" data-bootsy-color="true" data-bootsy-emphasis="true" data-bootsy-font-styles="true" data-bootsy-html="true" data-bootsy-image="true" data-bootsy-link="true" data-bootsy-lists="true" data-bootsy-uploader="false" id="annotation_description_" name="annotation[description]"><%= @annotation.description %></textarea>
  </div>

  <br>
  
  <div class="actions">
    <%= submit_tag 'Save', class: 'btn btn-primary' %>
  </div>
</form>

<script>
$(document).ready(function() {
  var data = <%= raw annotation.map.prepared_data %>;
  var width = <%= Lilsis::Application.config.netmap_default_width %>;
  var height = <%= Lilsis::Application.config.netmap_default_height %>;
  var key = '<%= Lilsis::Application.config.netmap_api_key %>';
  var netmap = new Netmap(width, height, "#netmap", key, true);
  netmap.set_network_map_id(<%= annotation.map.id %>);
  netmap.set_user_id(<%= annotation.map.user_id %>);
  netmap.set_data(data);
  netmap.auto_center();
  netmap.enable_multiple_select();
  netmap.build();

  <% annotation.entity_ids.each do |id| %>
    netmap.toggle_selected_entity(<%= id %>);
  <% end %>
  <% annotation.rel_ids.each do |id| %>
    netmap.toggle_selected_rel(<%= id %>);
  <% end %>
  <% annotation.text_ids.each do |id| %>
    netmap.toggle_selected_text(<%= id %>);
  <% end %>
  <% if @map.zoom.present? %>
  netmap.zoom_by(<%= @map.zoom %>);
  <% end %>

  $('#annotation-form').on("submit", function() {
    $('#entity-ids').val(netmap.selected_entity_ids().join(','));
    $('#rel-ids').val(netmap.selected_rel_ids().join(','));
    $('#text-ids').val(netmap.selected_text_ids().join(','));
    return true;
  });
});

</script>