<div id="netmap_controls">

<%= text_field_tag :entity, nil, id: "netmap_entity_search", class: "form-control", placeholder: "add entity" %>
<br />
<br />

<input id="netmap_wheel" type="button" value="wheel" class="btn btn-default btn-sm" /><br />
<input id="netmap_short_force" type="button" value="force" class="btn btn-default btn-sm" /><br />
<input id="netmap_recenter" type="button" value="recenter" class="btn btn-default btn-sm" /><br />

<br />

Categories:
<select multiple id="netmap_cat_ids" class="form-control netmap-cat-ids" size="10">
  <option value="1">Position</option>
  <option value="2">Education</option>
  <option value="3">Membership</option>
  <option value="4">Family</option>
  <option value="5">Donation</option>
  <option value="6">Transaction</option>
  <option value="7">Lobbying</option>
  <option value="8">Social</option>
  <option value="9">Professional</option>
  <option value="10">Ownership</option>
</select>

<div class="checkbox">
  <label>
    <input id="netmap_current_only" type="checkbox" /> Current
  </label>
</div>

<input id="netmap_save" type="button" value="save" class="btn btn-primary btn-sm" /><br />
<br />
<%= button_to 'delete', map_path(map), method: :delete, data: { confirm: "Are you sure you want to delete this map?" }, class: 'btn btn-danger btn-sm' %>


<div id="netmap_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="modal-body-text"></div>
      </div>
    </div>
  </div>
</div>


<div id="netmap_add_entity">
<div id="netmap_add_entity_hide"><a id="netmap_add_entity_hide_link" onclick="$('#netmap_add_entity').css('display', 'none'); return false;">hide</a></div>
<h3>Add Entity</h3>
<form id="netmap_add_entity_form" class="form-inline">
  <div class="form-group"><input id="netmap_add_entity_search" type="text" class="form-control" /></div>
  <button id="netmap_add_entity_button" type="submit" class="btn btn-default">search</button>
</form>
<div id="netmap_add_entity_results"></div>
</div>

<div id="netmap_add_node">
<div id="netmap_add_node_hide"><a id="netmap_add_node_hide_link" onclick="$('#netmap_add_node').css('display', 'none'); return false;">hide</a></div>
<h3>Add Node</h3>
<form id="netmap_add_node_form" class="form-inline">
  <div class="form-group"><input id="netmap_add_node_name" type="text" class="form-control" placeholder="name"/></div>
  <button id="netmap_add_node_button" type="submit" class="btn btn-default">Add</button>
</form>
</div>

<div id="netmap_add_edge">
<div id="netmap_add_edge_hide"><a id="netmap_add_edge_hide_link" onclick="$('#netmap_add_edge').css('display', 'none'); return false;">hide</a></div>
<h3>Add Edge</h3>
<div class="form-inline">
  <table id="netmap_add_edge_table">
    <tr>
      <td>Node 1</td>
      <td><span id="netmap_add_edge_entity1"></span></td>
    </tr>
    <tr>
      <td>Node 2</td>
      <td><select id="netmap_add_edge_entity2_id" class="form-control"></select></td>
    </tr>
    <tr>
      <td>Label</td>
      <td><input id="netmap_add_edge_label" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><select id="netmap_add_edge_category_id" class="form-control">
        <option value=""></opton>
        <option value="1">Position</option>
        <option value="2">Education</option>
        <option value="3">Membership</option>
        <option value="4">Family</option>
        <option value="5">Donation</option>
        <option value="6">Transaction</option>
        <option value="7">Lobbying</option>
        <option value="8">Social</option>
        <option value="9">Professional</option>
        <option value="10">Ownership</option>
      </select></td>
    </tr>
    <tr>
      <td>Current</td>
      <td><input id="netmap_add_edge_current" type="checkbox" /></td>
    </tr>
    <tr>
      <td>Directional</td>
      <td><input id="netmap_add_edge_directional" type="checkbox" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button id="netmap_add_edge_button" class="btn btn-default">Add</button></td>
    </tr>
  </table>
</div>
</div>

<div id="netmap_add_interlocks">
<div id="netmap_add_interlocks_hide"><a id="netmap_add_interlocks_hide_link" onclick="$('#netmap_add_interlocks').css('display', 'none'); return false;">hide</a></div>
<h3>Add Interlocks</h3>
<div class="form-inline">
  <table id="netmap_add_interlocks_table">
    <tr>
      <td>Entity 1</td>
      <td><span id="netmap_add_interlocks_entity1"></span></td>
    </tr>
    <tr>
      <td>Entity 2</td>
      <td><select id="netmap_add_interlocks_entity2_id" class="form-control"></select></td>
    </tr>
    <!--
    <tr>
      <td>Limit to<br>Categories</td>
      <td>
        <%= select_tag 'netmap_add_interlocks_category_ids', options_from_collection_for_select(RelationshipCategory.all, 'id', 'name'), multiple: true, class: 'form-control' %>
      </td>
    </tr>
    -->
    <tr>
      <td></td>
      <td><button id="netmap_add_interlocks_button" class="btn btn-default">Add</button></td>
    </tr>
  </table>
</div>
</div>

<div id="netmap_add_related_entities">
<div id="netmap_add_related_entities_hide"><a id="netmap_add_related_entities_hide_link" onclick="$('#netmap_add_related_entities').css('display', 'none'); return false;">hide</a></div>
<input id="netmap_add_related_entities_entity_id" type="hidden" />
<h3>Add Related Entities</h3>
<input id="netmap_add_related_entities_num" type="text" class="form-control" value="10" size="2" />
<select id="netmap_add_related_entities_cat_ids" class="form-control netmap-cat-ids">
  <option value="1">Position</option>
  <option value="2">Education</option>
  <option value="3">Membership</option>
  <option value="4">Family</option>
  <option value="5">Donation</option>
  <option value="6">Transaction</option>
  <option value="7">Lobbying</option>
  <option value="8">Social</option>
  <option value="9">Professional</option>
  <option value="10">Ownership</option>
</select>
<input id="netmap_add_related_entities_button" type="button" class="btn btn-default" value="add" />
</div>

<div id="netmap_add_text">
<div id="netmap_add_text_hide"><a id="netmap_add_text_hide_link" onclick="$('#netmap_add_text').css('display', 'none'); return false;">hide</a></div>
<h3>Add Text</h3>
<form id="netmap_add_text_form" class="form-inline">
  <div class="form-group"><input id="netmap_add_text_content" type="text" class="form-control" /></div>
  <button id="netmap_add_text_button" type="submit" class="btn btn-default">Add</button>
</form>
</div>

<script>
$(window).ready(function(){

  $("#netmap_current_only").on("change", function() {
    if ($(this).is(':checked')) {
      netmap.limit_to_current();
    } else {
      netmap.show_all_rels();
    }
  });

  $("#netmap_cat_ids").on("change", function() {
    var cat_ids = $(this).val() == null ? 
      [] : $(this).val().map(function(i) { return Number(i); });
    if (cat_ids.length == 0) {
      netmap.show_all_rels();
    } else {
      netmap.limit_to_cats(cat_ids);
    }
  });

  $("#netmap_save").on("click", function() {
    netmap.remove_hidden_rels();

    var id = netmap.get_network_map_id();
    if (id) {
      var url = '<%= map_path(id: 999999) %>'.replace("999999", id);
    } else {
      var url = '<%= maps_path %>';
    }

    $.ajax({
      url: url,
      type: "PATCH",
      data: netmap.data_for_save(),
      success: function(data) { 
        $('#netmap_modal .modal-body-text').text("Map successfully saved");
        $('#netmap_modal').modal();
      },
      error: function(req, str) { 
        alert("There was an error saving the map: " + str); 
      },
      dataType: "json"
    })  
  });

  $("#netmap_reload").on("click", function() {
    netmap.reload_map();
  });

  $("#netmap_recenter").on("click", function() {
    netmap.recenter();
  });

  $("#netmap_prune").on("click", function() {
    netmap.prune();
  });

  $("#netmap_wheel").on("click", function() {
    netmap.wheel();
  });

  $("#netmap_grid").on("click", function() {
    netmap.grid();
  });

  $("#netmap_shuffle").on("click", function() {
    netmap.shuffle();
  });

  $("#netmap_short_force").on("click", function() {
    netmap.one_time_force();
  });

  var toggle_form = function(selector) {
    var form = $(selector);
    var parent = $(netmap.parent_selector);
    parent.append(form);
    form.css("left", netmap.mouse_x - parent.offset().left - 30 + "px")
    form.css("top", netmap.mouse_y - parent.offset().top - 60 + "px")
    form.css("display", form.css("display") == "none" ? "block" : "none")    
  }

  $(window).on('toggle_add_entity_form', function(){
    toggle_form("#netmap_add_entity");
  });

  $("#netmap_add_entity_form").on("submit", function() {
    var q = $("#netmap_add_entity_search").val();
    netmap.search_entities(q, function(entities) {
      var results = $("#netmap_add_entity_results");
      results.text("");

      if (entities.length == 0)
      {
        results.html("<strong>No results found.</strong>");
      }

      $(entities).each(function(i, e) {
        var result = $('<div class="netmap_add_entity_result" /></div>');
        add = $('<a>add</a>');
        add.data("entity_id", e.id)
        add.on("click", function(e) {
          position = [e.pageX - $("#svg").offset().left, e.pageY - $("#svg").offset().top]
          netmap.add_entity($(this).data("entity_id"), position);
          $("#netmap_add_entity").css("display", "none");
        })
        result.append(add);
        result.append("&nbsp;&nbsp;");
        var name = $('<a>' + e.name + '</a>');
        name.attr("href", e.url);
        name.attr("target", "_blank");
        result.append(name);
        results.append(result);
      });
    });  
    return false;
  });

  $(window).on('toggle_add_node_form', function() {
    toggle_form("#netmap_add_node");
  });

  $('#netmap_add_node_form').on('submit', function() {
    var name = $('#netmap_add_node_name').val();
    position = [$('#netmap_add_node').offset().left - netmap.width/2, $('#netmap_add_node').offset().top - netmap.height/2 - 100];
    if (name) {
      netmap.add_node(name, position[0], position[1]);
      $('#netmap_add_node').css('display', 'none');
      return false;
    }
  });

  $(window).on('toggle_add_edge_form', function() {
    $('#netmap_add_edge_entity1').html(netmap.get_selected_entity().name);
    $('#netmap_add_edge_entity2_id').html('<option value=""></option>');
    netmap.entity_options_for_select().forEach(function(o) {
      if (o[0] == netmap.selected_entity_id()) {
        return;
      }
      $('#netmap_add_edge_entity2_id').append('<option value=' + o[0] + '>' + o[1] + '</option>');
    });
    toggle_form("#netmap_add_edge");
  });

  $('#netmap_add_edge_button').on('click', function() {
    var entity2_id = $('#netmap_add_edge_entity2_id').val();
    var label = $('#netmap_add_edge_label').val();
    var category_id = $('#netmap_add_edge_category_id').val();
    var current = +$('#netmap_add_edge_current')[0].checked;
    var directional = +$('#netmap_add_edge_directional')[0].checked;

    if (netmap.selected_entity_id() && entity2_id && label) {
      netmap.add_edge(netmap.selected_entity_id(), entity2_id, label, category_id, current, directional);
      $('#netmap_add_edge').css('display', 'none');
    }
  });

  $(window).on('toggle_add_interlocks_form', function() {
    $('#netmap_add_interlocks_entity1').html(netmap.get_selected_entity().name);
    $('#netmap_add_interlocks_entity2_id').html('<option value=""></option>');
    netmap.littlesis_entity_options_for_select().forEach(function(o) {
      if (o[0] == netmap.selected_entity_id()) {
        return;
      }
      $('#netmap_add_interlocks_entity2_id').append('<option value=' + o[0] + '>' + o[1] + '</option>');    
    });
    toggle_form("#netmap_add_interlocks");
  });

  $('#netmap_add_interlocks_button').on('click', function() {
    var entity2_id = $('#netmap_add_interlocks_entity2_id').val();
    var category_ids = $('#netmap_add_interlocks_category_ids').val();

    if (netmap.selected_entity_id() && entity2_id) {
      netmap.add_interlocks(netmap.selected_entity_id(), entity2_id, category_ids);
      $('#netmap_add_interlocks').css('display', 'none');
    }
  });

  $(window).on('toggle_add_text_form', function() {
    $('#netmap_add_text_content').val('');
    toggle_form("#netmap_add_text");
  });

  $("#netmap_add_text_form").on("submit", function(e) {
    var content = $("#netmap_add_text_content").val();
    position = [$("#netmap_add_text").offset().left - netmap.width/2, $("#netmap_add_text").offset().top - netmap.height/2 - 100];
    netmap.add_text(content, position[0], position[1]);
    $('#netmap_add_text').css('display', 'none');
    return false;
  });

  $("#netmap_add_related_entities_button").on("click", function() {
    var entity_id = $("#netmap_add_related_entities_entity_id").val();
    var cat_ids = $("#netmap_add_related_entities_cat_ids").val();    
    var num = $("#netmap_add_related_entities_num").val();    
    netmap.add_related_entities(entity_id, num, cat_ids);
    $("#netmap_add_related_entities").css("display", "none");
  });

  var selected_callback = function(obj, datum) {
    netmap.add_entity(datum.id, [100, 100]);
    $('#netmap_entity_search').val('');
  };

  $('#netmap_entity_search')
    .typeahead({ 
      name: 'entities',
      remote: '<%= raw(name_search_entities_url + "?num=12&desc=true&with_ids=true&q=%QUERY") %>',
      limit: 20,
      dupDetector: false,
    })
    .on("typeahead:selected", selected_callback);

  $('#note_entity_search')
    .keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
});
</script>
</div>
