<div class="map-header">
  <h1 class="map-title"><%= map.name %></h1>  
  <input type="hidden" id="map-title-input" value="<%= map.name %>" />
</div>

<div class="row map-top-row">
  <div class="col col-xs-12 map-author">
    <%= link_to 'view', smart_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>

    <% if local_assigns[:fullscreen].present? %>
      &nbsp;<%= link_to 'default editor', edit_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>
    <% else %>
      &nbsp;<%= link_to 'fullscreen editor', edit_fullscreen_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>
    <% end %>

    &nbsp;<%= link_to 'annotations', annotations_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>
  </div>
</div>
