<h1><%= map.persisted? ? 'Edit' : 'New' %> Map</h1>

<% if map.persisted? %>
  <div class="row map-top-row">
    <div class="col col-xs-12">
        <input type="button" value="save" class="netmap_save btn btn-primary btn-sm" />

        &nbsp;<%= button_to 'delete', map_path(map), method: :delete, data: { confirm: "Are you sure you want to delete this map?" }, class: 'btn btn-danger btn-sm' %>

        &nbsp;<%= link_to 'view', smart_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>

        <% if local_assigns[:fullscreen].present? %>
          &nbsp;<%= link_to 'default editor', edit_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>
        <% else %>
          &nbsp;<%= link_to 'fullscreen editor', edit_fullscreen_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>
        <% end %>

        &nbsp;<%= link_to 'annotations', annotations_map_path(map), class: 'btn btn-sm btn-default', data: { confirm: "Are you sure? Unsaved changes will be lost!" } %>
    </div>
  </div>
<% end %>

<div class="checkbox">
  <label for="map_Featured Map">Featured map</label>
  <input id="map-is-featured" name="is_featured" type="checkbox" value="1" <%= map.is_featured ? 'checked' : '' %>>
</div>

<div class="checkbox">
  <label for="map_Private Map">Private map</label>
  <input id="map-is-private" name="is_private" type="checkbox" value="1" <%= map.is_private ? 'checked' : '' %>>
</div>

<div class="map-header">
  <strong>Title</strong>
  <h1 id="map-title">
    <input id="map-title-input" class="form-control" type="text" name="title" value="<%= map.title %>" placeholder="Untitled Map" />
  </h1>
</div>