<div class="map-header">
  <h1 class="map-title"><%= map.name %></h1>  
</div>

<div class="row map-top-row">
  <div class="col col-xs-6 map-author">
    <%= render partial: 'byline', locals: { map: map } %>

    <div id="fullscreen-link"><%= link_to('fullscreen', raw_map_path(@map)) %></div>
    <div id="embed-link"><a href="#">embed</a></div>
    <div id="embed-code">
      Width <input type="text" id="embed-width" value="550">&nbsp;&nbsp;
      Height <input type="text" id="embed-height" value="400">&nbsp;&nbsp;
      Zoom <input type="text" id="embed-zoom" value="1.0">
      <textarea><iframe height="400" width="550" scrolling="no" style="border: 0px; overflow: hidden;" src="<%= raw_map_url(@map, embed: true, zoom: 1) %>"></iframe><div style="padding: 5px;"><%= link_to('view this map on LittleSis', map_url(map)) %></div></textarea>
    </div>

    <div id="clone-link">
      <%= link_to 'clone', clone_map_path(@map), method: :post %>
    </div>
  </div>
  <div class="col col-xs-6 map-share-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="twittlesis" data-count="none" data-dnt="true" data-text="<%= @map.share_text %>">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div class="fb-share-button" data-href="<%= map_url(map) %>" data-type="button"></div>

    <div class="google-share-button">
      <div class="g-plus" data-action="share" data-annotation="none"></div>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>
  </div>
</div>

<script>
  $('#embed-link a').click(function(e) {
    var text = $('#embed-code textarea').val();
    var current_zoom = netmap.get_scale();
    text = text.replace(/zoom=[^"]+/, "zoom=" + current_zoom);
    $('#embed-zoom').val(current_zoom);
    var left = this.getBoundingClientRect().left - $('#netmap')[0].getBoundingClientRect().left;
    $('#embed-code').css('left', left);
    $('#embed-code textarea').val(text);
    $('#embed-code').toggle();
    $('#embed-code textarea').focus();
  });

  $("#embed-code textarea").focus(function() {
      var $this = $(this);
      $this.select();

      // Work around Chrome's little problem
      $this.mouseup(function() {
          // Prevent further mouseup intervention
          $this.unbind("mouseup");
          return false;
      });
  });

  $('#embed-width').on('input', function(){
    var text = $('#embed-code textarea').val();
    text = text.replace(/width="\d*"/, 'width="' + this.value + '"');
    $('#embed-code textarea').val(text);
  });

  $('#embed-height').on('input', function(){
    var text = $('#embed-code textarea').val();
    text = text.replace(/height="\d*"/, 'height="' + this.value + '"');
    $('#embed-code textarea').val(text);
  });

  $('#embed-zoom').on('input', function(){
    var text = $('#embed-code textarea').val();
    text = text.replace(/zoom=[^"]*/, "zoom=" + this.value);
    $('#embed-code textarea').val(text);
  });

</script>