<div class="map-header">
  <h1 class="map-title"><%= map.name %></h1>
  
  <% if map.description.present? %>
    <div class="map-description"><%= map.description %></div>
  <% end %>
</div>

<div class="row map-top-row">
  <div class="col col-xs-6 map-author">
    by <%= user_link(map.user) %> <span class="map-date"><%= map.updated_at.strftime("%B %-d, %Y") %></span>
    <%= link_to('#', map_path(map)) %>

    <div id="fullscreen-link"><%= link_to('fullscreen', raw_map_path(@map)) %></div>
    <div id="embed-link"><a href="#">embed</a></div>
    <div id="embed-code">
      <textarea><iframe height="600" width="900" scrolling="no" style="border: 0px; overflow: hidden;" src="<%= raw_map_url(@map) %>"></iframe></textarea>
    </div>
  </div>
  <div class="col col-xs-6 map-share-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="twittlesis" data-count="none" data-dnt="true" data-text="<%= @map.share_text %>">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div class="fb-share-button" data-href="<%= map_url(map) %>" data-type="button"></div>

    <div class="google-share-button">
      <div class="g-plus" data-action="share" data-annotation="none"></div>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    </div>
  </div>
</div>