<%= paginate maps %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% maps.each do |map| %>
      <tr>
        <td>
          <%= network_map_link(map) %>
          <% if map.is_private %>
            &nbsp;<span class="glyphicon glyphicon-lock"></span>
          <% end %>
        </td>
        <td>
          <%= user_link(map.user) %>
        </td>
        <td><%= time_ago_in_words(map.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate maps %>