<table class="table no-top-border mt-4 mb-4" id="maps-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Updated</th>
      <% if current_user&.admin? %>
	<th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% maps.each do |map| %>
      <tr>
        <td><%= network_map_link(map) %></td>
        <td>
          <%= user_link(map.user) %>
        </td>
        <td><%= time_ago_in_words(map.updated_at) %> ago</td>

	<% if current_user&.admin? %>
	  <td>
	    <%= network_map_feature_btn(map) %>
            <%= link_to(tag.span,
                        map_path(map),
                        class: 'delete-map-button',
                        title: 'Permanently delete this map',
                        remote: false,
                        method: :delete,
                        data: { confirm: "Are you sure?" } ) %>
          </td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
