<div class="map-header">
  <h1 class="map-title"><%= link_to(@map.name, smart_map_path(@map)) %></h1>  
</div>

<% if notice %>
<br>
<div class="alert alert-success">
  <%= notice %>
</div>
<% end %>

<h3>Annotations &nbsp;<%= link_to "new", new_annotation_map_path(@map), class: "btn btn-sm btn-default" %></h3>

<table id="annotations" class="table">
  <thead>
    <th>Title</th>
    <th></th>
  </thead>
<% @map.annotations.sort_by(&:order).each do |a| %>
  <tr id="annotation-<%= a.id %>" class="sortable">
    <td><%= link_to a.title, edit_annotation_map_path(@map, annotation_id: a.id) %></td>
    <td>
      <%= link_to(raw("<i class='glyphicon glyphicon-remove'></i>"), destroy_annotation_map_path(@map, annotation_id: a.id), method: :post, class: "map-annotation-destroy", data: { confirm: 'Are you sure?' }) %>
    </td>
  </tr>
<% end %>
</table>

<script>
var fixHelper = function(e, ui) {
  ui.children().each(function() {
    $(this).width($(this).width());
  });
  return ui;
};

$(function() {
  $('#annotations tbody').sortable({ 
    helper: fixHelper,
    update: function(event, ui) {
      var ids = $('tr.sortable').toArray().map(function(r) { return r.id.split('-')[1]; }).join(",");
      $.ajax({
        method: "POST",
        url: '<%= reorder_annotations_map_path(@map) %>', 
        data: { annotation_ids: ids },
        dataType: "json",
        success: function(data) {
          ui.item.effect("highlight", { color: '#8f8' }, 2000);
        },
        error: function(msg) {
          alert("Server error: couldn't update annotation order.");
          $('#annotations tbody').sortable("cancel");
          ui.item.effect("highlight", { color: '#f88' }, 2000);
        }
      });
    }
  }).disableSelection();

});
</script> 