<%= content_for(:head) do %>
  <%= oligrapher_js_tags %>
<% end %>

<%= cache_if !user_signed_in?, [ 'embedded', @map ] do %>

<% content_for(:page_title, raw(@map.name)) %>
<% content_for(:hide_footer, true) %>

<div id="oligrapher" class="embedded"></div>
<a href="//littlesis.org" target="_blank">
  <%= image_tag("lilsis-logo-trans-200.png", id: "oligrapherLogo") %>
</a>

<script>
  var graph = <%= raw(@map.graph_data.to_json) %>;
  graph.id = <%= @map.id %>;

  var annotations = <%= raw(@map.annotations_data) %>;
  var startIndex = <%= params.fetch(:slide, 1).to_i - 1 %>;

  var root = document.getElementById('oligrapher');
  root.style.height = window.innerHeight + "px";

  var oli = new Oligrapher({
    root: root,
    url: "<%= map_url(@map) %>",
    data: {
      title: "<%= raw(@map.title.gsub('"', '\"')) %>",
      graph: graph,
      annotations: annotations
    },
    startIndex: startIndex,
    isEditor: false,
    isLocked: true
  });


 var windowHeight = window.innerHeight;
 var annotations = document.getElementById('oligrapherGraphAnnotations');
 var annotationsHeight = annotations ? annotations.offsetHeight : 0;
 var headerHeight = document.getElementById('oligrapherHeader').offsetHeight;
 var graphHeight = windowHeight - annotationsHeight - headerHeight + 25;
 document.querySelector('#oligrapherContainer svg').setAttribute('height', graphHeight)

</script>

<% end %>
