<% content_for(:page_title, @map.name) %>

<div id="netmap" class="fullscreen">
  <%= render partial: 'controls' %>
</div>

<script>
var data = <%= raw @map.prepared_data %>;
var width = <%= Lilsis::Application.config.netmap_default_width %>;
var height = <%= Lilsis::Application.config.netmap_default_height %>;
var key = '<%= Lilsis::Application.config.netmap_api_key %>';
var netmap = new Netmap(null, null, "#netmap", key, true);
netmap.set_network_map_id(<%= @map.id %>);
netmap.set_user_id(<%= @map.user_id %>);
netmap.set_data(data);
netmap.auto_center();
netmap.build();
</script>

