<% content_for(:page_title, 'Network Maps') %>

<h1>
  Network Maps
  <%= link_to 'featured maps', featured_maps_path, class: 'btn btn-secondary btn-sm' %>
  <% if params[:q].present? %>
    <%= link_to 'all maps', all_maps_path, class: 'btn btn-secondary btn-sm' %>
  <% end %>
</h1>

<%= form_tag nil, method: :get do %>
  <div class="input-group col-xs-4 maps_search">
    <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Search maps" %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-secondary">
        <span class="glyphicon glyphicon-search"></span>
      </input>
    </span>
  </div>
<% end %>

<br>

<%= render partial: 'maps/table', locals: { maps: @maps } %>
