<% content_for(:page_title, 'Network Maps') %>

<%= centered_content do %>

<h1><%= @header %></h1>

<%= form_tag nil, method: :get do %>
  <div class="input-group col-xs-6 maps_search">
    <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Search maps" %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </input>
    </span>
  </div>
<% end %>

<br>

<%= render partial: 'maps/table', locals: { maps: @maps } %>

<% end %>