<% content_for(:static_navbar, true) %>
<% content_for(:page_title, @map.name) %>

<%= render 'shared/facebook_sdk' %>

<%= centered_content do %>

<%= render partial: 'header', locals: { map: @map } %>

<div id="netmap">
  <%= render partial: 'controls' %>
</div>

<% if @map.description.present? %>
  <div id="map-description">
    <%= raw(@map.description) %>
  </div>
<% end %>

<script>
var data = <%= raw @map.prepared_data %>;
var width = <%= Lilsis::Application.config.netmap_default_width %>;
var height = <%= Lilsis::Application.config.netmap_default_height %>;
var key = '<%= Lilsis::Application.config.netmap_api_key %>';
var netmap = new Netmap(width, height, "#netmap", key, true);
netmap.set_network_map_id(<%= @map.id %>);
netmap.set_user_id(<%= @map.user_id %>);
netmap.set_data(data);
netmap.auto_center();
netmap.build();

$('#embed-link a').click(function(e) {
  $('#embed-code').toggle(); 
  $('#embed-code textarea').focus();
});

$("#embed-code textarea").focus(function() {
    var $this = $(this);
    $this.select();

    // Work around Chrome's little problem
    $this.mouseup(function() {
        // Prevent further mouseup intervention
        $this.unbind("mouseup");
        return false;
    });
});

</script>

<% end %>