<% content_for(:static_navbar, true) %>
<% content_for(:full_width_top, true) %>
<% content_for(:page_title, raw(@map.name)) %>
<% content_for(:facebook_title, @map.name) %>
<% content_for(:facebook_image, @map.thumbnail) %>
<% content_for(:hide_footer, true) %>

<%= content_for(:body) do %>

<%= render 'shared/facebook_sdk' %>

<div id="oligrapher-annotations"></div>

<script>
  var graph = LsDataConverter.convertMapData(<%= raw(JSON.dump(@map.to_clean_hash)) %>);
  var startIndex = <%= params.fetch(:slide, 1).to_i - 1 %>;
  var annotations = <%= raw(JSON.dump(@map.annotations_data)) %>;

  var root = document.getElementById('oligrapher-annotations');
  root.style.height = window.innerHeight - 70 + "px";

  var oliAnnotations = new OligrapherAnnotations({
    root: root,
    oligrapher: Oligrapher,
    data: graph, 
    annotations: annotations,
    user: { name: "<%= @map.user.username %>", url: "<%= @map.user.full_legacy_url %>" },
    date: '<%= @map.created_at.strftime("%B %-d, %Y") %>',
    startIndex: startIndex,
    isEditor: <%= @editable.to_s %>,
    editor: OligrapherEditor,
    dataSource: LsDataSource
  });
</script>

<% end %>