<div class="row actions-row mt-2">
  <div id="actions" class="col-md-8 col-sm-8">
    <%# if user_signed_in? %>
    <div id="action-buttons">
      <%= link_to "add relationship", concretize_add_relationship_entity_path(entity), class: "action-button" %>
      <%= link_to "edit", concretize_edit_entity_path(entity), class: "action-button" %>
      <%= link_to "flag", flag_path, class: "action-button" %>

      <% if current_user.permissions.entity_permissions(entity).fetch(:deleteable) %>
        <%= button_to("remove", concretize_entity_path(entity),
                      method: :delete,
                      id: "remove_entity_#{entity.id}",
                      form: { onsubmit: "return confirm('Are you sure you want to remove this entity?')"  },
                      class: 'delete-entity-btn action-button') %>

      <% else %>
        <%= link_to 'remove', new_deletion_requests_entity_path(entity_id: @entity.id) %>
      <% end  %>

      <%= link_to 'merge', merge_path(mode: :search, source: @entity.id) %>

      <% if current_user.permissions.show_add_bulk_button? %>
        <%= link_to "add bulk", relationships_bulk_add_path(entity_id: entity.id), class: "action-button" %>
      <% end %>
    </div>
    <%# end # if user.signed_in? %>
  </div>
  <div class="col-md-4 col-sm-4 hidden-xs">
    <%#= EntityLastEditorPresenter.html(@entity) %>
  </div>
</div>


<!-- <div class="thin-grey-line"></div> -->
