<div class="row actions-row mt-2">
  <div id="actions" class="col-md-8 col-sm-8">
    <div id="action-buttons">
      <%= link_to t('phrases.add_relationship'), "/entities/#{@entity.id}/add_relationship", class: "action-button", data: { turbo: true, turbo_frame: 'profile-modal'} %>
      <%= link_to t('vocab.edit'), "/entities/#{@entity.id}/edit_profile", class: "action-button", data: { turbo: true, turbo_frame: 'profile-modal'} %>
      <%= link_to t('vocab.flag'), flag_path, class: "action-button" %>

      <% if @entity.permissions_for(current_user).deleteable %>
        <%= button_to(t('vocab.remove'), concretize_entity_path(@entity),
                      method: :delete,
                      id: "remove_entity_#{@entity.id}",
                      form: { onsubmit: "return confirm('Are you sure you want to remove this entity?')"  },
                      class: 'delete-entity-btn action-button') %>

      <% else %>
        <%= link_to t('vocab.remove'), new_deletion_requests_entity_path(entity_id: @entity.id) %>
      <% end  %>


      <%= link_to t('vocab.merge'), merge_entities_path(mode: :search, source: @entity.id) %>

      <% if current_user.show_add_bulk_button? %>
        <%= link_to t("phrases.add_bulk"), relationships_bulk_add_path(entity_id: @entity.id), class: "action-button" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 hidden-xs">
    <%#= EntityLastEditorPresenter.html(@entity) %>
  </div>
</div>

<!-- <div class="thin-grey-line"></div> -->
