<div class="entity_carousel">
  <div class="entity_carousel_image" <%= raw(entity.featured_image_url.present? ? 'style="background-image: url(' + entity.featured_image_url + ');"' : '') %>>
  </div>

  <div class="entity_carousel_text">
    <div class="entity_carousel_name"><%= entity_link(entity) %></div>

    <% if entity.blurb.present? %>
      <span class="entity_carousel_description"><%= entity.blurb %><br /></span>
    <% end %>

    <table class="entity_carousel_connections">
    <tr>
    <td>
      <h4>
        <%= entity.person? ? "Key affiliations" : "Key people" %>
      </h4>

      <% entity.relateds_by_count(num: 5, primary_ext: entity.other_ext).each do |related| %>
        <%= entity_link(related, truncate(related.name, length: 55)) %>
        <br />
      <% end %>

      <strong><%= link_to(raw("More &raquo;")) %></strong>
    </td>

    <td>
      <h4>
        Related <%= entity.person? ? 'people' : 'orgs' %>
      </h4>

      <% options = {
        num: 5,
        order1: entity.person? ? 1 : 2,
        order2: entity.person? ? 2 : 1,
        cat1_ids: [1,3],
        cat2_ids: [1,3]
      } %>

      <% entity.interlocks_by_count(options).each do |ary| %>
        <%= entity_link(ary[:entity], truncate(ary[:entity].name, length: 55)) %>
        <br />
      <% end %>

      <strong><%= link_to(raw("More &raquo;")) %></strong>
    </td>
    </tr>
    </table>
  </div>
</div>
