<% #locals: connected_entities: [ConnectedEntityHash],
  #           connection_type: Symbol
  #           has_stat: Boolean %>

<div id="entity-connections-container">

  <%= entity_connections_header(connection_type, @entity)  %>

  <table class="table no-top-border" id="entity-connections-table" data-controller="tooltip">

    <%= entity_connections_table_headers(connection_type, @entity) %>
    <tbody>
      <% connected_entities.each do |connected_entity_hash| %>
        <tr>
          <td class="connected-entity-cell">
            <% connected_entity =  connected_entity_hash['connected_entity'] %>
            <%= link_to connected_entity.name, concretize_entity_path(connected_entity), data: {tooltip_target: "trigger", placement: :top, title: connected_entity.blurb} %>
          </td>

          <% if has_stat %>
            <td class="connection-stat-cell">
              <%= connected_entity_hash['stat'] %>
            </td>
          <% end %>

          <td class="connecting-entities-cell">
            <%= entity_links(connected_entity_hash['connecting_entities']) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="entity-connections-pagination">
    <%= paginate connected_entities %>
  </div>
</div>
