<div class="row">

  <h2>External Links<small class="text-muted pl-2">Connect this entity to other sites</small>
  </h2>
</div>

<div id="edit-external-links-container">
  <% ExternalLink.find_or_initalize_links_for(@entity).each do |el| %>
    <div class="row">
      <%= form_for el, html: { class: '', id: "#{el.link_type}_external_link_form" } do |f| %>
	<% unless el.persisted?  %>
	  <%= f.hidden_field :entity_id  %>
	  <%= f.hidden_field :link_type  %>
	<% end %>
	<div class="input-group mb-2">
	  <div class="input-group-prepend">
	    <div class="input-group-text"><%= el.link_type.capitalize %>:</div>
	  </div>
	  <%= f.text_field :link_id, class: 'form-control', id: "#{el.link_type}_external_link_link_id_input" %>
	  <div class="input-group-append">
	    <%= f.submit "Submit", class: %w[btn btn-primary] %>
	  </div>
	</div>
      <% end %>
  <% end %>
    </div>
</div>
