<div class="row">
  <div class="col">
    <h4>Aliases <small class="text-muted pl-2">additional names for the <%= @entity.org? ? 'entity' : 'person' %></small></h4>
  </div>
</div>

<div class="row">
  <div class="col-8 col-sm-7 col-md-9">
    <p> <%= t('phrases.create_new_alias') %>:</p>
    <%= form_for @entity.aliases.new do |f| %>
      <%= f.hidden_field :entity_id, value: @entity.id %>
      <div class="input-group">
	<%= f.text_field :name, { required: true, class: 'form-control' }  %>
        <%= f.submit t('vocab.add').capitalize, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-8 col-md-9 top-1em">
    <% if @entity.aliases.size > 1 %>
      <p class="mt-1"><%= t('phrases.change_default_name') %></p>
    <% end %>

    <ul class="list-group">
      <% @entity.aliases.each do |a| %>
	<%= render partial: 'edit_alias', locals: { entity_alias: a }%>
      <% end %>
    </ul>
  </div>
</div>
