<div class="row">
  <div class="col">
    <h2>Aliases <small class="text-muted pl-2">additional names for the <%= @entity.org? ? 'entity' : 'person' %></small></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8">
    <p> Create a new alias:</p>
    <%= form_for @entity.aliases.new, :html => { class: 'form-inline' } do |f| %>
      <%= f.hidden_field :entity_id, value: @entity.id %>
      <div class="form-group">
	<%= f.text_field :name, {required: true, class: 'form-control'}  %>
        <div class="input-group-append">
          <%= f.submit 'Add', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-8 col-md-6 top-1em">
    <% if @entity.aliases.size > 1 %>
      <p class="mt-1">Click "make primary" to change the entity's default name</p>
    <% end %>

    <ul class="list-group">
      <!-- <ul class="list-unstyled"> -->
      <% @entity.aliases.each do |a| %>
	<%= render partial: 'edit_alias', locals: { entity_alias: a }%>
      <% end %>
    </ul>
  </div>
</div>
