<%= turbo_frame_tag "edit-profile-modal" do %>

  <% if current_user&.editor? %>
    <% label_class = 'col-form-label'.freeze %>
      <div class="modal" data-controller="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h6><%= "#{t('vocab.edit').capitalize}: #{@entity.name}" %></h6>
              <%= button_tag "", data: { action: "modal#close", aria_label: "Close" }, type: "button", class: "btn-close" %>
            </div>

            <div class="modal-body">
              <%= form_for @entity, method: 'patch', class: 'form-horizontal', builder: LsFormBuilder, data: {turbo_frame: "_top", controller: "entity-edit"} do |f| %>

                <div class="row mb-2 mt-2">
                  <div class="col-sm-12 col-md-6">
                    <%= render partial: 'shared/editing/reference_widget',
                             locals: { documents: RecentEntityReferencesQuery.run(@entity) } %>
                  </div>

                  <div class="col-sm-12 col-md-5 col-md-offset-1">
                    <%= render partial: 'edit_errors' %>
                  </div>
                </div>

                <% if @entity.person? %>
                  <%= render partial: 'type_checkboxes_person', locals: { f: f } %>
                <% else  %>
                  <%= render partial: 'type_checkboxes_org', locals: { f: f } %>
                <% end  %>

                <%= edit_entity_form_section(
                  f.label(:blurb, 'Blurb', class: label_class),
                  f.text_field(:blurb, class: 'form-control')
                ) %>

                <%= edit_entity_form_section(
                  f.label(:summary, t('vocab.summary').capitalize, class: label_class),
                  f.text_area(:summary, class: 'form-control', size: '40x6')
                ) %>

                <%= edit_entity_form_section(
                  f.label(:start_date, (@entity.person? ? t('vocab.birth_date') : t('vocab.start_date')).capitalize, class: label_class),
                  f.text_field(:start_date) # + content_tag(:small, '(YYYY-MM-DD. Use 1968-05-00 to specify May 1968)')
                ) %>

                <%= edit_entity_form_section(
                  f.label(:end_date, (@entity.person? ? t('vocab.death_date') : t('vocab.end_date')).capitalize, class: label_class),
                  f.text_field(:end_date) # + content_tag(:small, '(YYYY-MM-DD. Use 1968-05-00 to specify May 1968)')
                ) %>

                <%= edit_entity_form_section(
                  f.label(:is_current, (@entity.person? ? t('vocab.is_alive') : t('vocab.is_current')), class: label_class),
                  f.tri_boolean(:is_current)
                ) %>

                <%= edit_entity_form_section(
                  f.label(:website, t('vocab.website').capitalize, class: label_class),
                  f.url_field(:website)
                ) %>

                <% if @entity.person?  %>
                  <%= f.fields_for :person do |person_form| %>
                    <% %i[name_first name_middle name_last name_prefix name_suffix name_nick birthplace].each do |attribute| %>
                      <%= edit_entity_form_section(
                        person_form.label(attribute, Person::DISPLAY_ATTRIBUTES[I18n.locale][attribute], class: label_class),
                        person_form.text_field(attribute)
                      ) %>
                    <% end %>
                    <%= edit_entity_form_section(
                      person_form.label(:gender, t('vocab.gender').capitalize, class: label_class),
                      person_form.select(:gender_id, gender_select_options(person_form))
                    ) %>
                  <% end %>
                <% end %>

                <% if @entity.has_extension?('PublicCompany') %>
                  <%= f.fields_for :public_company do |public_company_form| %>
                    <%= edit_entity_form_section(
                      public_company_form.label(:ticker, 'Ticker', class: label_class),
                      public_company_form.text_field(:ticker)
                    ) %>
                  <% end %>
                <% end %>

                <% if @entity.has_extension?('Business') %>
                  <%= f.fields_for :business do |business_form| %>
                    <%= edit_entity_form_section(
                      business_form.label(:marketcap, 'Market capitalization', class: label_class),
                      business_form.number_field(:marketcap)
                    ) %>
                    <%= edit_entity_form_section(
                      business_form.label(:assets, 'Assets', class: label_class),
                      business_form.number_field(:assets)
                    ) %>
                    <%= edit_entity_form_section(
                      business_form.label(:net_income, 'Net income', class: label_class),
                      business_form.number_field(:net_income)
                    ) %>
                    <%= edit_entity_form_section(
                      business_form.label(:annual_profit, 'Annual profit', class: label_class),
                      business_form.number_field(:annual_profit)
                    ) %>
                  <% end %>
                <% end %>

                <% if @entity.has_extension?('School') %>
                  <%= f.fields_for :school, @entity.school do |school_form| %>
                    <%= edit_entity_form_section(
                      school_form.label(:is_private, 'Private School?', class: label_class),
                      school_form.tri_boolean(:is_private)
                    ) %>
                  <% end %>
                <% end %>

                <%# Regions %>
                <%= edit_entity_form_section(
                  f.label(:regions, "#{t('vocab.location').capitalize}: ", class: label_class),
                  f.select(:regions,
                           options_for_select(Location.regions.to_a, selected: @entity.region_numbers),
                           { include_blank: true},
                           { multiple: true })
                ) %>

                <div class="row mb-3">
                  <div class="col-8">
                    <%= f.submit t('vocab.update').capitalize, class: 'btn btn-primary' %>
                    <%= link_to t('vocab.cancel').capitalize, @entity.url, class: 'btn btn-secondary ms-2' %>
                  </div>
                </div>
              <% end  # end form-for %>

              <hr>
              <%= render partial: 'edit_aliases' %>

              <hr>
              <%= render partial: 'edit_external_links' %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-backdrop show" style="pointer-events: auto;"></div>
    </div>

  <% end %>
<% end %>
