<% content_for(:page_title, @entity.name) %>
<% content_for :head do %>
  <%= og_tags(title: "LittleSis: #{@entity.name}", url: entity_url(@entity), image: @entity.featured_image_url) %>
  <%= stylesheet_link_tag "profile", media: "all" %>
<% end  %>

<div id="entity-profile-page">
  <div class="row mt-2">
    <div class="col">
      <h1>
        <%= link_to @entity.name, concretize_entity_path(@entity), class: 'entity-name2' %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col profile-page-editable-blurb" data-controller="profile--editable-blurb" data-profile--editable-blurb-entityid-value="<%= @entity.id %>">
      <h5 class="entity-blurb-text d-inline-block" data-profile--editable-blurb-target="blurb">
        <%= @entity.blurb %>
      </h5>
      <% if user_signed_in? %>
        <div class="d-inline-block ms-2">
          <i class="bi bi-pencil-fill" aria-hidden="true"
             data-profile--editable-blurb-target="pencil"
             data-action="click->profile--editable-blurb#editBlurb"
          ></i>
        </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= render partial: 'actions' %>
  <% end %>

  <% if @entity.summary.present? %>
    <div class="row mt-2">
      <div class="col-12 col-md-8">
        <div id="profile-page-entity-summary-container" class="position-relative" data-controller="profile--entity-summary">
          <p class="collapse" id="profile-page-entity-summary" aria-expanded="false">
            <%= @entity.summary %>
            <a role="button" class="collapsed" data-bs-toggle="collapse" href="#profile-page-entity-summary" aria-expanded="false" aria-controls="profile-page-entity-summary"></a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
