<% #locals: image %>

<% image_deletion_request_modal_id = "image-#{image.id}-deletion-request-modal" %>
<% image_caption_modal_id = "image-#{image.id}-caption-modal" %>

<tr>
  <td>
    <%= link_to(image_tag(image.image_path('profile'), :class => 'img-responsive'), image.image_path("large")) %>
  </td>

  <td>
    <p class="image-caption" title="Edit this caption">
    <span onclick="$('#<%=image_caption_modal_id %>').modal('show')"><%= image.title %></span>
    </p>
    <em>Posted <%= image.created_at.strftime("%F") %></em></p>
  </td>

  <td>
    <%= link_to("crop", crop_image_path(image)) %><br>

    <% unless image.is_featured %>
      <%= link_to("feature", concretize_feature_image_entity_path(@entity, image_id: image.id), method: :post, data: { confirm: "Are you sure?" }) %>
      <br>
    <% end %>

    <a href="#"' onclick="$('#<%=image_deletion_request_modal_id %>').modal('show')">
    Request deletion
    </a>

    <br/>

    <% if current_user.admin? and image.url %>
      <%= link_to("view original", image.url) %><br>
    <% end %>

    <% if current_user.has_ability?('deleter') %>
      <%= link_to("remove", concretize_remove_image_entity_path(@entity, image_id: image.id), method: :post, data: { confirm: "Are you sure?" }) %>
    <% end %>

  </td>
</tr>

<div class="modal fade" tabindex="-1" role="dialog" id="<%= image_deletion_request_modal_id %>">
  <div class="modal-dialog image-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Image Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body image-modal-body">
        <p>Briefly, why should this image be destroyed?</p>
        <%= form_tag(deletion_requests_images_path, method: :post) do %>
          <%= hidden_field_tag :image_id, image.id %>
          <%= hidden_field_tag :entity_id, @entity.id, id: 'image_deletion_request_entity_id' %>
          <div class="input-group">
            <input type="text" name="justification"/>
            <div class="input-group-append">
              <button type="submit" class="btn">Submit</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="<%= image_caption_modal_id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content image-modal">
      <div class="modal-header">
        <h5 class="modal-title">Update image caption</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body image-modal-body">
        <%=  form_with(model: image, url: "/images/#{image.id}/update", method: "post") do |image_form| %>
          <div class="input-group">
            <%= image_form.text_field :caption %>
            <div class="input-group-append">
              <button type="submit" class="btn">Submit</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
