<div class="col-md-3 col-sm-3" id="about-sidebar">
    <div class="thin-grey-bottom-border">
        <h3 class="text-center"><%= @entity.name %></h3>
	<% if @entity.person? %>
            <% cache @entity.person do %>
		<%= render partial: 'about_sidebar', locals: { person: @entity.person } %>
            <% end %>
	<% end %>
    </div>
    <br>

    <!-- This section was made before the SortedLinks class was written -->
    <!-- Eventually we should replace this with a common sorted links section that works for both People and Orgs-->
    <% if @entity.person? %>

      <% if @entity.relationships.where('relationships.category_id = 1 OR relationships.category_id = 3').present? %>
        <div class="text-center">
	  <p class=""><strong>Positions</strong></p>
	  <% @entity.relationships.where('relationships.category_id = 1 OR relationships.category_id = 3').each do |r|  %>
            <% cache r do %>
	      <%= render partial: 'position', locals: { relationship: r } %>
            <% end %>
	  <% end %>
        </div>
      <% end %>

      <% if @entity.relationships.where(category_id: 2).present? %>
        <div class="text-center">
	  <p><strong>Education</strong></p>
	  <% @entity.relationships.where(category_id: 2).each do |r|  %>
            <% cache r do %>
	      <%= render partial: 'position', locals: { relationship: r } %>
            <% end %>
	  <% end %>
        </div>
      <% end %>

      <% if @entity.relationships.where(category_id: 4).present? %>
        <div class="text-center">
	  <p><strong>Family</strong></p>
	  <% @entity.relationships.where(category_id: 4).each do |r|  %>
            <% cache r do %>
	      <% family_details = RelationshipDetails.new(r).family_details_for(@entity) %>
	      <% unless family_details.nil?  %>
		<p><%= family_details[1]  %><br><span class="text-primary"><%= rel_link(r, family_details[0]) %></span></p>
	      <% end %>
            <% end %>
	  <% end %>
        </div>
      <% end %>
    <% end %>


    <% if @entity.org? %>
      <% cache ['match_sidebar_org', @entity.cache_key_with_version] do %>
	<% sorted_links = SortedLinks.new(@entity) %>
	<% if sorted_links.staff.count > 0 %>
	  <div class="text-center">
	    <p><strong>Staff</strong></p>
	    <% sorted_links.staff.links.flatten.map(&:relationship).slice(0,8).each do |r| %>
	      <% other_entity = r.entity_related_to(@entity) %>
	      <p><%= other_entity.name  %>
		<br>
		<span class="text-primary"><%= rel_link(r, r.title) %></span>
	      </p>
	    <% end  %>
	  </div>
	<% end  %>
      <% end  %>
    <% end %>
</div>
