<!--
     This form is used in two places: the /entities/new and / entities/:id/add_relationship
 -->

<!-- This initial logic ensures that the variable entity is set correctly depending on which page the from is being used for -->

<% add_relationship = false if local_assigns[:add_relationship].nil? %>
<% if @entity.nil? || add_relationship %>
    <% entity = Entity.new %>
<% else%>
    <% entity = @entity %>
<% end %>

<%= form_for(entity, url: form_url) do |f| %>
    <% if entity.errors.any? %>
	<div id="error_explanation" class="alert alert-warning">
	    <%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:

	    <ul>
		<% entity.errors.each do |attr, msg| %>
		    <li><%= (attr == :primary_ext ? :type : attr).to_s.capitalize %> <%= msg %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <% if add_relationship %>
	<%= hidden_field_tag :add_relationship_page, 'TRUE' %>
    <% end %>

    <div class="field">
	<%= f.label "Name*", for: :entity_name %>
	<%= f.text_field :name, class: "form-control", placeholder: "example: Jesse L Jackson, Jr" %>
    </div>

    <div class="field">
      <%= f.label "Short description", for: :entity_blurb %>
      <%= f.text_field :blurb, class: "form-control", placeholder: "a short sentence or phrase", pattern: '.{0,200}', title: "Enter a blurb less than 200 characters" %>
    </div>

    <br>
    <%= f.label "Type*" %>
    <br>

    <label class="radio-inline">
	<%= f.radio_button :primary_ext, "Person" %> Person
    </label>

    <label class="radio-inline">
	<%= f.radio_button :primary_ext, "Org" %> Org
    </label>
    <br>
    <br>

    <div id="other-types">
	<%= f.label "Other types" %>
	<br>
    </div>

    <div id="person-types">
	<% ExtensionDefinition.person_types.each do |type| %>
	    <div class="entity-type"><%= check_box_tag "types[]", type.name %> <%= type.display_name %></div>
	<% end %>
	<br>
	<br>
    </div>

    <div id="org-types">
	<% ExtensionDefinition.org_types.each do |type| %>
	    <div class="entity-type"><%= check_box_tag "types[]", type.name %> <%= type.display_name %></div>
	<% end %>
	<br>
	<br>
    </div>

    <div class="actions">
	<%= f.submit "Add", class: "btn btn-primary" %>
    </div>
<% end %>

<template id="validation_errors">
  <div id="error_explanation" class="alert alert-warning">
    <ul>
    </ul>
  </div>
</template>

<div id="wait" style="display: none;">
    <br>
    <h3>Wait! Does this entity already exist?</h3>
    <div id="existing">
    </div>
    <br>
</div>

<script >
 $(document).ready(function() {
   $('input[type=radio]').on("change", function() {
     if (this.value == "Person") {
       $("#other-types").show();
       $("#org-types").hide();
       $("#person-types").show();
     } else if (this.value == "Org") {
       $("#other-types").show();
       $("#person-types").hide();
       $("#org-types").show();
     } else {
       $("#other-types").hide();
       $("#person-types").hide();
       $("#org-types").hide();
     }
   });

   $('#new_entity input').on("blur", function() {
     entity.validate($('#new_entity'), ["name"])
   })

   var input = $("#entity_name");
   var typingTimer;
   var doneTypingInterval = 100;

   //on keyup, start the countdown
   input.on('keyup', function () {
     clearTimeout(typingTimer);
     typingTimer = setTimeout(findMatches.bind(input[0]), doneTypingInterval);
   });

   //on keydown, clear the countdown
   input.on('keydown', function () {
     clearTimeout(typingTimer);
   });

   var existing = $("#existing")[0];

   var findMatches = function() {
     var query = $.trim(this.value);
     if (query.length > 2) {
       $.ajax({
         method: "GET",
         url: "/search/entity",
         data: { q: query, num: 5 }
       }).done(function(results) {
         existing.innerHTML = "";
         if (results.length > 0) {
           results.forEach(function(result) {
             var strong = document.createElement("strong");
             var em = document.createElement("em");
             var link = document.createElement("a");
             link.href = result.url;
             link.innerHTML = result.name;
             strong.appendChild(link);
             existing.appendChild(strong);
             if (result.blurb) {
               em.innerHTML = result.blurb
               $(existing).append(" &nbsp;");
               existing.appendChild(em);
             }
             $(existing).append("<br>");
           });
           $("#wait").show();
         } else {
           $("#wait").hide();
         }
       });
     } else {
       $("#wait").hide();
       existing.innerHTML = "";
     }
   };
 });
</script>
