<%#
This form is used in two places: the /entities/new and / entities/:id/add_relationship
required local variable = entity
%>
<turbo-frame id="new-entity-form">
  <div data-controller="new-entity-form">
    <%= form_for(entity, url: "/entities") do |f| %>
      <% if entity.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
	  <%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:
	  <ul>
	    <% entity.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
        </div>
      <% end %>

      <div>
        <%= f.label t('vocab.name').capitalize, for: :entity_name, class: 'form-label' %>
        <%= f.text_field :name,
           class: "form-control",
           placeholder: "example: Jesse L Jackson, Jr",
           required: true,
           data: {
             'action' => 'input->new-entity-form#typingEntityName',
             'new-entity-form-target' => 'nameInput'
           }
        %>
      </div>

      <div class="mt-2">
        <%= f.label t('vocab.description').capitalize, for: :entity_blurb, class: 'form-label' %>
        <%= f.text_field :blurb, class: "form-control", placeholder: t('phrases.short_sentence'), pattern: '.{0,200}', title: t('phrases.enter_a_blurb') %>
      </div>

      <br>
      <%= f.label "Type", class: 'form-label' %>
      <br>

      <label class="radio-inline">
        <%= f.radio_button :primary_ext, "Person", data: { 'action' => 'change->new-entity-form#selectPrimaryExt' }, autocomplete: 'off' %> Person
      </label>

      <label class="radio-inline">
        <%= f.radio_button :primary_ext, "Org", data: { 'action' => 'change->new-entity-form#selectPrimaryExt' }, autocomplete: 'off' %> Org
      </label>
      <br>
      <br>

      <div data-new-entity-form-target="otherTypes" style="display: none;">
        <%= f.label "Other types", class: 'form-label' %>
        <br>
      </div>

      <div data-new-entity-form-target="personTypes" style="display: none;">
        <% ExtensionDefinition.person_types.each do |type| %>
	  <div class="entity-type"><%= check_box_tag "types[]", type.name %> <%= type.display_name %></div>
        <% end %>
        <br>
        <br>
      </div>

      <div data-new-entity-form-target="orgTypes" style="display: none;">
        <% ExtensionDefinition.org_types.each do |type| %>
	  <div class="entity-type"><%= check_box_tag "types[]", type.name %> <%= type.display_name %></div>
        <% end %>
        <br>
        <br>
      </div>

      <div data-new-entity-form-target="warning" class="alert alert-warning" style="display: none;">
        <span>Valid names are at least two words</span>
      </div>

      <%# If the partial has the local add_relationship_page have clicking "add" perform a turbo frame request.
          Otherwise we can assume that we are on the regular add entity page and and use normal http request. %>
      <div class="actions" data-turbo="<%= local_assigns[:add_relationship_page] ? 'true' : 'false' %>">
        <%= f.submit t('vocab.add').capitalize, class: "btn btn-primary" %>
      </div>
    <% end %>


    <div data-new-entity-form-target="wait" style="display: none;" class="mt-2">
      <h3>Wait! Does this entity already exist?</h3>
      <div data-new-entity-form-target="existing">
      </div>
      <br>
    </div>

  </div>
</turbo-frame>
