<div id="profile-page-sidebar">

  <div class="row">
    <div class="col">
      <div class="thin-grey-line mb-2 d-none d-block d-sm-none"></div>
      <div>
        <%= link_to_if(user_signed_in?, profile_image(@entity), entity_images_path(@entity)) %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <% if @active_tab == :relationships %>
        <%= render partial: 'relationships_controls' %>
      <% end %>

      <div id="entity-edited-history" class="d-inline-block">
        <%= EntityLastEditorPresenter.html(@entity, user_signed_in?) %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <h3 class="profile-page-sidebar-heading"><%= t('phrases.basic_info') %></h3>
    </div>
    <div class="col-12">
      <%= cache [@entity, 'basic_info']  do %>
        <%= render partial: 'entities/sidebar/basic_info', locals: {basic_info: @entity.basic_info} %>
      <% end %>
    </div>
  </div>

  <%# External Links %>
  <% unless @entity.external_links.count.zero? %>
    <div class="row mt-3">
      <%= render partial: 'sidebar_external_links' %>
    </div>
  <% end %>

  <%# TAGS %>
  <% if current_user&.editor? || @entity.tags.present? %>
    <div class="row mt-3">
      <%= render partial: 'sidebar_tags' %>
    </div>
  <% end %>

  <%# Featured Resource %>
  <% if @entity.featured_resources.exists? %>
    <div class="row mt-3 sidebar-featured-resources">
      <div class="col-12">
        <h3 class="profile-page-sidebar-heading"><%= t('littlesis.eyes_on_the_ties').titleize %></h3>
      </div>
      <div class="col-12">
        <%= render partial: 'entities/sidebar/featured_resource', collection: @entity.featured_resources %>
       </div>
    </div>
  <% end %>

  <%# Data Partners %>
  <% if show_cmp_data_partner?(@entity) %>
    <div class="row mt-3 sidebar-data-partner">
      <div class="col-12">
        <h3 class="profile-page-sidebar-heading"><%= t('phrases.data_partner') %></h3>
      </div>
      <div class="col-12">
        <%= link_to(image_tag('cmp_logo.png', class: 'mt-2'),  'https://www.corporatemapping.ca') %>
        <p class="mt-2"><%= @entity.name %> is part of the Corporate Mapping Project dataset, a research project investigating Canada's carbon-extractive sector</p>
      </div>
    </div>
  <% end %>

  <%# Source Links %>
  <div class="row mt-3 sidebar-source-links">
    <div class="col-12">
      <h3 class="profile-page-sidebar-heading"><%= t('phrases.source_links').titleize %></h3>
    </div>
    <%= render partial: 'source_links' %>
  </div>

  <%# Lists %>
  <% if user_signed_in? || @entity.featured_lists.count.positive? %>
    <div class="row mt-3 sidebar-lists">
      <div class="col-12">
        <h3 class="profile-page-sidebar-heading"><%= t('vocab.lists').capitalize %></h3>
      </div>

      <% if @entity.featured_lists.count.positive?  %>
        <div class="col-12">
          <ul class="list-unstyled">
            <% @entity.featured_lists.each do |list| %>
              <li class='sidebar-list'><%= link_to list.name, list_path(list), class: 'link-blue' %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <%= form_for @entity, method: 'post', url: entity_list_entities_path(@entity) do |f| %>
          <select name="list_id" class="lists-dropdown w-100" data-controller="profile--lists-dropdown" />
          <%= f.submit 'add to list', class: 'btn btn-sm btn-primary mt-1' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%# Network Maps %>
  <% unless @entity.network_map_collection.empty? %>
    <div class="row mt-3" id="profile-page-sidebar-maps">
      <div class="col-12">
        <h3 class="profile-page-sidebar-heading"><%= t('phrases.network_maps').titleize %></h3>
      </div>

      <div class="col-12">
        <ul class="list-unstyled">
          <% @entity.network_map_collection.records.each do |map| %>
            <% if map.is_featured %>
              <li><%= link_to map.title, oligrapher_path(map) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%# Advanced Tools %>
  <% if user_signed_in? && %i[match_donations feature_items merge_entity].to_set.intersection(current_user.role).present? %>
    <div class="row mt-3">
      <div class="col-12">
        <h3 class="profile-page-sidebar-heading"><%= t('phrases.advanced_tools') %></h3>
      </div>
      <div class="col-12">
        <ul class="list-unstyled">
          <% if current_user.role.include?(:match_donations)  %>
            <li>
              <%= link_to 'Match FEC Donations', fec_match_contributions_path(@entity) %>
            </li>
          <% end %>

          <% if current_user.role.include?(:feature_items) %>
            <li>
              <%= link_to 'Add/Remove Featured Resource', "/entities/#{@entity.id}/edit_featured_resources", data: { turbo: true, turbo_frame: 'profile-modal'}  %>
            </li>
          <% end %>

          <% if current_user.role.include?(:merge_entity) %>
            <li>
              <%= link_to 'Begin merging process', merge_entities_path(mode: 'search', source: @entity.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
