<!-- IMAGE -->
<div id="profile-page-sidebar">
    <!-- IMAGE -->
    <%= cache ['entity_image', user_signed_in?, @entity.id, @entity.featured_image_url, @entity.name]  do %>
	<div class="row" id="sidebar-image-container">
	    <div class="col-sm-10 col-sm-offset-1">
		<%= render partial: 'entities/sidebar/image' %>
	    </div>
	</div>
    <% end %>

    <!-- BASIC INFO -->
    <% cache ['entity_basic_info', @entity.alt_cache_key] do %>
	<div id="sidebar-basic-info-container" class="row">
	  <div class="col-sm-12">
	    <%= sidebar_header 'Basic info' %>
	  </div>
	  <div class="col-sm-12">
	    <%= render partial: 'entities/sidebar/basic_info', locals: {basic_info: @entity.basic_info} %>
	  </div>
	</div>
    <% end %>

    <!-- TAGS -->


    <% if @entity.tags.present? || user_signed_in? %>
      <div class="row" id="sidebar-tags-container">
	<div class="col-sm-12">            
          <%= sidebar_header 'Tags', addon: capture { tags_controls } %>
        </div>
	<div class="col-sm-12">
          <%= display_tags(@entity.tags) %>
	</div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <script id="edit-tags-javascript">
       tags.init(
	 <%= raw(@entity.tags_for(current_user).to_json) %>,
         "<%= raw(tags_entity_path(@entity)) %>",
       );
      </script>
    <% end %>

    <!-- SOURCE LINKS -->
    <% cache ['entity_source_links', @entity.alt_cache_key] do %>
	<%= render partial: 'entities/sidebar/source_links' %>
    <% end %>

    <!-- ADMIN TOOLS -->
    <% if user_signed_in? && current_user.admin? %>
	<div class="row" id="sidebar-admin-tools-container">
	    <div class="col-sm-12">
		<%= sidebar_header('Admin tools') %>
	    </div>
	    <div class="col-sm-12">
		<%= link_to 'Addresses', @entity.legacy_url('addresses') %>
	    </div>
	</div>
    <% end %>

    <!-- ADVANCED TOOLS -->
    <% if user_signed_in? %>
	<div class="row" id="side-bar-advanced-tools-container">
	    <div class="col-sm-12">
		<%= sidebar_header('Advanced tools') %>
	    </div>
	    <div class="col-sm-12">
		<%= link_to 'Network Search', @entity.legacy_url('networkSearch') %>
		<br />
		<%= link_to 'Find Connections', @entity.legacy_url('findConnections') %>
		<% if current_user.importer? || current_user.admin? %>
		    <br />
		    <%= link_to 'Match NY Donations', match_ny_donations_entity_path(@entity) %>
		<% end %>
		<% if current_user.merger? || current_user.admin? %>
		    <br />
		    <%= link_to 'Merge this entity', tools_merge_path(source: @entity.id) %>
		<% end %>    
	    </div>
	</div>
    <% end %>

    <!-- LISTS -->
    <% cache(['entity_list_entities', @entity.list_entities], :expires_in => 1.week) do %>
	<div class="row" id="sidebar-lists-container">
	    <div class="col-sm-12">
		<%= sidebar_header('Lists', subtitle: 'Analyst-created lists of people and org') %>
	    </div>
	    <div class="col-sm-12">
		<ul class="list-unstyled">
		    <%= sidebar_lists(@entity.list_entities) %>
		</ul>
	    </div>
	</div>
    <% end %>

    <!-- Similar Entities -->
    <% unless @entity.similar_entities.blank? %>
	<div class="row" id="sidebar-similar-entities-container">
	    <div class="col-sm-12">
		<%= sidebar_header('Similar Entities') %>
	    </div>
	    <div class="col-sm-12">
		<ul class="list-unstyled">
		    <%= sidebar_similar_entities(@entity.similar_entities) %>
		</ul>
		
		<% if user_signed_in? && (current_user.admin? || current_user.has_legacy_permission('merger') )%>
		    <%= link_to 'Begin merging process »', tools_merge_path(source: @entity.id), id: 'begin-merging-process-link' %>
		<% end %>
	    </div>
	</div>
    <% end %>
</div>
