<div id="profile-page-sidebar">
  <%# IMAGE%>
  <%= cache ['entity_image', user_signed_in?, @entity.id, @entity.featured_image_url, @entity.name]  do %>
    <div class="row" id="sidebar-image-container">
      <div class="col-sm-10 col-sm-offset-1">
	<%= render partial: 'entities/sidebar/image' %>
      </div>
    </div>
  <% end %>

  <% cache ['entity_basic_info', @entity.cache_key] do %>
    <%= profile_page_sidebar('sidebar-basic-info-container', 'Basic info') do %>
      <%= render partial: 'entities/sidebar/basic_info', locals: {basic_info: @entity.basic_info} %>
    <% end %>
  <% end %>

  <%# External Links %>
  <% if current_user&.admin? %>
    <% unless @entity.external_links.count.zero? %>
      <% cache ['entity_external_links', @entity.external_links ] do %>
	<%= profile_page_sidebar('sidebar-external-links-container', 'External Links') do %>
	  <%= render partial: 'entities/sidebar/external_links' %>
	<% end %>
      <% end %>
    <% end %>
  <% end %>

  
  <%# TAGS %>
  <% if @entity.tags.present? || user_signed_in? %>
    <%= profile_page_sidebar('sidebar-tags-container', 'Tags', addon: capture { tags_controls }) do %>
      <%= display_tags(@entity.tags) %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <script id="edit-tags-javascript">
     tags.init(
       <%= raw(@entity.tags_for(current_user).to_json) %>,
       "<%= raw(tags_entity_path(@entity)) %>",
     );
    </script>
  <% end %>

  <%# SOURCE LINKS %>
  <% cache ['entity_source_links', @entity.cache_key] do %>
    <%= render partial: 'entities/sidebar/source_links' %>
  <% end %>

  <%# ADMIN TOOLS  %>
  <% if user_signed_in? && current_user.admin? %>
    <%= profile_page_sidebar('sidebar-admin-tools-container', 'Admin tools') do %>
      <%= link_to 'Addresses', @entity.legacy_url('addresses') %>
    <% end %>
  <% end %>

  <%# ADVANCED TOOLS  %>
  <% if user_signed_in? %>
    <%= profile_page_sidebar('sidebar-advanced-tools-container', 'Advanced tools') do %>
      <%= link_to 'Network Search', @entity.legacy_url('networkSearch') %>
      <br />
      <%= link_to 'Find Connections', @entity.legacy_url('findConnections') %>
      <% if current_user.importer? || current_user.admin? %>
	<br />
	<%= link_to 'Match NY Donations', match_ny_donations_entity_path(@entity) %>
      <% end %>
    <% end %>
  <% end %>

  <%# LISTS  %>
  <% cache(['entity_list_entities', @entity.list_entities], :expires_in => 1.week) do %>
    <%= profile_page_sidebar('sidebar-lists-container', 'Lists', subtitle: 'Analyst-created lists of people and org') do %>
      <ul class="list-unstyled">
	<%= sidebar_lists(@entity.list_entities) %>
      </ul>
    <% end %>
  <% end %>

  <%# SIMILAR ENTITIES  %>
  <% unless @entity.similar_entities.blank? %>
    <%= profile_page_sidebar('sidebar-similar-entities-container', 'Similar Entities') do %>
      <ul class="list-unstyled">
	<%= sidebar_similar_entities(@entity.similar_entities) %>
      </ul>
      
      <% if user_signed_in? && (current_user.admin? || current_user.has_legacy_permission('merger') )%>
	<%= link_to 'Begin merging process »',
        merge_path(mode: 'search', source: @entity.id),
        id: 'begin-merging-process-link' %>
      <% end %>
    <% end %>
  <% end %>
</div>
