<div id="profile-page-sidebar">
  <%# IMAGE%>
  <%= cache ['entity_image', user_signed_in?, @entity.id, @entity.featured_image_url, @entity.name]  do %>
    <div class="row" id="sidebar-image-container">
      <div class="col-sm-10 col-sm-offset-1">
	<%= render partial: 'entities/sidebar/image' %>
      </div>
    </div>
  <% end %>

  <% cache ['entity_basic_info', @entity.cache_key_with_version] do %>
    <%= profile_page_sidebar('sidebar-basic-info-container', 'Basic info') do %>
      <%= render partial: 'entities/sidebar/basic_info', locals: {basic_info: @entity.basic_info} %>
    <% end %>
  <% end %>

  <%# External Links %>
  <% unless @entity.external_links.count.zero? %>
    <% cache ['entity_external_links', @entity.id, @entity.external_links.reorder('updated_at desc').limit(1).pluck('updated_at').first ] do %>
      <%= profile_page_sidebar('sidebar-external-links-container', 'External Links') do %>
	<%= render partial: 'entities/sidebar/external_links' %>
      <% end %>
    <% end %>
  <% end %>


  <%# TAGS %>

  <% if user_signed_in? %>
    <%= render partial: 'entities/sidebar/tags' %>
  <% elsif  @entity.tags.present? && !user_signed_in? %>
    <%= profile_page_sidebar('sidebar-tags-container', 'Tags') do %>
      <%= display_tags(@entity.tags) %>
    <% end %>
  <% end %>

  <%# Data Partners %>
  <% if show_cmp_data_partner?(@entity) %>
    <%= render partial: 'entities/sidebar/cmp_data_partner', locals: { entity: @entity } %>
  <% end %>

  <%# SOURCE LINKS %>
  <% cache ['entity_source_links', @entity.cache_key_with_version] do %>
    <%= render partial: 'entities/sidebar/source_links' %>
  <% end %>

  <% if user_signed_in? && ( current_user.importer? || current_user.admin? ) %>
    <%= profile_page_sidebar('sidebar-advanced-tools-container', 'Advanced tools') do %>
      <%= link_to 'Match FEC Donations', fec_entity_match_contributions_path(@entity) %>
    <% end %>
  <% end %>


  <%# LISTS  %>
  <%= profile_page_sidebar('sidebar-lists-container', 'Lists', subtitle: 'Analyst-created lists of people and org') do %>
    <% cache(['entity_featured_lists', @entity.featured_lists], expires_in: 1.week) do %>
      <ul class="list-unstyled">
        <% @entity.featured_lists.each do |list| %>
          <% next unless list.user_can_access?(current_user) %>
          <li class='sidebar-list'><%= link_to list.name, list_path(list), class: 'link-blue' %></li>
        <% end %>
      </ul>
    <% end %>

    <% if user_signed_in? %>
      <%= form_for @entity, method: 'post', url: entity_list_entities_path(@entity) do |f| %>
        <select name='list_id' class='lists-dropdown w-100' data-entity-page-target="listsDropdown"/>
        <%= f.submit 'add to list', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% end %>

  <%# Network Maps %>
  <% unless @entity.network_map_collection.empty? %>
    <% cache(['entity_sidebar_maps', @entity.network_map_collection.maps], expires_in: 1.day) do %>
      <%= profile_page_sidebar('sidebar-maps-container', 'Network Maps') do %>
        <ul class="list-unstyled">
          <% @entity.network_map_collection.records.each do |map| %>
            <% next unless map.is_featured %>
            <li><%= link_to map.title, map_path(map) %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <%# SIMILAR ENTITIES  %>
  <% unless @entity.similar_entities.blank? %>
    <%= profile_page_sidebar('sidebar-similar-entities-container', 'Similar Entities') do %>
      <ul class="list-unstyled">
	<%= sidebar_similar_entities(@entity.similar_entities) %>
      </ul>

      <% if user_signed_in? && (current_user.admin? || current_user.has_ability?('merger') )%>
	<%= link_to 'Begin merging process »',
          merge_path(mode: 'search', source: @entity.id),
         id: 'begin-merging-process-link' %>
      <% end %>
    <% end %>
  <% end %>
</div>
