<%= turbo_frame_tag dom_id(@entity, :source_links) do %>
  <% current_page = params[:page]&.to_i || 1 %>
  <% documents = RecentEntityReferencesQuery.run(@entity, page: current_page).to_a %>
  <% document_count = @entity.documents_count  %>

  <div class="col-12">
    <span class="sidebar-source-links-document-count"><em><%= number_with_delimiter document_count %></em> documents :: </span>
    <span data-turbo="false"><%= link_to "see all", concretize_references_entity_path(@entity) %></span>
    <% if documents.length == 10 || current_page != 1 %>
      <div class="ms-2 d-inline-block" data-turbo="true">
        <%= link_to(source_links_entity_path(@entity, page: current_page - 1), class: (current_page == 1 ? 'disabled' : '')) do  %>
          <i class="bi bi-arrow-left" title="back"></i>
        <% end %>

        <%= link_to(source_links_entity_path(@entity, page: current_page + 1), class: (documents.length < 10 ? 'disabled' : '')) do  %>
          <i class="bi bi-arrow-right" title="forward"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-12">
    <ul class="list-unstyled sidebar-source-links-list" data-turbo="false">
      <% documents.each do |doc|  %>
        <li><%= link_to doc.name, doc.url, target: '_blank', title: doc.url  %></li>
      <% end %>
    </ul>
  </div>

<% end %>
