          <tr>
            <td>
              <%= link_to(image_tag(account.profile_image_url.to_s), account.url.to_s, target: '_blank') %><br>
              <%= link_to('@' + account.username, account.url.to_s, target: '_blank') %><br>
              <%= account.name %>
            </td>
            <td>
              <% if account.verified? %>
                <strong>verified</strong><br>
              <% end %>
              <%= account.description %><br>
              <%= account.location %><br>
              <%= link_to(account.website.to_s, account.website.to_s, target: '_blank') %>
            </td>
            <td>
              <% if Array(@entity.twitter_ids).map(&:to_i).include?(account.id) %>
                <%= button_to 'Remove', remove_twitter_entity_path(entity, twitter_id: account.id), class: 'btn' %>
              <% else %>
                <%= button_to 'Add', add_twitter_entity_path(entity, twitter_id: account.id), class: 'btn' %>
              <% end %>
            </td>
          </tr>