<% content_for(:page_title, "#{@entity.name} - Add Relationship") %>

<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'explain_categories_modal' %>

<div class="mt-3"
     data-controller="relationship-creator"
     data-relationship-creator-entity1-id-value="<%= @entity.id %>"
     data-relationship-creator-entity1-name-value="<%= @entity.name %>"
     data-relationship-creator-entity1-url-value="<%= @entity.url %>"
     data-relationship-creator-entity1-type-value="<%= @entity.primary_ext %>"
     data-relationship-creator-entity1-school="<%= @entity.school?.to_s %>">

  <div class="row" data-relationship-creator-target="searchContainer">
    <div class="d-flex flex-column">
      <h2  title="Find the person or organization you want to add a relationship to. If your search doesn't locate it, you'll have the option to create it below.">
        Create a new relationship
      </h2>

      <div class="input-group" style="max-width: 400px;">
        <input type="text" class="form-control" data-relationship-creator-target="search" placeholder="Name" aria-label="Name to search" id="add-relationship-search-input">
        <button class="btn btn-primary" type="button" data-action="click->relationship-creator#search" id="add-relationship-search-btn">Search</button>
      </div>
    </div>
  </div>

  <div class="row" data-relationship-creator-target="creatingInfo">
  </div>

  <div data-relationship-creator-target="nothingFound" class="row mt-3" style="display: none">
    <div class="">
      <p>Can't find what you are looking for? <a href="/entities/new">Click here to create a new entity</a></p>
    </div>
  </div>

  <div data-relationship-creator-target="results">
    <!-- DataTable -->
  </div>

  <div class="row" data-relationship-creator-target="form" style="display: none">
    <div class="col-sm-3">
      <p><strong>Relationship Category:</strong></p>
      <div id="category-selection"></div>

      <div>
        <a href="#explain-categories-modal" data-bs-toggle="modal" data-bs-target="#explain-categories-modal">Explain Categories</a>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-1" id="reference">
      <div class="row">
        <div class="col-sm-12">
	  <p><strong>Where is this info coming from?</strong></p>
        </div>
        <div class="col-sm-12">
	  <div data-action="click->relationship-creator#toggleReference" id="toggle-reference-form" class="btn-group btn-group-toggle">
	    <button name="find-reference" class="btn btn-sm btn-secondary active">Find Reference</button>
	    <button name="create-reference" class="btn btn-sm btn-outline-secondary">Create Reference</button>
	  </div>
        </div>
      </div>

      <div class="thin-grey-bottom-border top-1em m-bottom-1em"></div>

      <div class="row" id="existing-reference-container">
        <div class="col-sm-10">
	  <div id="reference-widget-container"></div>
        </div>
      </div>

      <div class="row" style="display: none;" id="new-reference-container">
        <div class="col-sm-10">
	  <div id="new-reference-form"></div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row" >
        <div class="col-sm-4 top-1em">
	  <button data-action="click->relationship-creator#submit" type="button" class="btn btn-primary" id="create-relationship-btn">Create Relationship</button>
        </div>
      </div>

      <!-- SIMILAR RELATIONSHIPS -->
      <div class="row" data-relationship-creator-target="similarRelationships" style="display: none">
        <div class="col-sm-10 top-1em"  style="height: 20px;">
	  <div id="similar-relationships"
               role="button"
               data-bs-toggle="collapse"
               data-bs-target="#similarRelationshipsDetails">
            <i class="bi bi-exclamation-triangle"></i><span class="text-danger pl-2">Similar relationships exist!</span>
	  </div>

          <div class="collapse" id="similarRelationshipsDetails">
          </div>

        </div>
      </div>

    </div> <!-- end of col-sm-6  -->

    <!-- errors -->
    <div class="col-sm-4 col-sm-offset-1">
      <div id="errors-container" class="top-3em"></div>
    </div>

  </div> <!-- end of add-relationship-row  -->

</div>
