<%= turbo_frame_tag "add-relationship-modal" do %>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6><%= t('littlesis.external_links') %><small class="text-muted ps-2">connect this entity to other sites</small></h6>
          <%= button_tag "", data: { action: "modal#close", aria_label: "Close" }, type: "button", class: "btn-close" %>
        </div>
        <div class="modal-body">
          <%= render partial: 'explain_categories_modal' %>

          <div class="mt-1" data-turbo="true">
            <turbo-frame id="add-relationship-page">
              <turbo-frame id="add-relationship-search">
                <div class=row data-add-relationship-target="search" data-turbo="true">
                  <div class="col-6">
                    <h2 title="Find the person or organization you want to add a relationship to. If your search doesn't locate it, you'll have the option to create it below.">
                      <%= t('phrases.create_new_relationship') %>
                    </h2>

                    <form action="<%= add_relationship_search_entities_path %>" data-turbo-frame="add-relationship-results">
                      <div class="input-group">
                        <input name="entity1_id" type="hidden" class="form-control" value="<%= @entity.id %>">
                        <input name="q" type="text" class="form-control" placeholder="<%= t('vocab.name').capitalize %>" aria-label="Name to search" id="add-relationship-search-input">
                        <button class="btn btn-primary" id="add-relationship-search-button"><%= t('vocab.search').capitalize %></button>
                      </div>
                    </form>
                  </div>
                </div>
                <turbo-frame id="add-relationship-results">
                </turbo-frame>
              </turbo-frame>
            </turbo-frame>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
