<%= render partial: 'header', locals: { entity: @entity } %>

<h3>
  Articles 
  <%= link_to('find more', find_articles_entity_path(@entity), class: "btn btn-link btn-sm") %>
  <%= link_to('add', new_article_entity_path(@entity), class: "btn btn-link btn-sm") %>
</h3>

<table class="table">
<% @entity.featured_articles.each do |article| %>
  <tr>
    <td style="width: 110px;">
      <% if article.published_at %>
        <%= article.published_at.strftime("%b %-m, %Y") %>
      <% end %>
    </td>
    <td>
      <div class="news-article-title"><%= link_to(article.title, article.url) %></div>
      <%= article.snippet %>
    </td>
    <td>
      <%= link_to("remove", remove_article_entity_path(@entity, article_id: article.id), method: :post, data: { confirm: "Are you sure?" }) %>
    </td>
  </tr>
<% end %>
</table>