<% content_for(:page_title, 'Edit: ' + @entity.name ) %>

<% if notice %>
  <div class="row no-gutters mt-5">
    <div class="col-6">
      <div class="alert alert-success"><%= notice %></div>
    </div>
  </div>
<% end %>

<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: current_user } %>

<%= form_for @entity, method: 'patch', class: 'form-horizontal', builder: LsFormBuilder  do |f| %>

  <div class="row top-1em mb-2">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= render partial: 'shared/editing/reference_widget',
                 locals: { documents: RecentEntityReferencesQuery.run(@entity) } %>
    </div>

    <div class="col-sm-4 col-sm-offset-1 col-xs-12">
      <%= render partial: 'edit_errors' %>
    </div>
  </div>

  <% if @entity.person? %>
    <%= render partial: 'type_checkboxes_person', locals: { f: f } %>
  <% else  %>
    <%= render partial: 'type_checkboxes_org', locals: { f: f } %>
  <% end  %>


  <% input_div_wrapper_class = 'entity-form-group' %>
  <% label_class = 'entity-edit-label' %>

  <div class="<%= input_div_wrapper_class %>">
    <%= f.label(:blurb, 'Short Description', class: label_class) %>
    <div class="col-8">
      <%= f.text_field(:blurb, class: 'form-control') %>
    </div>
  </div>

  <div class="<%= input_div_wrapper_class %>">
    <%= f.label(:summary, 'Summary:', class: label_class) %>
    <div class="col-8">
      <%= f.text_area(:summary, class: 'form-control', size: '40x6') %>
    </div>
  </div>

  <% start_date_text = { 'Org' => 'Start date:', 'Person' => 'Birth date' } %>
  <% end_date_text = { 'Org' => 'End date:', 'Person' => 'Death date' } %>

  <div class="<%= input_div_wrapper_class %>">
    <%= f.label(:start_date, start_date_text[@entity.primary_ext], class: label_class) %>
    <div class="col-9">
      <%= f.text_field(:start_date) %>
      <%= content_tag(:small, '(YYYY-MM-DD. Use 1968-05-00 to specify May 1968)') %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="<%= input_div_wrapper_class %>">
    <%= f.label(:end_date, end_date_text[@entity.primary_ext], class: label_class) %>
    <div class="col-9">
      <%= f.text_field(:end_date) %>
      <%= content_tag(:small, '(YYYY-MM-DD. Use 1968-05-00 to specify May 1968)') %>
    </div>
    <div class="clearfix"></div>
  </div>

  <% is_current_text = { 'Org' => 'Is current?', 'Person' => 'Alive?' } %>

  <div class="<%= input_div_wrapper_class %>">
    <%= f.label(:is_current, is_current_text[@entity.primary_ext], class: label_class) %>
    <div class="col-sm-3">
      <%= f.tri_boolean(:is_current) %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="<%= input_div_wrapper_class %>">
    <%= f.label(:website, "Website:", class: label_class) %>
    <div class="col-3">
      <%= f.url_field(:website) %>
    </div>
  </div>

  <% if @entity.person?  %>
    <%= render partial: 'person_name_form_components', locals: { f: f, label_class: label_class } %>
  <% end %>


  <% if @entity.has_extension?('PublicCompany') %>
    <%= f.fields_for :public_company do |public_company_form| %>
      <div class="<%= input_div_wrapper_class %>">
	<%= public_company_form.label(:ticker, 'Ticker', class: label_class) %>
	<div class="col-sm-4">
	  <%= public_company_form.text_field(:ticker) %>
	</div>
      </div>
    <% end %>
  <% end %>

  <% if @entity.has_extension?('Business') %>
    <%= f.fields_for :business do |business_form| %>
      <div class="<%= input_div_wrapper_class %>">
	      <%= business_form.label(:marketcap, 'Market capitalization', class: label_class) %>
        <div class="col-sm-4">
	        <%= business_form.number_field(:marketcap) %>
	      </div>
      </div>
      <div class="<%= input_div_wrapper_class %>">
	      <%= business_form.label(:assets, 'Assets', class: label_class) %>
	      <div class="col-sm-4">
	        <%= business_form.number_field(:assets) %>
	      </div>
      </div>
      <div class="<%= input_div_wrapper_class %>">
	      <%= business_form.label(:net_income, 'Net income', class: label_class) %>
	      <div class="col-sm-4">
	        <%= business_form.number_field(:net_income) %>
	      </div>
      </div>
      <div class="<%= input_div_wrapper_class %>">
	      <%= business_form.label(:annual_profit, 'Annual profit', class: label_class) %>
	      <div class="col-sm-4">
	        <%= business_form.number_field(:annual_profit) %>
	      </div>
      </div>
    <% end %>
  <% end %>

  <% if @entity.has_extension?('School') %>
    <%= f.fields_for :school, @entity.school do |school_form| %>
      <div class="<%= input_div_wrapper_class %>">
	<%= school_form.label(:is_private, 'Private School?', class: label_class) %>
	<div class="col-sm-4">
	  <%= school_form.tri_boolean(:is_private) %>
	</div>
      </div>
    <% end %>
  <% end %>

  <%# Regions %>
  <div class="<%= input_div_wrapper_class %>">
    <label for="region-select" class="<%= label_class %>">Location: </label>
    <div class="col-sm-4">
      <%= f.select(:regions,
                   options_for_select(Location.regions.to_a, selected: @entity.region_numbers),
                   { include_blank: true},
                   { multiple: true }) %>
    </div>
  </div>


  <div class="<%= input_div_wrapper_class %>">
    <div class="col-sm-3 nopadding">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', @entity.url, class: 'btn btn-secondary m-left-1em' %>
    </div>
  </div>
<% end  # end form-for %>

<hr>

<%= render partial: 'edit_aliases' %>
<hr>
<%= render partial: 'edit_external_links' %>

<script>
 $(function(){
   $('.type-checkbox').click(function() {
     $(this).toggleClass(['glyphicon-check', 'glyphicon-unchecked']);

     // Store checked type boxes (entity extention definition ids) in a hidden field
     $('#entity_extension_def_ids').val(
       $('.type-checkbox.glyphicon-check')
         .map(function(){ return $(this).data().definitionId } )
         .toArray()
         .join(',')
     )
   })

   $('#entity_regions').select2()
 });

</script>
