<% content_for(:page_title, 'Edit: ' + @entity.name ) %>

<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>

<%= form_for @entity, method: 'patch', class: 'form-horizontal'  do |f| %>
    <div class="row top-3em">
	<%= render partial: 'shared/editing/edit_references_panel', locals: { references: @references, selected_ref: nil } %>
    </div>
	<%= type_select_boxes %>
<% end %>

<script>

 $(function(){
   
   const checked_class = 'glyphicon-check';
   const unchecked_class = 'glyphicon-unchecked';

   $('#entity-types span.glyphicon').click(function(){
     if ($(this).hasClass(checked_class)) {
       $(this).removeClass(checked_class);
       $(this).addClass(unchecked_class);
     } else if ($(this).hasClass(unchecked_class)) {
       $(this).removeClass(unchecked_class);
       $(this).addClass(checked_class);
     }
   });
 });
 
</script>
