<%= render partial: 'header', locals: { entity: @entity } %>

<h3>Fields</h3>

<%= form_tag(concretize_update_fields_entity_url(@entity)) do %>
<table class="table fields-table">
  <tr>
    <td class="fields-helper" colspan="2">
      <button class="add-field btn btn-sm btn-secondary">add field</button>
      &nbsp;
      use lowercase underscore fields like <em>net_worth</em> or <em>political_party</em>
    </td>
  </tr>
</table>

<input type="submit" class="btn btn-primary" value="Save">
<% end %>

<script>
var field_search_data = <%= raw(@fields) %>;

var delete_field = function(e) {
  $(e.target.parentElement.parentElement).remove();
  if ($(".fields-table tr").length == 0) {
    add_field();
  }
};

var add_field = function(event, name, value) {
  value = typeof value !== 'undefined' ? value : '';
  var name_col = typeof name !== 'undefined' ? "<input type='hidden' name='names[]' value='" + name + "'>" + name : "<input type='text' class='form-control field-name' name='names[]' placeholder='field name'>";
  var value_col = "<input type='text' class='form-control' name='values[]' placeholder='field value' value='" + value + "'>"
  $('.add-field').parent().parent().before("<tr><td class='name'>" + name_col + "</td><td class='value'>" + value_col + "</td><td class='actions'><span class='delete-field glyphicon glyphicon-remove'></span></td></tr>");
  $(".delete-field").on("click", delete_field);
  $(".field-name").typeahead({ 
    name: 'fields',
    local: field_search_data,
    limit: 20
  });
  $(".name input").last().focus();
  return false;
};

  var selected_callback = function(obj, datum) {
    netmap.add_entity(datum.id, [100, 100]);
    $('#netmap_entity_search').val('');
  };

  $('.field-name')
    

$(document).ready(function() {
<% @entity.all_field_details.where(is_admin: false).each do |f| %>
  add_field(null, '<%= f.field.name %>', '<%= f.value %>');
<% end %>
<% if @entity.all_field_details.count == 0 %>
  add_field();
<% end %>

  $(".delete-field").on("click", delete_field);
  $(".add-field").on("click", add_field);
});
</script>
