<%= render partial: 'header', locals: { entity: @entity } %>

<% if @articles.count > 0 %>
<h3>Existing Articles</h3>
  <% @articles.each do |article| %>
    <%= link_to(article['title'], article['url']) %><br>
  <% end %>
<% end %>

<h3>Find Articles</h3>

<%= form_tag(nil, method: :get, class: 'form-inline') do %>
  <input type="text" name="q" class="form-control" style="width: 500px;" value="<%= @q %>" placeholder="news search query">
  <input type="submit" value="Search" class="btn btn-default">
<% end %>

<br>

<%= form_tag('import_articles') do %>
<table class="table">
<% @results.each_with_index do |result, i| %>
  <tr>
    <td>
      <input type="checkbox" name="selected-<%= i %>" class="news-article-checkbox">
      <input type="hidden" name="title[]" value="<%= CGI.escapeHTML(result['title']) %>">
      <input type="hidden" name="url[]" value="<%= CGI.escapeHTML(result['link']) %>">
      <input type="hidden" name="snippet[]" value="<%= CGI.escapeHTML(result['snippet']) %>">
    </td>
    <td>
      <div class="news-article-title"><%= link_to(result['title'], result['link'], target: '_blank') %></div>
      <%= raw(result['htmlSnippet']) %>
    </td>
  </tr>
  <% if i % 10 == 9 or i == @results.count - 1 %>
  <tr>
    <td></td>
    <td colspan="2" class="form-inline">
      <br>
      <input type="submit" class="btn btn-primary" name="submit" value="Import<%= @queue_count > 0 ? ' and Continue' : '' %>">
      <% if @queue_count > 0 %>
        <input type="submit" class="btn btn-primary" name="submit_stay" value="Import and Stay on Page">
        &nbsp;(<%= @queue_count %> remaining in queue)
      <% end %>
      <br><br>
    </td>
  </tr>
  <% end %>
<% end %>
</table>
<% if @results.count == 0 %>
  <strong>No results.</strong>
  <br>
  <br>
  <input type="submit" class="btn btn-primary" name="submit" value="Continue">
  <% if @queue_count > 0 %>
    &nbsp;(<%= @queue_count %> remaining in queue)
  <% end %>
<% end %>
<% end %>