<%= render partial: 'header', locals: { entity: @entity } %>

<h3>Merge With Another <%= @entity.primary_ext.titleize %></h3>

<div class="warning">
  <strong>WARNING:</strong> Merging will transfer all info to the selected person and remove this one permanently!
</div>

Find the person you want to merge this person with.

<br><br>

<%= form_tag(nil, method: :get, class: 'form-inline') do %>
  <input type="text" name="q" class="form-control" style="width: 500px;" value="<%= @q %>" placeholder="<%= @entity.primary_ext %> name">
  <input type="submit" value="Search" class="btn btn-default">
<% end %>

<% if @matches.present? %>
<h3>Possible Matches</h3>
<table>
  <% @matches.each do |entity| %>
  <tr>
    <td style="width: 100px;"><%= link_to('merge', merge_entity_path(@entity, keep_id: entity.id), method: :post, data: { confirm: 'Are you sure?' }) %></td>
    <td><strong><%= entity_link(entity) %></strong> &nbsp; <em><%= entity.blurb %></td>
  </tr>
  <% end %>
</table>
<% end %>

<% if @results.present? %>
<h3>Search Results</h3>
<%= paginate @results %>
<table>
  <% @results.each do |entity| %>
  <tr>
    <td style="width: 100px;"><%= link_to('merge', merge_entity_path(@entity, keep_id: entity.id), method: :post, data: { confirm: 'Are you sure?' }) %></td>
    <td><strong><%= entity_link(entity) %></strong> &nbsp; <em><%= entity.blurb %></td>
  </tr>
  <% end %>
</table>
<% end %>
