<% content_for(:page_title, "Match Donations: #{@entity.name}") %>
<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: current_user } %>
<div class="row mt-3 mb-3">
  <div class="col-12">
    <h2>Match Donations From OpenSecrets.org</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 nopadding">
    <a href="https://opensecrets.org"><img style="border: 0; padding-right: 0.5em;" src="https://s3.amazonaws.com/pai-littlesis/images/system/opensecrets-logo-225.gif" alt="Opensecrets-logo-225" align="left"></a>
  </div>


  <div class="col-sm-8 double-left-padding">
    <p>Below are donor records from <a href="http://opensecrets.org">OpenSecrets</a> with the same or similar name.
      Using the info already in LittleSis, and the employer info, addresses, and filing sources from OpenSecrets, identify which of these donor records belong to this person, select them, and then click the button "match donations".</p>
    <p><span class="bg-info"><%= link_to "Click here", concretize_review_donations_entity_path(@entity) %> to review donations that have already been matched.</span></p>
    <% if current_user.admin?  %>
      <a href="<%= concretize_match_ny_donations_entity_path(@entity) %>" class="float-right btn red-button btn-sm m-right-3em" role="button" >Match NYS donations</a>
    <% end  %>
  </div>
</div>

<div class="row top-1em">
  <div class="col-md-9 col-sm-9 nopadding">
    <div id="match-donations" data-entityid="<%= @entity.id %>">
      <table id="donations-table" class="display" width="100%"></table>
    </div>
    <script>
      let matcher = LittleSis.DonationMatcher();
      matcher.init();
    </script>
  </div>
  <%= render partial: 'match_sidebar' %>
</div>
