<% content_for(:page_title, "Match NY Donations: #{@entity.name}") %>
<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: current_user } %>

<div class="row mt-3 mb-3">
  <div class="col-12">
    <h2>Match Political Contributions from New York State</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>Below are donor records from <a href="http://NYS">NYS Board of Elections</a> with the same or similar name.Using the info already in LittleSis to identify which of these donor records belong to this person, select them, and then click the button "match donations".</p>
    <p class="bg-info"><%= link_to "Click here", concretize_review_ny_donations_entity_path(@entity) %> to review donations that have already been matched.</p>
  </div>
</div>
    
<div class="row top-1em">
  <div class="col-md-9 col-sm-9">
    <div id="match-donations" data-entityid="<%= @entity.id %>">
      <table id="donations-table" class="display" width="100%"></table>
    </div>
    <script>
      new LittleSis.NyDonationsMatcher('match', <%= @entity.id %> ).init();
    </script>
  </div>
  <%= render partial: 'match_sidebar' %>
</div>
</div>
