<% content_for(:page_title, "#{@entity.name} - Political") %>
<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>

<div class="row top-1em">
    <div class="col-md-8 col-sm-8 nopadding">
        <%= render partial: 'summary', locals: { entity: @entity } %>
        <%= render partial: 'tabs', locals: { active_tab: 'political', entity: @entity }  %>
    </div>
</div>

<% if @entity.person?  %>
    <%= render partial: 'entities/political/person' %>
<% else %>
    <%= render partial: 'entities/political/org' %>
<% end %>

<div class="row top-1em">
    <a name="about"></a>
    <div class="col-md-8 col-sm-8 nopadding">
        <h4>About the data</h4>
        <p>This data is compiled using <a href="http://opensecrets.org/">OpenSecrets</a> bulk data downloads. LittleSis analysts match federal campaign contributions given by individuals in our database using the donation matching tool.</p>
        <p>Individual profile pages show giving information for the individual profiled; org pages show an aggregate analysis of giving information for individuals with positions or memberships at those orgs. Note that this information may differ substantially from data found at <a href="http://influenceexplorer.com/">InfluenceExplorer</a> or OpenSecrets, because it only includes donations for individuals in our database who have been donor-matched by an analyst.</p>
    </div>
</div>

<% if @entity.person? %>
    <script>politicalPerson.init();</script>
<% end %>
