<% content_for(:page_title, @entity.name) %>

<%= content_for :head do %>
  <% javascript_include_tag "profile", defer: true  %>
  <% stylesheet_link_tag "profile", media: "all" %>
<% end  %>

<div id="entity-profile-page">
  <div class="row mt-2">
    <div class="col">
      <h1>
        <%= link_to @entity.name, concretize_entity_path(@entity), class: 'entity-name2' %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <h5 class="entity-blurb-text">
          <%= @entity.blurb %>
        </h5>
      </div>

      <!-- <div class="row pr-4"> -->
      <%# if @entity.summary.present? %>
      <!-- <div class="entity-summary"> -->
      <%#= @entity.summary %>
      <!-- </div> -->
      <%# end %>
      <!-- </div> -->
      <%# if user_signed_in? %>
      <%#% render partial: 'editable_blurb', locals: { entity: entity } %>
      <%# end %>
    </div>
  </div>

  <!-- relationships -->
  <div class="row mt-3">

    <div class="col-sm-12 col-md-8 profile-page-content-col-4">

      <div class="row mt-1 mb-3">
        <div class="col">
          <div class="profile-page-tabs">
          <a href="#" class="active">Relationships</a>
          <a href="#" class="">Interlocks</a>
          <a href="#">Giving</a>
          <a href="#">Data</a>
          </div>
        </div>
      </div>
      <% @entity.relationship_collection.each do |subcategory, links| %>
        <% subcategory_domid = "profile-page-#{subcategory}" %>
        <div class="row profile-page-subcategory mt-2">
          <div class="col">
            <h2>
              <%= ProfilePage.subcategory_name(subcategory) %>
              <i class="bi bi-arrows-collapse"
                 data-bs-target="#<%= subcategory_domid %>"
                 data-bs-toggle="collapse"
                 role="button"
                 aria-expanded="true"
              ></i>
            </h2>
          </div>
        </div>

        <div class="row profile-page-subcategory-relationships collapse show"
             id="<%= subcategory_domid %>"
             data-controller="subcategory-toggle"
             data-subcategory="<%= subcategory %>">
          <div class="col">
            <!-- Relationships for each category -->
            <% links.take(15).each do |grouped_link| %>
              <div class="row profile-page-grouped-link">
                <div class="profile-page-other-entity">
                  <% other_entity = grouped_link.other_entity(@entity)%>
                  <span class="other-entity-name"  title="<%= other_entity.blurb %>">
                    <%= link_to other_entity.name, concretize_entity_path(other_entity) %>
                  </span>
                  <span class="other-entity-blurb">
                    <%= other_entity.blurb %>
                  </span>
                </div>

                <div class="profile-page-relationships">
                  <%= render partial: 'grouped_link', object: grouped_link %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %> <!-- end of RelationshipCollection loop -->
    </div> <!-- end of main column -->

    <!-- sidebar -->
    <div class="col-sm-12 col-md-4 profile-page-sidebar-col">
    </div>
  </div>

</div>
