<%= render partial: 'header2' %>

<div class="row mt-3">
  <div class="col-sm-12 col-md-8 profile-page-content-col">

    <%# tabs %>
    <div class="row mt-1 mb-3">
      <div class="col">
        <div class="profile-page-tabs">
          <a href="<%= concretize_entity_path(@entity) %>" class="<%= @active_tab == :relationships ? 'active' : 'inactive' %>"><%= t('littlesis.tabs.relationships').capitalize %></a>
          <a href="<%= concretize_profile_entity_path(@entity, active_tab: :interlocks) %>" class="<%= @active_tab == :interlocks ? 'active' : 'inactive' %>"><%= t('littlesis.tabs.interlocks').capitalize %></a>
          <a href="<%= concretize_profile_entity_path(@entity, active_tab: :giving) %>" class="<%= @active_tab == :giving ? 'active' : 'inactive' %>"><%= t('littlesis.tabs.giving').capitalize %></a>
          <a href="<%= concretize_profile_entity_path(@entity, active_tab: :data) %>" class="<%= @active_tab == :data ? 'active' : 'inactive' %>"><%= t('littlesis.tabs.data').capitalize %></a>
        </div>
      </div>
    </div>

    <%# relationships %>
    <% case @active_tab %>
    <% when :relationships %>
      <% if @entity.links.count.zero? %>
        <%= render partial: 'no_relationships' %>
      <% else %>
        <% cache_unless(show_stars?, @entity) do %>
          <% @entity.relationship_collection.each do |grouped_links| %>
            <%= render partial: 'grouped_links', object: grouped_links %>
          <% end %>
        <% end %>
      <% end %>
    <% when :interlocks %>

      <% cache [@entity, 'interlocks', @page] do %>
        <%= render partial: 'connections',
                   locals: {
                     connection_type: :interlocks,
                     connected_entities: @entity.interlocks(@page),
                     has_stat: false
                   } %>
      <% end %>
    <% when :giving %>
      <% cache [@entity, 'giving', @page] do %>
        <%= render partial: 'connections',
                   locals: {
                     connection_type: :giving,
                     connected_entities: @entity.public_send((@entity.person? ? :similar_donors : :employee_donations), @page),
		     has_stat: @entity.org?
                   } %>
      <% end %>
    <% when :data %>
      <%# cache [@entity, 'data'] do %>
        <%= render partial: 'data' %>
      <%# end %>
    <% end %>

  </div> <%# end content-col %>

  <%# sidebar %>
  <div class="col-sm-12 col-md-4 profile-page-sidebar-col">
    <%= render partial: 'sidebar2' %>
  </div>
</div>
