<% content_for(:page_title, @entity.name) %>

<%= content_for :head do %>
  <% javascript_include_tag "profile", defer: true  %>
  <% stylesheet_link_tag "profile", media: "all" %>
<% end  %>

<div id="entity-profile-page">
  <div class="row mt-2">
    <div class="col">
      <h1>
        <%= link_to @entity.name, concretize_entity_path(@entity), class: 'entity-name2' %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="entity-blurb-text">
        <%= @entity.blurb %>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      <% if @entity.summary.present? %>
        <div id="profile-page-entity-summary-container" class="position-relative" data-controller="profile--entity-summary">
          <p class="collapse" id="profile-page-entity-summary" aria-expanded="false">
            <%= @entity.summary %>
            <a role="button" class="collapsed" data-bs-toggle="collapse" href="#profile-page-entity-summary" aria-expanded="false" aria-controls="profile-page-entity-summary"></a>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <%# relationships %>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-8 profile-page-content-col">

      <div class="row mt-1 mb-3">
        <div class="col">
          <div class="profile-page-tabs">
          <a href="#" class="active">Relationships</a>
          <a href="#" class="">Interlocks</a>
          <a href="#">Giving</a>
          <a href="#">Data</a>
          </div>
        </div>
      </div>
      <% @entity.relationship_collection.each do |subcategory, grouped_links| %>
        <%= render partial: 'grouped_links', object: grouped_links %>
      <% end %>
    </div>

    <%# sidebar %>
    <div class="col-sm-12 col-md-4 profile-page-sidebar-col">
      <%= render partial: 'sidebar2' %>
    </div>
  </div>
</div>
