<div id="entity-header">
  <div id="entity-name"><%= entity_link(@entity) %></div>
  <div id="entity-blurb"><%= @entity.blurb %></div>
</div>

<h3 class="section">Relationships</h3>

<div id="relationships-filters">
<div class="form-inline">
  <input id="relationships-search" class="form-control" style="width: 250px;" type="text" placeholder="search">
  <select id="relationships-category" class="form-control">
    <%= options_for_select(@categories) %>
  </select>
  <select id="relationships-type" class="form-control">
    <%= options_for_select(@types) %>
  </select>
  <select id="relationships-industry" class="form-control">
    <%= options_for_select(@industries) %>
  </select>  
  <input id="relationships-amount" class="form-control" type="text" placeholder="amount" style="width: 100px;">
  <div id="relationships-filters-line2">
    <input id="relationships-current" type="checkbox"> Current
    &nbsp;&nbsp;<input id="relationships-board" type="checkbox"> Board Members
    &nbsp;&nbsp;<input id="relationships-executive" type="checkbox"> Executives
    &nbsp;&nbsp;<button id="relationships-export" class="btn btn-default">Export CSV</button>
  </div>
</div>
</div>

<br>

<table id="relationships-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Entity</th>
      <th>Category</th>
      <th>Details</th>
      <th>Date(s)</th>
      <th></th>
    </tr>
  </thead>
</table>

<script>
var data = <%= raw(@relationships.to_json); %>

var ternary = function(data, type, row) {
  if (data == null) {
    return "null";
  } else if (data == true) {
    return "true";
  } else {
    return "false";
  }
}

$(document).ready(function() {
  $('#relationships-table').DataTable({
    data: data,
    dom: "iprt<'export'>p",
    pageLength: 100,
    columns: [
      { 
        data: 'entity_name', 
        name: 'entity_name', 
        width: "40%",
        render: function(data, type, row) {
          var a = document.createElement('a');
          a.href = row.entity_url;
          a.setAttribute('class', 'entity-link');
          a.innerHTML = row.entity_name;
          return a.outerHTML;
        }
      },
      { 
        data: 'category',
        name: 'category',
        width: "10%" 
      },
      { 
        data: 'description',
        name: 'description',
        render: function(data, type, row) {
          if (row.amount) {
            return data + " &bull; $" + row.amount
          } else {
            return data;
          }
        }
      },
      { 
        data: 'date',
        name: 'date',
        width: "10%",
        render: function(data, type, row) {
          if (data == "") {
            if (row.is_current == "") {
              return null;
            } else if (row.is_current == true) {
              return "(current)";
            } else {
              return "(past)";
            }
          } else {
            return data;
          }
        }
      },
      {
        data: 'more',
        name: 'more',
        sortable: false,
        searchable: false,
        render: function(data, type, row) {
          var a = document.createElement('a');
          a.href = row.url;
          a.innerHTML = 'more';
          return a.outerHTML;
        }
      },
      {
        data: 'entity_types',
        name: 'entity_types',
        visible: false, 
        searchable: true
      },
      {
        data: 'is_current',
        name: 'is_current',
        render: ternary,
        visible: false,
        searchable: true
      },
      {
        data: 'is_board',
        name: 'is_board',
        render: ternary,
        visible: false,
        searchable: true
      },
      {
        data: 'is_executive',
        name: 'is_executive',
        render: ternary,
        visible: false,
        searchable: true
      },
      {
        data: 'amount',
        name: 'amount',
        visible: false,
        searchable: true
      },
      {
        data: 'entity_blurb',
        name: 'entity_blurb',
        visible: false,
        searchable: true
      },
      {
        data: 'entity_industries',
        name: 'entity_industries',
        visible: false,
        searchable: true
      },
      {
        data: 'master_search',
        name: 'master_search',
        visible: false,
        searchable: true,
        render: function(data, type, row) {
          return Object.keys(row).map(function(key) { return row[key] }).join('  ');
        }
      }
    ]
  });

  var table = $('#relationships-table').DataTable();

  var category = $('#relationships-category');
  category.on('change', function() {
    table.columns('category:name').search($(this).val()).draw();
  });

  var type = $('#relationships-type');
  type.on('change', function() {
    table.columns('entity_types:name').search("\\b" + $(this).val() + "\\b", true).draw();
  });

  var type = $('#relationships-industry');
  type.on('change', function() {
    table.columns('entity_industries:name').search("\\b" + $(this).val() + "\\b", true).draw();
  });

  var current = $('#relationships-current');
  current.on('change', function() {
    if (this.checked) {
      table.column('is_current:name').search("true").draw();
    } else {
      table.columns('is_current:name').search("").draw();
    }
  });

  var board = $('#relationships-board');
  board.on('change', function() {
    if (this.checked) {
      table.column('is_board:name').search("true").draw();
    } else {
      table.columns('is_board:name').search("").draw();
    }
  });

  var executive = $('#relationships-executive');
  executive.on('change', function() {
    if (this.checked) {
      table.column('is_executive:name').search("true").draw();
    } else {
      table.columns('is_executive:name').search("").draw();
    }
  });

  $.fn.dataTable.ext.search.push(
    function(settings, data, dataIndex) {
      var val = $('#relationships-amount').val();
      var min = parseInt(val);
      var amount = parseFloat(data[9]) || 0;

      if (isNaN(min)) {
        return true;
      }

      if (isNaN(amount)) {
        return false;
      }

      if (amount >= min) {
        return true;
      }

      return false;
    }
  );

  var search = $('#relationships-search');
  search.keyup(function() {
    table.columns('master_search:name').search($(this).val()).draw();
  });

  $('#relationships-amount').keyup(function() {
    table.draw();
  });

  var array_to_csv_data = function(ary) {
    var str = "data:text/csv;charset=utf-8,";
    var lines = ary.map(function(data){
      return data.join(",");
    });
    str += lines.join("\n");    
    return encodeURI(str);
  }

  var escape_csv_value = function(value) {
    var value = value === null ? '' : value.toString();
    value = value.replace(/"/g, '""');
    if (value.search(/("|,|\n)/g) >= 0) {
      value = '"' + value + '"';      
    }
    return value;  
  }

  // var link = document.createElement('a');
  // link.href = "javascript:void(0);"
  // link.setAttribute('class', 'btn btn-default');
  // link.text = 'Export CSV';
  // $(link).css('float', 'left');
  $('#relationships-export').on('click', function() {
    var fields = ['entity_id', 'entity_name', 'entity_blurb', 'entity_types', 'category', 'description', 'is_current', 'start_date', 'end_date', 'is_board', 'is_executive']
    var data = [fields]
    data = data.concat(Array.prototype.slice.apply(table.data()).map(function(d) {
      return fields.map(function(field) {
        return escape_csv_value(d[field]);
      });
    }));
    window.open(array_to_csv_data(data));
  });
  // var e = $('.export')[0];
  // e.appendChild(link);
});
</script>