<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>

<div class="row top-1em">
    <div class="col-md-8 col-sm-8 nopadding">
        <%= render partial: 'summary', locals: { entity: @entity } %>
        <%= render partial: 'tabs', locals: { active_tab: 'relationships', entity: @entity }  %>

        <div id='relationship_tabs_content'>

	<!-- The 'regular' profile page -->

            <% if params[:relationships] == nil %>

		<% cache ['relationship_page', @entity.alt_cache_key] do  %>
		    <% @links = SortedLinks.new(@entity) %>
                    <% section_order(@entity).each do |section| %>
			<% links_group = @links.send(section) %>
			<%= section_heading(links_group) %>
			<%= link_to_all(links_group) %>
			<%= render partial: 'link', collection: links_group.links.take(10) %>
                    <% end %>
		<% end %>

	<!-- The profile page for a specific type of relationship-->

            <% elsif section_order(@entity).include? params[:relationships] %>

		<% page = params[:page].blank? ? 1 : params[:page] %>

		<% cache ['relationship_page', @entity.alt_cache_key, params[:relationships], page ] do  %>
		    <% @links = SortedLinks.new(@entity, params[:relationships], page) %>
                    <% links_group = @links.send(params[:relationships]) %>
                    <%= section_heading(links_group) %>
                    <% paginatable_links = Kaminari.paginate_array(links_group.links, total_count: links_group.count).page(page).per(20) %>
                    <%= paginate paginatable_links %>
                    <%= render partial: 'link', collection: paginatable_links %>
                    <%= paginate paginatable_links %>
		<% end %>

            <% end %>

        </div>
    </div>
    <div class="col-md-4 col-sm-4 double-left-padding hidden-xs">
	<% cache_unless user_signed_in?, ['relationship_page_sidebar',  @entity.alt_cache_key ] do %>
	  <%= render partial: 'sidebar' %>
	<% end  %>
    </div>
</div>

