<div class="container-fluid">
    <%= render partial: 'header', locals: { entity: @entity } %>
    <%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>
    <div class="row top-1em">
        <div class="col-md-8 col-sm-8">
            <%= render partial: 'summary', locals: { entity: @entity } %>
            <%= render partial: 'tabs', locals: { active_tab: 'relationships', entity: @entity }  %>

            <div id='relationship_tabs_content'>
                <% @positions.each do |k, v| %>
                    <div class='subsection'>
                        <% if k == 'In The Office Of' || k == 'Other Positions & Memberships' %>
                            <%= k %>
                        <% else %>
                            <%= k %> Positions
                        <% end %>
                    </div>
                    <div class='relationship-section'>
                        <% v.each do |p| %>
                            <div class='related_entity'>
                                <div class='related_entity_entity'>
                                    <%= link_to p.related.name, entity_path(p.related) %>
                                </div>
                                <div class='related_entity_relationship'>
                                    <ul>
                                        <li><%= link_to "#{p.description1} (#{p.start_date || '?'}—#{p.end_date || '?'})", relationship_path(p) %></li>
                                    </ul>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <p>side bar will go here...</p>
        </div>
    </div>
    
</div>
