<div class="container-fluid">
    <%= render partial: 'header', locals: { entity: @entity } %>
    <%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>
    <div class="row top-1em">
        <div class="col-md-8 col-sm-8">
            <%= render partial: 'summary', locals: { entity: @entity } %>
            <%= render partial: 'tabs', locals: { active_tab: 'relationships', entity: @entity }  %>

            <div id='relationship_tabs_content'>

                <% @positions.each do |k, position_group| %>
                    <div class='subsection'>
                        <% if k == 'In The Office Of' || k == 'Other Positions & Memberships' %>
                            <%= k %>
                        <% else %>
                            <%= k %> Positions
                        <% end %>
                    </div>
                    <div class='relationship-section'>
                        <% position_group.each do |p| %>
                            <%= render partial: "relationship", locals: { relationship: p, related: p.related, description: p.description1 } %>
                        <% end %>
                    </div>
                <% end %>

                <% if @family_relationships.count > 0 %>
                    <div class='subsection'>Family</div>
                    <div class='relationship-section'>
                        <% @family_relationships.each do |r| %>
                            <% if r.entity == @entity %>
                                <% related, description = r.related, r.description2 %>
                            <% else %>
                                <% related, description = r.entity, r.description1 %>
                            <% end %>
                            <%= render partial: "relationship", locals: { relationship: r, related: related, description: description } %>
                        <% end %>
                    </div>
                <% end %>

                <% if @friendships.count > 0 %>
                    <div class='subsection'>Friends & Colleagues</div>
                    <div class='relationship-section'>
                        <% @friendships.each do |r| %>
                            <% if r.entity == @entity %>
                                <% related, description = r.related, r.description2 %>
                            <% else %>
                                <% related, description = r.entity, r.description1 %>
                            <% end %>
                            <%= render partial: "relationship", locals: { relationship: r, related: related, description: description } %>
                        <% end %>
                    </div>
                <% end %>

                <% if @donation_recipients.count > 0 %>
                    <div class='subsection'>Donation/Grant Recipients</div>
                    <div class='relationship-section'>
                        <% @donation_recipients[0,10].each do |r| %>
                            <%= render partial: "relationship", locals: { relationship: r, related: r.related, description: r.description1 } %>
                        <% end %>
                    </div>
                <% end %>

                <% if @donors.count > 0 %>
                    <div class='subsection'>Donors</div>
                    <div class='relationship-section'>
                        <% @donors[0,10].each do |r| %>
                            <%= render partial: "relationship", locals: { relationship: r, related: r.entity, description: r.description2 } %>
                        <% end %>
                    </div>
                <% end %>

                <% if @professional_relationships.count > 0 %>
                    <div class='subsection'>Professional Associates</div>
                    <div class='relationship-section'>
                        <% @professional_relationships[0,10].each do |r| %>
                            <% if r.entity == @entity %>
                                <% related, description = r.related, r.description2 %>
                            <% else %>
                                <% related, description = r.entity, r.description1 %>
                            <% end %>
                            <%= render partial: "relationship", locals: { relationship: r, related: related, description: description } %>
                        <% end %>
                    </div>
                <% end %>

                <% @headings.each do |category_id, heading| %>
                    <% unless @relationships[category_id].blank? %>
                        <div class='subsection'><%= heading %></div>
                        <div class='relationship-section'>
                            <% @relationships[category_id].each do |r| %>
                                <%= render partial: "relationship", locals: { relationship: r, related: r.related, description: r.description1 } %>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>

            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <p>side bar will go here...</p>
        </div>
    </div>
    
</div>
