<%= render partial: 'header', locals: { entity: @entity } %>
<%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>
<div class="row top-1em">
    <div class="col-md-8 col-sm-8">
        <%= render partial: 'summary', locals: { entity: @entity } %>
        <%= render partial: 'tabs', locals: { active_tab: 'relationships', entity: @entity }  %>

        <div id='relationship_tabs_content'>

	    <!-- The 'regular' profile page -->
            <% if params[:relationships] == nil %>
                <% section_order(@entity).each do |section| %>
		    <!-- @links is a <SortedLinks> -->
                    <% links_group = @links.send(section) %>
                    <%= section_heading(links_group) %>
                    <%= link_to_all(links_group) %>
                    <%= render partial: 'link', collection: links_group.links.take(10) %>
                <% end %>
	    <!-- The profile page for a specific type of relationship-->
            <% elsif section_order(@entity).include? params[:relationships] %>
		
                <% links_group = @links.send(params[:relationships]) %>
                <%= section_heading(links_group) %>
                
                <% paginatable_links = Kaminari.paginate_array(links_group.links).page(params[:page]).per(20) %>
                <%= paginate paginatable_links %>
                <%= render partial: 'link', collection: paginatable_links %>
                <%= paginate paginatable_links %>
            <% end %>

        </div>
    </div>
    <div class="col-md-4 col-sm-4">
	<%= render partial: 'sidebar' %>
    </div>
</div>

