<div class="container-fluid">
    <%= render partial: 'header', locals: { entity: @entity } %>
    <%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>
    <div class="row top-1em">
        <div class="col-md-8 col-sm-8">
            <%= render partial: 'summary', locals: { entity: @entity } %>
            <%= render partial: 'tabs', locals: { active_tab: 'relationships', entity: @entity }  %>

            <div id='relationship_tabs_content'>

                <% @section_order.each do |section| %>
                    <% links = instance_variable_get("@#{section}") %>
                    <%= display_relationship_section_heading(links.count, @positions.count, @other_positions.count, @memberships.count, section) %>
                    <%= render partial: 'link', collection: links %>
                <% end %>

            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <p>side bar will go here...</p>
        </div>
    </div>
    
</div>
