<% content_for(:page_title, @entity.name) %>
<% content_for(:head) do %>
  <%= og_tags(title: "LittleSis: #{@entity.name}", url: entity_url(@entity), image: @entity.featured_image_url) %>
<% end %>

<div data-controller="entity-page">
  <%= render partial: 'shared/entity_info', locals: { entity: @entity }  %>
  <%= render partial: 'header', locals: { entity: @entity } %>
  <% if user_signed_in?  %>
    <%= render partial: 'actions', locals: { entity: @entity, current_user: current_user } %>
    <!-- <div class="thin-grey-line"></div> -->
  <% else # add spacing %>
    <div class="mt-2"></div>
  <% end %>


  <div class="row top-1em" id="entity-page-container">

    <div class="col-md-8 col-sm-8">
      <%= render partial: 'summary', locals: { entity: @entity } %>
      <%= entity_tabs(@entity, @active_tab.to_s) %>
      <%= render partial:  @active_tab.to_s %>
    </div>

    <div class="col-md-4 col-sm-4 hidden-xs">
      <%= render partial: 'sidebar' %>
    </div>
  </div>
</div>
