<div class="container-fluid">
    <%= render partial: 'header', locals: { entity: @entity } %>
    <%= render partial: 'actions', locals: { entity: @entity, current_user: @current_user } %>
    <div class="row top-1em">
        <div class="col-md-8 col-sm-8">
            <%= render partial: 'summary', locals: { entity: @entity } %>
            <%= render partial: 'tabs', locals: { active_tab: 'relationships', entity: @entity }  %>

            <% @positions.each do |k, v| %>
                <% if k == 'In The Office Of' || k == 'Other Positions & Memberships' %>
                    <h3><%= k %></h3>
                <% else %>
                    <h3><%= k %> Positions</h3>
                <% end %>
                <ul>
                    <% v.each do |p| %>
                        <li><%= @entity.name %><%= p.description_sentence[0] %><%= p.related.name %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
        <div class="col-md-4 col-sm-4">
            <p>side bar will go here...</p>
        </div>
    </div>
    
</div>
