<div id="actions" class="col-md-8 col-sm-6 hidden-xs">
    <div id="action-buttons">
	<% if signed_in %>        
            <%= link_to "edit", edit_relationship_path(@relationship)  %>
	<% end %>
	<%= link_to "flag", "/home/contact?type=flag" %>
	<% if signed_in and @current_user.has_legacy_permission 'deleter' %>
            <%=  link_to "remove", @relationship.legacy_url('remove'), id: 'remove-relationship' %>
            <%= javascript_tag do %>
             $('#remove-relationship').click(function(e){
               e.preventDefault();
               if (confirm('Are you sure you want to remove this relationship?')) { 
                 var f = document.createElement('form'); 
                 document.body.appendChild(f);
                 f.method = 'POST';
                 f.action = this.href;
                 f.submit();
               }
             });
            <% end %>
	<% end %>
    </div>
</div>

<div id="entity-edited-history" class="col-md-4 col-sm-6 col-xs-6 hidden-xs hidden-sm">
    Edited by<strong>
    <% if @relationship.last_user.nil? %>
	<% @relationship.last_user = SfGuardUser.find(1) %>
    <% end  %>
    <%= link_to @relationship.last_user.user.username, legacy_user_path(@relationship.last_user.user) %>
    </strong>
    <%= time_ago_in_words(@relationship.updated_at) %> ago
    <%= link_to "History", @relationship.legacy_url("modifications") %>
</div>
