<div id="actions" class="col-md-8 col-sm-6 hidden-xs">
  <div id="action-buttons">
    <% if signed_in %>        
      <%= link_to "edit", edit_relationship_path(@relationship)  %>
    <% end %>
    <%= link_to "flag", flag_path %>

    <% if signed_in && current_user.permissions.relationship_permissions(@relationship).fetch(:deleteable) %>
      <%= button_to "remove", relationship_path(@relationship), method: :delete, data: { confirm: "Are you sure you want to remove this relationship?" } %>
    <% end %>
  </div>
</div>

<div id="entity-edited-history" class="col-md-4 col-sm-6 col-xs-6 hidden-xs hidden-sm">
  Edited by<strong>
  <% if @relationship.last_user.nil? %>
    <% @relationship.last_user = User.find(1) %>
  <% end  %>
  <%= link_to @relationship.last_user.username, user_page_path(@relationship.last_user) %>
  </strong>
  <%= time_ago_in_words(@relationship.updated_at) %> ago

  <%# The relationship modifications page still needs to be implemented in rails %>
  <%#= link_to "History", @relationship.legacy_url("modifications") %>
</div>
