<div id="relationship-edit-description-fields-display" class="row">
  <% first_entity, second_entity = description_fields_titles_and_entites(@relationship) %>
  <div class="w-50">
    <table>
      <tbody>
	<tr>
	  <td class="pe-2">
	    <p class="description-fields-title"><%= first_entity.title + ':' %></p>
	  </td>
	  <td>
	    <p><%= link_to first_entity.entity.name, first_entity.entity, id: 'df-entity-link-1' %></p>
	  </td>
	</tr>
	<% if @relationship.reversible? %>
	  <tr>
	    <td>
	    </td>
	    <td>
	      <p class='reference-link'><%= reverse_link %></p>
	    </td>
	  </tr>
	<% end %>

	<tr>
	  <td class="pe-2">
	    <p class="description-fields-title"><%= second_entity.title + ':' %></p>
	  </td>
	  <td>
	    <p><%= link_to second_entity.entity.name, second_entity.entity, id: 'df-entity-link-2' %></p>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
