<%= turbo_frame_tag "edit-relationship-tags-modal" do %>
  <% tags = @relationship.tags_for(current_user) %>
  <div class="modal" data-controller="edit-tags" data-edit-tags-target="modal" data-action="keyup@window->edit-tags#closeWithKeyboard">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6>Add or remove tags</h6>
          <%= button_tag "", data: { action: "edit-tags#close" }, type: "button", class: "btn-close" %>
        </div>

        <div class="modal-body">
          <%= form_with url: tags_relationship_path(@relationship), data: {turbo_frame: "_top"} do |f| %>

            <select name="tags[ids][]" multiple="multiple" data-edit-tags-target="select" autocomplete="off">
              <%= options_for_select(tags.fetch(:byId).values.delete_if { |t| t['restricted'] }.map { |t| [ t['name'], t['id'].to_s ] }, tags.fetch(:current).map(&:to_s)) %>
            </select>

            <%= f.submit "Update", class: 'btn btn-sm btn-primary mt-3' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show" style="pointer-events: auto;"></div>
<% end %>
