<div class="row top-3em">
    <div class="col-sm-6">
	<div class="panel panel-default">
	    <div class="panel-heading">
		<h3 class="panel-title">Where is this information coming from?</h3>
	    </div>
	    <div class="panel-body">
		<div id="existing-sources-container">
		    <label for="cleaning-up-checkbox" style="padding-right: 5px;">Just cleaning up:</label>
		    <input type="checkbox" id="cleaning-up-checkbox" />
		    <br />
		    <label for="references-select" style="padding-right: 5px;">Existing Source:</label>
		    <%= references_select(@relationship.references) %>
		    <br />
		    <p class="top-1em">
			<button type="button" class="btn btn-primary btn-xs" id="create-new-reference-btn">Create a new reference</button>
		    </p>
		</div>
		<div id="new-reference-form" class="hidden form-horizontal">
		    <div class="form-group form-group-sm">
                        <%= label_tag(:data_source, "Source URL*", class: "col-sm-2 control-label") %>
                        <div class="col-sm-10">
                            <%= url_field(:data, :source, required: true) %>
                        </div>
                    </div>
                    
                    <div class="form-group form-group-sm">
                        <%= label_tag(:data_name, "Display Name*", class: "col-sm-2 control-label") %>
                        <div class="col-sm-10">
                            <%= text_field(:data, :name, required: true) %>
                        </div>
                    </div>
		    
		    <p class="top-1em">
			<button type="button" class="btn btn-primary btn-xs" id="use-existing-reference-btn">Use existing source</button>
		    </p>
		</div>
	    </div>
	</div>
    </div>
</div>


<script>
 $(function(){
   
   $('#cleaning-up-checkbox').click(function() {
     if($(this).is(':checked')){
       $('#references-select').prop('disabled', true);
       $('#create-new-reference-btn').prop('disabled', true);
       $('#references-select').selectpicker('refresh');
     } else {
       $('#references-select').prop('disabled', false);
       $('#create-new-reference-btn').prop('disabled', false);
       $('#references-select').selectpicker('refresh');
     }
   });

   $('#references-select').change(function(){
     if ($(this).val()) {
       $('#create-new-reference-btn').prop('disabled', true);
     } else {
       $('#create-new-reference-btn').prop('disabled', false);
     }
   })
   
   $('#create-new-reference-btn').click(function() {
     $('#existing-sources-container').addClass('hidden');
     $('#new-reference-form').removeClass('hidden');
   });
   
   $('#use-existing-reference-btn').click(function() {
     $('#existing-sources-container').removeClass('hidden');
     $('#new-reference-form').addClass('hidden');
   })
   
 });
</script>
