<% label_class = 'form-label' %>

<% content_for(:page_title, 'Edit: ' + @relationship.name ) %>

<%= render partial: 'header' %>

<%= form_for @relationship, method: 'patch', html: { class: 'edit-relationship-form' } do |f| %>

  <div class="row mt-4 mb-4">
    <div class="col-md-6 col-sm-8 col-xs-12">
      <%= render partial: 'shared/editing/reference_widget',
                 locals: {
                   documents: @relationship.documents.to_a,
                   selected: @selected_document_id
                 }
      %>
    </div>
  </div>


  <% if [1, 2, 3, 5, 7, 10, 11].include? @relationship.category_id %>
    <%= render partial: 'description_fields_display' %>
  <% end  %>

  <div class="w-50 nopadding"><hr></div>
  <div class="w-100 mt-4"></div>

  <!-- Postion, Membership, Ownership, Donation -->
  <% if d1_is_title || @relationship.is_donation? %>
    <div class="form-row">
      <%= relationship_form_tag(d1_label(f, @relationship), f.text_field(:description1, oninput: 'description1Validation(this)', pattern: '(.{1}){0,100}') ) %>
    </div>
  <% end %>


  <%# description_fields are editable, unlike 'description_fields_display' %>
  <% if requires_description_fields %>
    <div class="form-row">
      <div class="col">
	<%= description_fields(f) %>
      </div>
    </div>
  <% end %>


  <% if @relationship.is_education?  %>
    <div class="form-row">
      <% education_select = f.select :description1, Education::SELECT_OPTIONS, { include_blank: true }, { class: 'selectpicker' } %>
      <% education_label = f.label(:description1, 'Type', class: label_class)  %>
      <%= relationship_form_tag(education_label , education_select) %>
    </div>
  <% end %>


  <%# COMMON FIELDS: start_date, end_date, is_current %>


  <% [ [:start_date, 'Start date'], [:end_date, 'End date'] ].each do |field, text|  %>
    <div class="form-row">
      <%= f.label(field, text, class: label_class) %>
      <div class="form-input-wrapper">
	<%= f.text_field(field) %>
	<%= content_tag(:small, '(YYYY-MM-DD. Use 1968-05-00 to specify May 1968)', class: 'ml-2') %>
      </div>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.label(:is_current, 'Is current', class: label_class) %>
    <div class="form-input-wrapper">
      <%= radio_buttons_producer(f, :is_current) %>
      <%= content_tag(:small, '(is this relationship ongoing?)') %>
    </div>
  </div>

  <% if @relationship.is_position? %>
    <%= f.fields_for :position do |p_form|  %>
      <div class="form-row">
	<%= relationship_form_tag( p_form.label(:is_board, 'Board member', class: label_class), radio_buttons_producer(p_form, :is_board) )%>
      </div>
      <div class="form-row">
	<%= relationship_form_tag( p_form.label(:is_executive, 'Executive', class: label_class), radio_buttons_producer(p_form, :is_executive) )%>
      </div>
      <div class="form-row">
	<%= relationship_form_tag( p_form.label(:is_exmployee, 'Employee', class: label_class), radio_buttons_producer(p_form, :is_employee) + content_tag(:small, '(is it a non-leadership staff position?)') )%>
      </div>
      <div class="form-row">
	<%= relationship_form_tag( p_form.label(:compensation, 'Compensation', class: label_class), p_form.number_field(:compensation) )%>
      </div>
    <% end  %>
  <% end  %>


  <% if @relationship.is_education?  %>

    <%= f.fields_for :education do |e_form|  %>
      <div class="form-row">
	<% degree_select = e_form.select :degree_id, Degree.select_options_cache, { include_blank: true }, { class: 'selectpicker' } %>
	<% degree_label = f.label(:degree_id, 'Degree', class: label_class)  %>
	<%= relationship_form_tag(degree_label , degree_select) %>
      </div>
      <div class="form-row">
	<%= relationship_form_tag( e_form.label(:field, 'Field', class: label_class), e_form.text_field(:field) )%>
      </div>
      <div class="form-row">
	<%= relationship_form_tag( e_form.label(:is_dropout, 'Dropout', class: label_class), radio_buttons_producer(e_form, :is_dropout) )%>
      </div>
      <% end %>
  <% end %>


  <% if @relationship.is_membership?  %>
    <div class="form-row">
      <%= f.fields_for :membership do |membership_form|  %>
	<%= relationship_form_tag( membership_form.label(:dues, 'Dues', class: label_class), membership_form.number_field(:dues) )%>
      <% end %>
    </div>
  <% end %>


  <!-- Donation, Transaction, Lobbying -->
  <% if [5, 6, 7].include? @relationship.category_id  %>
    <div class="form-row">
      <%= relationship_form_tag( f.label(:amount, 'Amount', class: label_class), f.number_field(:amount) )%>
    </div>
    <div class="form-row">
      <%= relationship_form_tag(
        f.label(:currency, 'Currency', class: label_class),
        f.select(:currency, options_for_currency_select, { include_blank: true }, { class: 'selectpicker' })
      ) %>
    </div>
  <% end %>

  <% if @relationship.is_donation? || @relationship.is_transaction? %>
    <div class="form-row">
      <%= relationship_form_tag( f.label(:goods, 'Goods/services', class: label_class), f.text_area(:goods,  size: '40x5') ) %>
    </div>
  <% end %>

  <% if @relationship.is_ownership? %>
    <%= f.fields_for :ownership do |o_form|  %>
      <div class="form-row">
	<%= relationship_form_tag( o_form.label(:percent_stake, 'Percent Stake', class: label_class), o_form.number_field(:percent_stake, within: 0...101) )%>
      </div>
      <div class="form-row">
	<%= relationship_form_tag( o_form.label(:shares, 'Shares', class: label_class), o_form.number_field(:shares) )%>
      </div>
    <% end %>
  <% end %>

  <%# notes: common to all %>
  <div class="form-row">
    <%= relationship_form_tag( f.label(:goods, 'Notes', class: label_class), f.text_area(:notes,  size: '40x6') )%>
  </div>

  <% if @relationship.reversible? %>
    <%= hidden_field_tag "reverse_direction", nil, id: 'relationship-reverse-direction-input' %>
    <%= javascript_tag { render partial: 'reverse_link.js' } %>
  <% end %>


  <div class="form-row">
    <%= f.submit 'Update', class: 'btn btn-primary mr-2' %>
    <%= link_to 'Cancel', relationship_path(@relationship), class: 'btn btn-secondary' %>
  </div>

<% end # end of <form> %>
