<% content_for(:page_title, @relationship.name) %>

<%= render partial: 'header' %>    

<% cache ['subtitle_details_sources', @relationship] do %>
    <div class="row" style="padding-top: 5px;">
        <div class="col-md-6 col-xs-12 col-sm-6"> 
            <div class="row">
                <%= render partial: 'subtitle', locals: {relationship: @relationship } %>
            </div>
            <div class="row top-1em">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <%= render partial: 'details', locals: {details: @relationship.details } %>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 top-1em col-xs-12 pull-right">
            <%= render partial: 'sources', locals: {relationship: @relationship } %>
        </div>
    </div>
<% end %>

<% if user_signed_in? %>
    <%= render partial: 'shared/reference_new', locals: {model: @relationship, reference: @reference } %>
<% end %>
