<% content_for(:page_title, @relationship.name) %>
<div class="container">

    <div class="row">
        <% cache ['name', @relationship] do %>
            <h1><%=  link_to @relationship.name, relationship_path(@relationship), class: "link-blue" %></h1>
       <% end %>
    </div>

    <div class="row thin-grey-bottom-border">
        <% if user_signed_in? %>
            <%= render partial: 'actions', locals: {signed_in: true } %>
        <% else %>    
            <% cache ['action_buttons_no_user', @relationship ] do %>
                <%= render partial: 'actions', locals: {signed_in: false }%>
            <% end %>        
        <% end %>
    </div>

    <% cache ['subtitle_details_sources', @relationship] do %>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6"> 
                <div class="row">
                    <%= render partial: 'subtitle', locals: {relationship: @relationship } %>
                </div>
                <div class="row top-1em">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <%= render partial: 'details', locals: {details: @relationship.details } %>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 top-1em col-xs-12 pull-right">
                <%= render partial: 'sources', locals: {relationship: @relationship } %>
            </div>
        </div>
    <% end %>
</div>

<% if user_signed_in? %>
    <%= render partial: 'shared/reference_new', locals: {model: @relationship, reference: @reference } %>
<% end %>
