<td><%= filer.name %></td>
<td><%= filer.filer_type %></td>
<td><%= filer.committee_type %></td>
<td><%= filer.office_description %></td>
<td><%= filer.district %></td>
<td><%= filer.address %></td>
<td><%= [filer.city, filer.state, filer.zip].map(&:to_s).join(' ') %></td>
    

