<% litwin = Entity.find(71335) %>

<div class="row">
    <h1>New York State Political Donations in LittleSis</h1>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
	<p>We have imported New York State <%= link_to "campaign finance disclosure data", "http://www.elections.ny.gov/CampaignFinance.html"%> into our database and have a semi-automatic matching process that can help you link bigwig donors to the politicians that they've given money to. This works in a similar way to our matching system for Federal Campaign Contributions.
	</p>

	<p>There are two parts components to working with NYS donation data in LittleSis:</p>
	<p><strong>1</strong>) To match contributions to the person who donated them, go to the NYS match donations page. There's a link to the NYS match donations page from the Open Secrets contributions matching page that's on all people profile pages. For instance, to match Leonard Litwin's NYS contributions go to his <%= link_to "profile page", concretize_entity_path(litwin) %> and click the button "match donations". That will take you to the OpenSecrets page. From there, you'll see a red button labeled 'Match NYS Donations' which will take you to the NYS page.</p>

	<p>Alternatively you can construct the url yourself if you know the id of the person or org you'd like to match. The pattern is /entities/<em>ENTITY ID</em>/match_ny_donations. For example. Leonard Litwin's id is 71335, and his NYS matching page is accessible at <%#= link_to "entities/71335/match_ny_donations", "/entities/71335/match_ny_donations" %>.</p>

	<p><strong>2)</strong> Besides matching donations to the donor, you might have to match candidates and politicians to their NYS Filer id. Any candidate, committee or PAC must register as a 'filer' with the <%= link_to "New York State Board of Elections", "http://www.elections.ny.gov/CampaignFinanceRegister.html"%>. Those registrations contain information about the candidate. In order for LittleSis to automatically create a relationship between donors and politicians, we need to make a link between the LittleSis entity of the politician and the filing. You can do that on this page: <%= link_to "littlesis.org/nys/candidates", candidates_path %>.</p>

	<p>To help you know which candidates still need to be linked, on the match nys donations page for a donor, there's a link to a page where you can 'review already matched donations'. From there, for each donation, it will indicate if the filer has been matched or not. If you notice a filer that hasn't been matched yet, you can go to the <%= link_to "candidates page",  candidates_path %>. Afterwards, it will automatically create LittleSis relationships for you.</p>
	    
    </div>
</div>
