<ul class="list-unstyled">
  <% @entity.external_links.to_a.reject(&:internal?).group_by(&:link_type).each do |(link_type, links)| %>
    <% if links.count == 1 %>
      <li>
        <%= link_to links.first.title, links.first.url, 'target' => '_blank' %>
      </li>
    <% else  %>
      <li data-controller="external-links-sidebar">
        <a href="#external-links-grouped-<%= link_type %>"
           data-bs-toggle="collapse"
           style="cursor: pointer;"
           data-action="external-links-sidebar#toggle">
          <%= ExternalLink::LINK_TYPES.dig(link_type, :grouped_title) %>
          <i class="bi bi-plus-circle" data-external-links-sidebar-target="icon"></i>
        </a>
        <div class="collapse" id="external-links-grouped-<%= link_type %>">
          <% links.each do |link| %>
            <%= link_to link.link_id, link.url, target: '_blank', class: 'd-block ml-2' %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
