<%= javascript_pack_tag 'components/sidebar_source_links_panel' %>

<div class="row" id="sidebar-source-links" data-entity-id="<%= @entity.id %>">
    <div class="col-sm-12">
	<%= sidebar_header('Source Links', subtitle: 'Articles documenting info on this page') %>
    </div>

    <div class="col-sm-12" >
	<span class="link-count">Number of documents: <em class="link-count"><%= @entity.documents_count %></em></span>
	<span class="link-count"><%= link_to " :: see all", concretize_references_entity_path(@entity) %> </span>
    </div>

    <div class="col-sm-12" >
	<ul class="list-unstyled" id="source-links-container">
	</ul>
    </div>

    <div class="col-sm-12" >
      <span id="source-links-left-arrow" class="source-links-pager">
	<span class="link-arrow">&laquo;  </span><span class="link-arrow-text">back</span>
      </span>
      <span id="source-links-right-arrow" class="source-links-pager float-right">
	<span class="link-arrow-text">view more  </span><span class="link-arrow">&raquo;</span>
      </span>
    </div>

</div>
