<p><strong>New User Signup:</strong> <%= @user.username %> (<%= @user.id %>)</p>

<p><strong>Name:</strong> <%= @profile.full_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Location:</strong> <%= @profile.location %></p>
<p><strong>Interested in Map the Power:</strong> <%= @user.map_the_power.to_s %></p>

<p><strong>Why they joined:</strong><br><%= @profile.reason %></p>
