<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :findings %>
    <%= f.text_area :findings, :class => "tinymce", :rows => 40, :cols => 120 %>
    <%= render partial: 'shared/tinymce' %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
    <button type="button" class="btn btn-link"><%= link_to "Cancel", @group %></button>
  </div>
<% end %>


