<div id="group_header_cover" style="background-image: url(<%= @group.cover_url %>);">
<div id="group_header_cover_content">

<% if @group.campaign.present? %>
<div id="group_campaign">
<div id="group_campaign_logo"><%= link_to(image_tag(@group.campaign.logo.thumb.url), @group.campaign) %></div>
<div id="group_campaign_name"><%= campaign_link(@group.campaign) %></div>
<div id="group_campaign_tagline"><%= @group.campaign.tagline %></div>
</div>
<% end %>

<div id="group_header">
		<div id="group_logo_small"><%= image_tag(@group.logo_url) %></div>

		<div id="group_name"><%= group_link(@group) %></div>

		<% if @group.tagline.present? %>
			<div id="group_tagline"><%= @group.tagline %></div>
		<% end %>

</div>
</div>
</div>