<%= content_tag("div", { id: "group_header_cover", class: "cover", style: group.cover.present? ? "background-image: url('#{group.cover_url}');" : "" }) do %>

<div id="group_header_cover_content" class="cover_content">

	<div id="group_header">
		<div class="cover_small_left">
			<div class="cover_small_logo">
				<% if @group.logo.present? %>
					<%= image_tag(@group.logo_url) %>
				<% end %>
			</div>
		</div>

		<div class="cover_small_right">
			<div class="cover_name"><%= group_link(@group) %></div>

			<% if @group.tagline.present? %>
				<% if local_assigns[:with_description] %>
					<span class="cover_tagline"><%= @group.tagline %></span>&nbsp;
				<% else %>
					<div class="cover_tagline"><%= @group.tagline %></div>
				<% end %>
			<% end %>

			<% if local_assigns[:with_description] %>
				<% if group.description.present? %>
					<span class="cover_description">
						<%= raw(show_link("<br /><br />" + group.description)) %>
					</span>
				<% end %>

			<br />
			<div id="group_helper">
				You're a member of this group. Read the <a href="javascript:void(0);" onclick="jQuery.Bettertabs.select_tab('group_tabs', 'howto');">How-to</a> to get started. You can <%= link_to("leave", leave_group_path(group), method: :post) %> anytime.
			</div>

			<% end %>
		</div>

		<div class="clearfix"></div>
	</div>
</div>

<% end %>
