<% content_for(:page_title, @group.name + " - Admin") %>

<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<%= notice_if_notice %>

<h1>Admin Links</h1>

<%= link_to "edit this group", edit_group_path(@group) %><br />
<%= link_to "edit this group's findings", edit_findings_group_path(@group) %><br />
<%= link_to "edit this group's howto", edit_howto_group_path(@group) %><br />
<%= link_to "edit this group's findings and howto using raw HTML", edit_advanced_group_path(@group) %><br />
<%= link_to "manage users", users_group_path(@group) %><br />
<%= link_to "manage lists", lists_group_path(@group) %><br />
<%= link_to "clear cache", clear_cache_group_path(@group), method: :post %><br />
<%= link_to "delete group", @group, method: :delete, confirm: "Are you sure you want to delete this group?" %><br />
<%= link_to "create a new group", new_group_path %><br />

<% end %>


<% end %>