<% content_for(:page_title, @group.name + " - Edit") %>

<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<h1>Editing group</h1>

<%= link_to 'edit findings', edit_findings_group_path(@group) %><br />
<%= link_to 'edit howto', edit_howto_group_path(@group) %>

<%= render 'form' %>

<% end %>


<% end %>