<% content_for(:page_title, @group.name + " - Recent Edits") %>

<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<h3>
	Recent Edits
</h3>

<% cache( [ @group.cache_key, 'edits',  params.slice(:page) ] , expires_in: 10.minutes) do %>
  <%= paginate @recent_updates %>

  <table class="table">
    <thead>
      <tr>
        <th>Edited By</th>
        <th>Entity</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <% @recent_updates.each do |entity| %>
        <tr>
          <td class="group_edits_user"><%= user_link(entity.last_user.user) %> <%= time_ago_in_words(entity.updated_at) %> ago</td>
          <td class="group_edits_name"><%= entity_link(entity) %></td>
          <td class="group_edits_details"><em><%= entity.blurb %></em></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @recent_updates %>
<% end %>

<% end %>


<% end %>
