<% content_for(:page_title, @group.name + " - Add Research List") %>

<% content_for :body do %>


<%= render partial: 'groups/header_small', locals: { group: @group } %>


<%= centered_content do %>

<div class="section_header">
	Add Research List
</div>

<h4>Search</h4>
<%= form_tag(nil, method: :get, class: 'form-inline') do %>
	<div class="form-group">
  	<%= text_field_tag :list_search, params[:list_search], id: 'group_list_search', class: 'form-control ' %>
  </div>
	<button type="submit" class="btn btn-default">Go</button>
<% end %>

<% if @lists.present? %>
<h4>Results</h4>
  <% @lists.each do |list| %>
    <%= link_to('add', add_list_group_path(list_id: list.id), method: :post) %>
    &nbsp;
    <strong><%= list_link(list) %></strong> (<%= list.entities.count %>)
    <br />
  <% end %>
<% end %>

<% end %>


<% end %>