<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<div class="left_column">

<h1>Notes</h1>

<%= render partial: "notes/new", locals: { note: @new_note } %>

<hr />

<%= render partial: "notes/search_with_pagination", locals: { notes: @notes } %>

<div class="spacer"> </div>

<div class="notes_list">
	<% if flash[:new_note_id] and @note = Note.find(flash[:new_note_id]) and (@notes.first.blank? or @note.id != @notes.first.id) %>
		<%= render partial: "notes/note", locals: { note: @note, show_delete: true } %>	
	<% end %>

	<% cache(@group.cache_key('show/notes', nil, params.slice(:q, :page))) do %>
		<% @notes.each do |note| %>
			<%= render partial: "notes/note", locals: { note: note, redirect: notes_group_path(@group) } %>
		<% end %>
	<% end %>
</div>

<div class="spacer"> </div>
<%= paginate @notes %>

</div>

<% end %>


<% end %>