<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<div class="left_column">

<h1>
	Analyst Notes
	<span class="btn btn-link btn-sm"><%= link_to "write note", new_note_path(group: @group.slug) %></span>
</h1>

<%= render partial: "notes/search_with_pagination", locals: { notes: @notes } %>

<% @notes.each do |note| %>
	<%= render partial: "notes/note", locals: { note: note } %>
<% end %>

<div class="spacer"> </div>
<%= paginate @notes %>

</div>

<% end %>


<% end %>