<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<h1>Analyst Notes</h1>

<%= render partial: "notes/search_with_pagination", locals: { notes: @notes } %>

<% @notes.each do |note| %>
	<%= render partial: "notes/note", locals: { note: note } %>
<% end %>

<div class="spacer"> </div>
<%= paginate @notes %>

<% end %>


<% end %>