<h1>Request New Group</h1>

<div class="spacer"></div>

After making sure it doesn't <%= link_to 'already exist', groups_path %>, describe the group you want to create, what it will be used for, and who will participate.

<div class="spacer"></div>

<%= form_tag(send_request_groups_path, method: :post) do %>


	<% if @errors %>
  <div id="error_explanation" class="alert alert-warning">
    <ul>
    <% @errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


	<% if @campaign.present? %>
		<div class="field">
			<%= label_tag 'Campaign' %>
			<%= campaign_link(@campaign) %>
			<%= hidden_field_tag :campaign_id, @campaign.id %>
		</div>
		<br />
	<% end %>

  <div class="field">
    <%= label_tag 'Group name' %>
		<%= text_field_tag :name, params[:name], class: "form-control" %>
  </div>

  <div class="field">
    <%= label_tag 'Group purpose' %>
		<%= text_area_tag :description, params[:description], class: "form-control", id: "group_request_description" %>
  </div>

  <br />

	<%= submit_tag "Request", class: "btn btn-primary" %>
<% end %>