<% content_for :body do %>

<div id="group_header_cover" class="cover" style="background-image: url(<%= @group.cover_url %>);">
<div id="group_header_cover_content">

<% if @group.campaign.present? %>
<div id="group_campaign">
<div id="group_campaign_logo"><%= link_to(image_tag(@group.campaign.logo.thumb.url), @group.campaign) %></div>
<div id="group_campaign_name"><%= campaign_link(@group.campaign) %></div>
<div id="group_campaign_tagline"><%= @group.campaign.tagline %></div>
</div>
<% end %>

<div id="group_header">
	<div class="cover_left">
		<div class="cover_name"><%= group_link(@group) %></div>

		<% if @group.tagline.present? %>
			<div class="cover_tagline"><%= @group.tagline %></div>
		<% end %>

		<div id="group_stats">
			<%= pluralize(@group.users.count, "analysts") %> &bull; watching <%= pluralize(@group.entities.people.count, "person") %> & <%= pluralize(@group.entities.orgs.count, "org") %> on <%= pluralize(@group.lists.count, "list") %> &bull; <%= @group.notes.count %> notes
		</div>


		<% if @group.description.present? %>
			<div class="cover_description">
				<%= more_link(raw(@group.description), 300) %>
			</div>

		<% end %>

		<% if user_signed_in? %>
			<% if current_user.in_group?(@group) %>
				<div id="group_helper" class="helper">
					You're a member of this group. Read the <a href="javascript:void(0);" onclick="jQuery.Bettertabs.select_tab('group_tabs', 'howto');">How-to</a> to get started. You can <%= link_to("leave", leave_group_path(@group), method: :post) %> anytime.
				</div>
			<% else %>
				<div id="group_helper" class="helper">
					<%= link_to("Join", join_group_path(@group), method: :post) %> this research group to participate.
				</div>
			<% end %>
		<% else %>
			<br />
			<div id="group_helper" class="helper">
				This is a LittleSis research group. To participate in this group, <%= link_to 'join', "/join" %> LittleSis or <%= link_to 'log in', "/login" %>.
			</div>
		<% end %>

	</div>
	<div class="cover_right">
		<div id="group_logo"><%= image_tag(@group.logo_url) %></div>
	</div>
	<div class="cover_clear"> </div>
</div>
</div>
</div>

<%= centered_content do %>

<% if user_signed_in? and current_user.in_group?(@group) %>

<div id="group_left_column">
<%= bettertabs :group_tabs, { selected_tab: :updates, class: "group_tabs" } do |tab| %>
	<%= tab.static :updates do %>
		<div class="section_header">
			Analyst Notes
			<span class="header_action"><%= link_to "see all", notes_group_path(@group) %></span>
			<span class="header_action"><%= link_to "write note", new_note_path(group: @group.slug) %></span>
		</div>
		<% @notes.each do |note| %>
			<%= render partial: "notes/note", locals: { note: note } %>
		<% end %>
	<% end %>
	<%= tab.static :findings do %>
		<div class="section_header">Findings & Highlights</div>
		<div id="group_findings"><%= simple_format(@group.findings) %></div>		
	<% end %>
	<%= tab.static :howto, "How-To" do %>
		<div class="section_header">How-To</div>
		<div id="group_howto"><%= simple_format(@group.howto) %></div>		
	<% end %>
	<%= tab.static :lists, "Lists" do %>
		<div class="section_header">
			Research Lists
		  <span class="header_action">
		    <%= link_to('add', new_list_group_path(@group)) %>
		  </span>
		</div>
		<div id="group_howto">
			<% @group.lists.each do |list| %>
				<div class="group_list_name"><%= list_link(list) %> (<%= list.entities.count %>)</div>
				<div class="group_list_description"><%= list.description %></div>
			<% end %>
		</div>		
	<% end %>
<% end %>
</div>

<div id="group_right_column">
	<div class="section_header">Who We're Watching</div>
	<% @group.featured_entities.limit(5).each do |entity| %>
		<%= render partial: "entities/small", locals: { entity: entity } %>
	<% end %>

	<div class="spacer"> </div>

	<div class="section_header">Recent Edits</div>
	<% @recent_updates.each do |entity| %>
		<%= render partial: "entities/recent_update", locals: { entity: entity } %>
	<% end %>
</div>

<script>
$('.group_tabs').bettertabs();
</script>

<% else %>

<% if @carousel_entities.count > 0 %>
<h3>Who We're Watching</h3>
<div id="group_carousel">
	<%= render partial: "shared/carousel", locals: { entities: @carousel_entities } %>
</div>
<% end %>

<div class="spacer"> </div>

<div class="left_column">
	<h3>Findings & Highlights</h3>
	<div id="group_findings">
		<% if @group.findings.present? %>
			<%= simple_format(@group.findings) %>
		<% else %>
			No findings yet!
		<% end %>
	</div>
</div>

<div class="right_column">
	<h3>Recent Edits</h3>
	<% @recent_updates.each do |entity| %>
		<%= render partial: "entities/recent_update", locals: { entity: entity } %>
	<% end %>
</div>

<div class="clear_columns"></div>

<% end %>

<% end %>

<% end %>