<% content_for :body do %>


<%= render partial: "groups/header_small", locals: { group: @group } %>


<%= centered_content do %>

<h3>Analysts</h3>
<div id="group_analysts_pages"><%= paginate @group_users %></div>

<table class="list_table">
  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Role</th>
      <th>Member Since</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_users.each do |gu| %>
      <tr class="group_users_row">
        <td class="group_users_image"><%= user_image(gu.user) %></div>
        <td class="group_users_name"><%= user_link(gu.user) %></td>
        <td><%= gu.is_admin ? "admin" : "" %></td>
        <td><%= time_ago_in_words(gu.user.legacy_created_at) %> ago</td>
        <td>
          <% if gu.is_admin %>
            <%= link_to 'revoke admin', demote_user_group_path(user_id: gu.user.id), method: :post, confirm: "Are you sure?" %>
          <% else %>
            <%= link_to 'make admin', promote_user_group_path(user_id: gu.user.id), method: :post, confirm: "Are you sure?" %>
          <% end %>
          /
          <%= link_to 'remove from group', remove_user_group_path(user_id: gu.user.id), method: :post, confirm: "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<% end %>