<% content_for(:page_title, "Littlesis Admin - Edit User Permissions") %>
<h2>Add or delete permissions for <span class="text-primary"><%= @user.username %></span></h2>

<table class="table" id="users-edit-permissions-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Add</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% UserAbilities::ALL_ABILITIES.each do |ability| %>
      <tr>
	<td><%= ability.to_s.capitalize %></td>
	<td><%= UserAbilities::DESCRIPTIONS.fetch(ability) %></td>
	<% if @user.abilities.include?(ability) %>
	  <td></td>
	  <td><%= button_to "DELETE", delete_permission_user_path(@user.id, permission: ability), :method => :delete, class: "delete-user-ability-#{ability}" %></td>
	<% else  %>
	  <td><%= button_to "ADD", add_permission_user_path(@user.id, permission: ability), :method => :post, class: "add-user-ability-#{ability}" %></td>
	  <td></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<span class="bg-success"><%= link_to "Go back to the User Admin Page", admin_users_path %></span>
