<h1>Users</h1>

<%= paginate @users %>

<div class="spacer"></div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Name/Bio</th>
      <th>Groups</th>
      <th>Member Since</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="users_image"><%= user_image(user) %></div>
        <td class="users_username"><%= user_link(user) %></td>
        <td class="users_name_bio">
          <% if user.full_name.present? %>
            <strong><%= user.full_name %></strong><br />
          <% end %>
          <%= user.bio %>
        </td>
        <td class="users_groups">
          <% user.groups.each do |group| %>
            <%= group_link(group) %><br />
          <% end %>
        </td>
        <td><%= user.legacy_created_at.strftime("%F") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
