<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<div class="entity-profile-image">
  <%= user_profile_image %>
</div>

<h3>
  About
</h3>
<div>
  <%= @user.about_me %>
</div>

<h3>
  Groups
</h3>
<div>
  <% if @user.groups.present? %>
    <% @user.groups.each do |group| %>
      <%= group_link(group) %><br />
    <% end %>
  <% else %>
    None
  <% end %>
</div>

<h3>
  Edits
  <% if @user.show_private? %>
    <small>
      <%= link_to 'view all edits', user_edits_path(@user), class: 'm-left-1em' %>
    </small>
  <% end %>
</h3>

<div>
  <% @user.recent_updates.each do |entity| %>
    <div class="dashboard-entity">
      <span class="dashboard-entity-link"><%= entity_link(entity) %></span> &nbsp;<em><%= highlight((entity.blurb or ""), params[:q]) %></em>
    </div>
  <% end %>
</div>

<% if @user.show_private? %>
  <h3>Maps</h3>
  <div>
  </div>
<% end %>

  <% if @user.show_private? %>
  <h3>
    Permissions
  </h3>
  <div>
    <table>
      <% Permissions::ALL_PERMISSIONS.each do |p| %>
	<tr>
	  <td class="permission-name"><%= p.capitalize %></td>
	  <td class="permission-boolean"><%= @user.permisison_display(p) %></td>
	</tr>
      <% end %>
    </table>
  </div>
<% end %>
