<p id="notice"><%= notice %></p>

<h1>
	<%= @user.username %>
</h1>

<div>
 profile picture
</div>

 <h3>
 	About
 </h3>
 <div>
 'about me' text [ editable by user see #397 ]
 </div>

 <h3>
 	Groups
 </h3>
 <div>
	<% if @groups.present? %>
	    <% @groups.each do |group| %>
		<%= group_link(group) %><br />
	    <% end %>
	<% else %>
	    None
	<% end %>
 </div>

<h3>
	Edits
</h3>
<div>
	<% @recent_updates.each do |entity| %>
	    <div class="dashboard-entity">
		<span class="dashboard-entity-link"><%= entity_link(entity) %></span> &nbsp;<em><%= highlight((entity.blurb or ""), params[:q]) %></em>
	    </div>
	<% end %>
</div>

<% if @user == current_user %>
	<h3>
		Permissions
	</h3>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
