<div class="row">
  <div class="col-sm-10 col-md-8">
    <h1 class="mb-2"><%= t 'phrases.welcome' %></h1>
    <p><b><%= t 'pages.join.email_confirmation' %></b></p>
    <p class="mr-5">
      <%= t 'pages.join.after_confirming' %>: <%= link_to 'littlesis.org/login', new_user_session_path %>
    </p>
    <p class="mr-5"><small><%= t 'pages.join.having_problems' %> <%=  mail_to "admin@littlesis.org" %>.</small></p>
  </div>
</div>
