<%
if local_assigns[:query_path].nil?
  local_assigns[:query_path] = '/search/entity?&q=%QUERY'
end
%>

<script>
 $(window).ready(function() {

   var post = function(path) {
     var form = document.createElement("form");
     form.setAttribute("method", "post");
     form.setAttribute("action", path);
     var input = document.createElement("input");
     input.setAttribute("type", "hidden");
     input.setAttribute("name", "authenticity_token");
     input.setAttribute("value", "<%= form_authenticity_token %>");
     form.appendChild(input);
     document.body.appendChild(form);
     form.submit();
   }

   var submitEntity = function(entity_id) {
     post('<%= post_path %>'.replace(/XXX/, entity_id));
   }

   var entitySuggestionTemplate = Hogan
     .compile(
       [ '<div class="add-entity-suggestion">',
	 '<div class="add-entity-name">{{name}}</div>',
	 '<div class="add-entity-blurb">{{blurb}}</div>',
	 '</div>'
       ].join('')
     );

   var emptyMessage = '<div class="add-entity-suggestion">No entities found</div>';

   var entitySearch = new Bloodhound({
     datumTokenizer: Bloodhound.tokenizers.whitespace,
     queryTokenizer: Bloodhound.tokenizers.whitespace,
     remote: {
       url: '<%= query_path %>',
       wildcard: '%QUERY'
     }
   });


   $('#<%= input_id %>')
     .typeahead(null, {
       async: true,
       name: 'entities',
       source: entitySearch,
       limit: 8,
       display: 'name',
       templates: {
	 empty: emptyMessage,
	 suggestion: function(data) {
	   return entitySuggestionTemplate.render(data);
	 }
       }
     });

   $('#<%= input_id %>').bind('typeahead:select', function(ev, suggestion) {
     submitEntity(suggestion.id);
   });

   $('#<%= input_id %>')
     .keydown(function(event){
       if(event.keyCode == 13) {
	 event.preventDefault();
	 return false;
       }
     });
 });
</script>
