<div class="row mt-4">
  <div id="footer">A project of the <%= link_to('Public Accountability Initiative', 'https://public-accountability.org') %>. More <%= link_to('about LittleSis', '/about') %>. Read the <%= link_to('disclaimer', '/disclaimer') %>, the <%= link_to('terms of use', '/terms_of_use') %>, the <%= link_to('privacy policy', '/privacy_policy') %> and the <%= link_to('cookie policy', 'cookie_policy') %>.  <%= link_to'Opt-out of analytics', '/analytics_opt_out', data: { turbo: true, turbo_frame: 'modal'} %>.</div>
</div>
