<%# Top Navigation Menu %>
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="<%= container_div_class %>">

    <div class="d-flex justify-content-flex-start">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#littlesisNavbarMenu" aria-controls="littlesisNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse" id="littlesisNavbarMenu">
        <%= cache_unless user_signed_in?, "anonymous_user_navmenu_#{I18n.locale}" do %>
          <%= render partial: 'shared/bootstrap_nav_menu' %>
        <% end %>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="littlesisNavbarContent">
      <div class="w-100 d-flex flex-column">
        <div class="w-100 d-flex justify-content-flex-start">

          <div id="littlesisNavImageWrapper">
            <%= link_to(image_tag("LittleSisPAI_logo_white.svg"), user_signed_in? ? home_dashboard_path : home_path) %>
          </div>

          <div class="me-auto d-flex align-items-center">
            <%= cache_unless user_signed_in?, "anonymous_user_navmenu_#{I18n.locale}" do %>
              <%= render partial: 'shared/bootstrap_nav_menu' %>
            <% end %>
          </div>

	  <div class="d-flex align-items-center">
            <div class="d-flex" id="top_donate_link">
              <div class="me-1"><strong><%= link_to(t('vocab.donate'), '/donate', id: 'donate-link-button', class: 'btn')%></strong></div>
              <form action="/search" method="get" role="search" id="navbar-search">
		<div class="input-group">
                  <input type="text" name="q" class="form-control" placeholder="<%= t('vocab.search').capitalize %> LittleSis">
                  <button class="btn btn-clear" type="submit" ><i class="bi bi-search"></i></button>
		</div>
              </form>
            </div>
	  </div>
        </div>

        <% if show_donation_banner? %>
          <div class="w-100 d-flex pt-2 pb-1">
            <h6>This year LittleSis turned 15! Consider becoming a LittleSustainer to help unsure that our movements have the research and tools<br />we need to win for the long haul. Any amount is greatly appreciated. <a href="https://littlesis.ourpowerbase.net/civicrm/contribute/transact?reset=1&id=3">Donate today.</a></h6>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
