<%= javascript_pack_tag 'components/new_reference_modal' %>

<div class="modal fade" id="add-reference-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a new reference<br><small><%= model.name %></small></h4>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <!-- Error Alert -->
        <div id="reference-error-alert" class="alert alert-warning" role="alert" style="display:none;">
          <p class="text-center"><strong>We're sorry!</strong>
            <p>The LittleSis database had issues with the following fields:</p>
            <div id="reference-errors"></div>
        </div>

        <!-- Loading -->
        <div id="reference-loading" style="display: none;">
          <h3 class="text-center">Adding a new reference ... </h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only">Loading</span>
            </div>
          </div>
        </div>

        <!-- FORM -->
        <%= form_tag("/references", method: 'post', class: "form-horizontal", id:"reference-form") do %>

          <%= hidden_field(:data, :referenceable_id, value: model.id) %>
          <%= hidden_field(:data, :referenceable_type, value: model.class.name) %>

          <div class="form-group form-group-sm">
            <%= label_tag(:data_url, "Source URL*", class: "col-sm-2 control-label") %>
            <div class="col-sm-10">
              <%= url_field(:data, :url, required: true) %>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <%= label_tag(:data_name, "Display Name*", class: "col-sm-2 control-label") %>
            <div class="col-sm-10">
              <%= text_field(:data, :name, required: true) %>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <%= label_tag(:data_publication_date, "Publication Date", class: "col-sm-2 control-label") %>
            <div class="col-sm-10">
              <input type="text" name="data[publication_date]" id="data_publication_date">
            </div>
          </div>

          <div class="form-group form-group-sm">
            <%= label_tag(:data_excerpt, "Excerpt", class: "col-sm-2 control-label") %>
            <div class="col-sm-10">
              <%= text_area(:data, :excerpt, size: "40x6")  %>
            </div>
          </div>

        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Submit" form="reference-form">
      </div>

    </div>
  </div>
</div>
