<div class="dashboard-map">
  <a href="<%= map_path(map) %>" title="<%= map.title %>">
    <div class="dashboard-map-thumbnail">
      <% if map.is_private %>
        <%= image_tag asset_path('lock-128.png') %>
      <% elsif map.screenshot.present? %>
        <%= raw(map.screenshot) %>
      <% else %>
        <%= image_tag asset_path('netmap-org.png') %>
      <% end %>
    </div>
    <div class="dashboard-map-text">
      <p><%= map.title %></p>
    </div>
  </a>
</div>
