<div id="homepage-oligrapher-images">
  <div class="col-sm" >
    <%= link_to image_tag(asset_path('dakota-banking-map2.png'), class: 'gray-img-border'), "/maps/1634-who-s-banking-on-the-dakota-access-pipeline" %>
    <%= link_to "Who's Banking on the Dakota Access Pipeline?","/maps/1634-who-s-banking-on-the-dakota-access-pipeline", class: 'link-blue' %>
  </div>
  <div class="col-sm">
    <%= link_to image_tag(asset_path('tear-gas-profiteers-map.png'), class: 'gray-img-border'), "/maps/3638-tear-gas-profiteers" %>
    <%= link_to "Tear Gas Profiteers", "/maps/3638-tear-gas-profiteers", class: 'link-blue' %>
  </div>
  <div class="col-sm">
    <%= link_to image_tag(asset_path('wendys-billionaire-map.png'), class: 'gray-img-border'), "/maps/4216-wendy-s-billionaire-owner-spurns-farmworkers-while-profiting-off-pension-funds" %>
    <%= link_to "Wendy’s Billionaire Owner Spurns Farmworkers While Profiting Off Pension Funds",  "/maps/4216-wendy-s-billionaire-owner-spurns-farmworkers-while-profiting-off-pension-funds", class: 'link-blue' %>
  </div>
</div>
