<div id="homepage-oligrapher-images">
  <div class="col-sm" >
    <%= link_to (image_tag image_path('dakota-banking-map.png'), class: 'gray-img-border'), "/maps/1634-who-s-banking-on-the-dakota-access-pipeline" %>
    <%= link_to "Who's Banking on the Dakota Access Pipeline?","/maps/1634-who-s-banking-on-the-dakota-access-pipeline", class: 'link-blue' %>
  </div>
  <div class="col-sm">
    <%= link_to (image_tag image_path('data-society-map.jpg'), class: 'gray-img-border'), "/partypolitics" %>
    <%=  link_to "Big Data, Small World", "/partypolitics", class: 'link-blue' %>
  </div>
  <div class="col-sm">
    <%= link_to (image_tag image_path('ferguson-map.jpg'), class: 'gray-img-border'), "/maps/259-profiting-from-ferguson" %>
    <%= link_to "Profiting from Ferguson",  "/maps/259-profiting-from-ferguson", class: 'link-blue' %>
  </div>
</div>
