<div class="row">
    <h1>Contact Us</h1>
</div>

<%= render partial: 'contact_header' %>

<div class="row">
    <%= form_tag("/contact", method: "post", class: 'form-horizontal', multipart: true) do %>
        
	<%= render partial: 'form_part_name_email' %>

        <div class="form-group">
            <label class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-3">
                <% select_options = ["", "Something's Broken", "Innacurate Data", "Feature request", "I want to contribute", "Press inquiry", "Other"] %>
                <%= select_tag "subject", options_for_select(select_options) %>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Message</label>
            <div class="col-sm-6">
                <%= text_area_tag "message", @message, size: '40x8'  %>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <%= submit_tag("submit", class: 'btn btn-primary') %>
            </div>
        </div>
    <% end %>
</div>




