<div class="row no-gutters">
  <h1>Contact Us</h1>
</div>

<%= render partial: 'contact_header' %>

<div class="row no-gutters">
  <%= form_tag("/contact", method: "post", multipart: true, id: 'contact-us-form') do %>

    <div class="form-group">
      <label>Name</label>
      <%= text_field_tag(:name, @name, class: 'form-control') %>
    </div>

    <div class="form-group">
      <label>Email</label>
      <%= email_field_tag('email', current_user&.email, required: true, readonly: user_signed_in?, class: 'form-control') %>
    </div>

    <div class="form-group">
      <label>Subject</label>
      <%select_options = ["", "Something's Broken", "Innacurate Data", "Feature request", "I want to contribute", "Press inquiry", "Other"] %>
      <%= select_tag "subject", options_for_select(select_options), class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Message</label>
      <%= text_area_tag "message", @message, size: '40x8', class: 'form-control'  %>
    </div>

    <%= very_important_wink_wink %>

    <% unless user_signed_in? %>
      <div class="form-group">
	<%= math_captcha_fields(MathCaptcha.new, input_class: 'form-control') %>
      </div>
    <% end %>

    <%= submit_tag("submit", class: 'btn btn-primary') %>

  <% end %>
</div>
