<% content_for(:page_title, "Dashboard") %>

<div class="left_column">

<% if notice %>
	<div class="alert alert-success"><%= notice %></div>
<% end %>

<%= dismissable_alert('dashboard_alert') do %>
	Need help using LittleSis? Get help for <%= link_to 'beginner', "/beginnerhelp" %> or <%= link_to 'advanced', "/advancedhelp" %> users.
<% end %>

<form action="/search" method="get">
	<div class="input-group">
		<input type="text" name="q" class="form-control" placeholder="search for a name" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>
	</div>
</form>

<div class="spacer"></div>
<div class="spacer"></div>

<h3>
	Recent Notes
	<span class="btn btn-link btn-sm"><%= link_to 'see all', notes_path %></span>
</h3>

<%= render partial: "notes/new", locals: { redirect: home_dashboard_path } %>

<div class="spacer"></div>

<div class="notes_list">
<% cache(current_user.cache_key('dashboard/notes'), expires_in: 10.minutes) do %>
<% @notes.each do |note| %>
	<% if note.visible_to?(current_user) %>
		<%= render partial: "notes/note", locals: { note: note, user: current_user } %>
	<% end %>
<% end %>
<% end %>
</div>

</div>

<div class="right_column">

<div id="dashboard_user_image"><%= user_image(current_user) %></div>
<div id="dashboard_user_name">
	<%= user_link(current_user) %><br >
	<span id="dashboard_user_network"><%= link_to current_user.default_network.name, current_user.default_network.legacy_network_url %></span>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<% if @campaigns.present? %>
	<% @campaigns.each do |campaign| %>
		<strong><%= campaign_link(campaign) %></strong><br />
	<% end %>
<% end %>

<div class="spacer"></div>
<div class="spacer"></div>

<h3>
	Research Groups
	<%= header_action('details', home_groups_path) %>
</h3>

<% if @groups.present? %>
	<% @groups.each do |group| %>
		<%= group_link(group) %><br />
	<% end %>
<% else %>
	<%= link_to 'Join a group', groups_path %>
<% end %>

<div class="spacer"></div>
<div class="spacer"></div>

<h3>
	Recent Edits
	<%= header_action('see all', edits_path) %>
</h3>

<% cache(current_user.cache_key('dashboard/edits'), expires_in: 10.minutes) do %>
	<%= render partial: "shared/recent_updates", locals: { entities: @recent_updates, no_edits_message: "You haven't made any edits yet. View the #{link_to('help pages', '/beginnerhelp')} to learn how." } %>
<% end %>

</div>