<% content_for(:page_title, t('vocab.dashboard').capitalize) %>

<% content_for :head  do %>
  <%= stylesheet_link_tag "dashboard", media: "all" %>
<% end %>

<div class="row" id="dashboard">
  <div class="col-md-8 col-sm-12">

    <h1 class="pb-1"><%= t('vocab.dashboard').capitalize %></h1>

    <div class="mb-4" id="dashboard-explore">
      <%= link_to(t('littlesis.map').pluralize, "/oligrapher/search", class: "btn btn-clear") %>
      <%= link_to(t('littlesis.list').pluralize, lists_path, class: "btn btn-clear") %>
      <%= link_to(t('littlesis.tag').pluralize, tags_path, class: "btn btn-clear") %>
      <%= link_to(t('vocab.edits'), edits_path, class: "btn btn-clear") %>
   </div>

    <form action="/search" method="get" id="dashboard-search-form" class="input-group mb-4" style="max-width: 344px;">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="<%= t('phrases.search_for_a_name') %>" aria-label="Entity Search">
        <button class="btn btn-clear" type="submit"><i class="bi bi-search"></i></button>
      </div>
    </form>

    <div class="mt-3" data-turbo="true">
      <%= render partial: 'dashboard_recent_edits' , locals: { page: 1, user_id: current_user.id } %>
    </div>

    <div class="mt-3" data-turbo="true">
      <%= render partial: 'dashboard_maps' , locals: { maps: @maps, page: 1, maps_per_page: 4 } %>
    </div>

  </div> <%# Left Column %>

  <div class="col-md-4 col-sm">
    <div id="dashboard-bulletins">
      <%= cache ['home_dashboard_bulletins', DashboardBulletin.last_bulletin_updated_at ] do %>
	<%= render partial: 'dashboard_bulletins/bulletins' %>
      <% end %>
    </div>
  </div>
</div>
