<div class="row">
  <div class="col">
    <h1>Flag for Review</h1>
    <p>Report a problem or inaccuracies concerning this LittleSis page</p>
    <p>
      <span><%= link_to @flag_form.page, @flag_form.page, target: '_blank' %></span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if @flag_form.success %>
      <p>
        <span class="bg-info">Your message has been sent. Thank you!</span>
      </p>
    <% else %>
      <%= form_tag '/flag', method: 'post', class: 'w-100' do %>
        <%= hidden_field_tag 'page', @flag_form.page  %>

        <div class="form-group form-row">
          <label for="flagEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-md-6 col-sm-10">
            <%= email_field_tag('email', @flag_form.email, required: true, id: 'flagEmail', class: 'form-control') %>
          </div>
        </div>

        <div class="form-group form-row">
          <label for="flagMessage" class="col-sm-2 col-form-label">Message</label>
          <div class="col-md-6 col-sm-10">
	    <%= text_area_tag 'message', @flag_form.message, class: 'form-control', size: '25x5', id: 'flagMessage' %>
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col">
            <%= submit_tag("submit", class: 'btn btn-primary') %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
