<% content_for(:page_title) { "LittleSis - Profiling the powers that be" } %>
<% content_for(:head) do  %>
  <%= og_tags(title: 'LittleSis', url: 'https://littlesis.org', image: 'https://littlesis.org/images/system/lilsis-logo-trans-200.png') %>
  <meta property="og:description" content="LittleSis is a free database of who-knows-who at the heights of business and government">
<% end  %>

<div class="row mt-4" id="homepage-who-we-are-row">
  <div class="col-sm-12 col-lg-9">
    <div class="row">
      <h1>LittleSis<span style="color: #cc5454;">*</span> is a free database of who&zwj;-&zwj;knows&zwj;-&zwj;who at the heights of business and government.</h1>
      <div style="font-weight: 300; font-size: 14px; color: #cc5454;"><span style="font-size: 16px; font-weight: bold;">*</span> opposite of Big Brother</div>
      <div class="mt-3 homepage-subheading"">We're a grassroots watchdog network connecting the dots between the world's most powerful people and organizations.</div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 mt-3">
      <div class="col pe-4 pe-md-0">
        <%= render partial: 'newsletter_signup_form' %>
      </div>
      <div class="col mt-2 mt-md-0 mb-2 mb-md-0">
        <%= render partial: 'social_media_buttons' %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-3 mt-sm-3 mt-lg-0">
    <%= render partial: 'dots_connected' %>
  </div>
</div>

<!-- <div class="row align-content-center mt-5 mb-2">
     <div class="col">
     <h2 class="text-center homepage-subheading"><b>Trainings, news, & tools</b></h2>
     </div>
     </div> -->

<div class="row row-cols-1 row-cols-md-3 mt-3 mb-3 g-lg-4" id="homepage-explore-row">

  <div class="col">
    <div>
      <%= image_tag "map_the_power_RGB.gif" %>
    </div>

    <h5 class="mt-2 text-center"><%= link_to "Power research toolkit & trainings", toolkit_path %></h5>
  </div>


  <div class="col">
    <div>
      <%= image_tag "eye-on-ties.png", id: "eyes-on-ties-img" %>
    </div>

    <h5 class="mt-2 text-center"><%= link_to "News and analysis from LittleSis", "https://news.littlesis.org" %></h5>
  </div>

  <div class="col">
    <div>
      <%= image_tag "netmap-org.png" %>
    </div>
    <h5 class="mt-2 text-center"><%= link_to "Visual diagramming tool", "/oligrapher" %></h5>
  </div>
</div>

<div class="row mb-4 mt-4" id="homepage-carousel-row">
  <div class="col">
    <div class="littlesis_carousel_wrapper">
      <% cache [ 'carousel', @carousel_entities ] do %>
	<%= render partial: "shared/carousel", locals: { entities: @carousel_entities } %>
      <% end  %>
    </div>
  </div>
</div>


<!-- OLIGRAPHER -->
<%=  render partial: 'oligrapher' %>

<div class="row mb-5 mt-5">
  <div class="col-sm-12 text-center">
    <h1 class="big-text text-center">A unique resource for investigating cronyism, conflicts of interest, and systemic corruption.</h1>
  </div>
</div>

<div class="row mt-4">

  <div class="col-sm-7 pb-3">
    <%= homepage_headline_h3 'An involuntary facebook of the 1%'%>

    <p>We bring transparency to influential social networks by tracking the key relationships of politicians, business leaders, lobbyists, financiers, and their affiliated institutions. We help answer questions such as:</p>
    <ul>
      <li><em>Who do the wealthiest Americans donate their money to?</em></li>
      <li><em>Where did White House officials work before they were appointed?</em></li>
      <li><em>Which lobbyists are married to politicians? Who do they lobby for?</em></li>
    </ul>

    <p>All of this information is public, but scattered. We bring it together in one place. Our data derives from government filings, news articles, and other reputable sources. Some data sets are updated automatically; the rest is filled in by our user community. <%= link_to "More Features", "/features", class: 'link-blue'  %></p>

    <%= homepage_headline_h3 'Names behind the news' %>

    <p>Who are the movers and shakers behind the bailouts, government contracts, and austerity policies? We’re working around the clock to stock LittleSis with information about bigwigs who make the news, and their connections to those who don’t. For updates and analysis visit our blog, <%= link_to "Eyes on the Ties", "http://blog.littlesis.org", class: 'link-blue' %></p>

    <%= homepage_headline_h3 'Made for watchdogs' %>

    <p>We're bringing together a community of watchdogs who believe in transparency and accountability where it matters most. We're looking for journalists, researchers, programmers, artists and organizers to lend a hand. <% link_to "Get Involved", "/join", class: 'link-blue' %></p>

    <%= homepage_headline_h3 'Think and do tank' %>

    <p>LittleSis is a project of Public Accountability Initiative, a 501(c)3 organization focused on corporate and government accountability. We receive financial support from <%= link_to 'foundations', 'http://public-accountability.org/about/funding/', class: 'link-blue' %> and benefit from free software written by the open source community.</p>
    <p>The <%= link_to "code", "https://github.com/public-accountability/littlesis-rails", class: 'link-blue' %> powering LittleSis is free & open source.</p>

  </div>

  <div class="col-sm-1"></div>

  <div class="col-sm-4">
    <%= homepage_headline_h3 'Data Summary' %>
    <%= render partial: 'data_summary', locals: {stats: @stats} %>
  </div>

</div>
