<div class="user_notes">

<% if notice %>
<div class="alert alert-success">
	<%= notice %>
</div>
<% end %>

<h1>
	My Notes

	<% if params[:show_replies].present? and params[:show_replies] == "1" %>
		<span class="btn btn-link btn-sm"><%= link_to("hide replies", home_notes_path) %></span>
	<% else %>
		<span class="btn btn-link btn-sm"><%= link_to("show replies", home_notes_path(show_replies: 1)) %></span>
	<% end %>
</h1>

<%= render partial: "notes/new" %>

<hr />

<%= render partial: "notes/search_with_pagination", locals: { notes: @notes } %>

<div class="spacer"> </div>

<div class="notes_list">
	
	<% cache(current_user.cache_key('home/notes', nil, params.slice(:q, :page))) do %>
		<% if flash[:new_note_id] and @note = Note.find(flash[:new_note_id]) and (@notes.first.blank? or @note.id != @notes.first.id) %>
			<%= render partial: "notes/note", locals: { note: @note, show_delete: true } %>	
		<% end %>

		<% @notes.each do |note| %>
			<% if note.visible_to?(current_user) %>
				<%= render partial: "notes/note", locals: { note: note, show_delete: true } %>
			<% end %>
		<% end %>
	<% end %>
</div>

<div class="spacer"> </div>
<%= paginate @notes %>

</div>