Hello <%= @name %>,<br />
<br />
Thanks for signing-up to investigate the role of Wall Street on your campus! Here are three ways to begin your investigation:<br />
<br />
<strong>Join an online training!</strong> All you need is 1 hour and a computer with a working mic and speakers. The training will cover what we know already about Wall Street's higher ed skim and how you can use LittleSis to find out more about the skim on your campus. It's also a great way to connect with folks on other campuses dealing with the same issues! <%= link_to 'Find the training that works best for your schedule and RSVP now', 'https://plus.google.com/104701682816120337529/posts?gpinv=AMIXal9A_JDByQKLPPLeDYkaaosKwZk8SRhS51fQrdXs6QsTe411FAuZTUbCRF-rCsY2L37KFMcDuVCh16h5elfHHBr1DHSVLP2zG2ts2-NOxqGt_OAqNL4&cfem=1' %>.<br />
<br />
<strong>Organize your friends and colleagues for a private training!</strong> If you know others interested in joining the investigation, email <%= link_to 'research@littlesis.org', 'mailto: research@littlesis.org' %> to schedule a training online or in person that's all about your school. We'll create a research group to help you organize your school's investigation.<br />
<br />
<strong>Dig in with the research guide!</strong> We have plenty of materials on LittleSis that make it easy to dive in and begin your investigation without a training.<br />
<br />
<ol>
  <li>Create a LittleSis user account <%= link_to 'here', 'http://littlesis.org/join#signup' %></li>
  <li>Check out our <%= link_to 'research guide', url_for(controller: 'campaigns', action: 'show', id: 'studentdebt', campaign_tabs_selected_tab: 'guide') %> for step-by-step instructions to answer your questions about Wall Street's role on your campus</li>
  <li>Go to our <%= link_to 'help center', 'http://littlesis.org/help' %> for instructions on adding and editing data</li>
</ol>
<br />
Please email us with any questions about how to begin: <%= link_to 'research@littlesis.org', 'mailto:research@littlesis.org' %><br />
<br />
Thanks,<br />
The Littlesis Team!