<h1>Editing: <%= @page.name %></h1>

<% unless @page.errors.empty? %>
    <% @page.errors.full_messages.each do |msg| %>
	<div class="alert alert-danger" role="alert">
	    <span><%= msg %></span>
	</div>
    <% end %>
<% end %>

<%= form_for @page, method: :patch, url: page_path(@page) do |f| %>
  <%= f.label :content %>
  <%= f.rich_text_area :content %>
  <%= f.submit "Update",  class: 'btn btn-primary' %>
  <%= link_to 'Cancel', page_path(@page), class: 'btn btn-secondary' %>
<% end %>
