<h1>Create a new page for the website</h1>

<% unless @page.errors.empty? %>
    <% @page.errors.full_messages.each do |msg| %>
	<div class="alert alert-danger" role="alert">
	    <span><%= msg %></span>
	</div>
    <% end %>
<% end %>

<div class="row">
    <div class="col-sm-8">
	<%= form_for @page, url: pages_path do |f| %>
	    
	    <div class="form-group">
		<%= f.label :name, 'Page Name' %>
		<%= f.text_field :name, class: 'form-control', required: true %>
	    </div>
	    
	    <div class="form-group">
		<%= f.label :title, 'Page Title' %>
		<%= f.text_field :title, class: 'form-control' %>
	    </div>
	    <%= f.submit 'submit', class: 'btn btn-default' %>
	<% end %>
    </div>
</div>
