<% content_for(:page_title, 'Map the Power with Oligrapher') %>

<div class="row hidden-xs splash-images">
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('fcc-map.jpg'), map_path(@fcc_map)) %><br>
    <%= link_to('FCC Tight with Telecoms', map_path(@fcc_map)) %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('data-society-map.jpg'), 'http://littlesis.org/partypolitics') %><br>
    <%= link_to('Big Data, Small World', 'http://littlesis.org/partypolitics') %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('ferguson-map.jpg'), map_path(@ferguson_map)) %><br>
    <%= link_to('Profiting from Ferguson', map_path(@ferguson_map)) %>
  </div>
</div>

<div id="splash-intro" class="row">
  <div id="splash-header" class="col-sm-12">
    <h1>Map the power with <strong>Oligrapher</strong></h1>
    Oligrapher is a new tool for visualizing networks of influence using LittleSis data.

    <br><br>

    <%= button_to('Get started on a new map', new_map_path, method: :get, class: 'btn-lg') %>
    <div id="splash-join">or <%= link_to('sign up', '/join') %> for a LittleSis account</div>

    <div id="splash-feature-list">
      <ul>
        <li>easily import data from LittleSis</li>
        <li>fullscreen and embedded maps</li>
        <li>customizable nodes, edges, and text</li>
        <li>force-directed and preset layouts</li>
        <li><%= link_to('open-source code', 'http://github.com/skomputer/oligrapher') %> using D3.js</li>
        <li>read more on the <%= link_to(raw('LittleSis blog'), 'http://blog.littlesis.org/2014/07/22/introducing-oligrapher-power-mapping-on-littlesis/') %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row hidden-xs splash-images">
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('shale-map.jpg'), map_path(@shale_map)) %><br>
    <%= link_to('Center for Sustainable Shale Development', map_path(@shale_map)) %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('hadley-map.jpg'), map_path(@hadley_map)) %><br>
    <%= link_to('Hadley and the Ministry of Peace', map_path(@hadley_map)) %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('moma-map.jpg'), map_path(@moma_map)) %><br>
    <%= link_to('Museum of Modern Finance', map_path(@moma_map)) %>
  </div>
</div>

<div class="row hidden-xs splash-images">
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('lawmaking-map.jpg'), map_path(@lawmaking_map)) %><br>
    <%= link_to('Lawmaking after Citizens United', map_path(@lawmaking_map)) %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('uc-map.jpg'), map_path(@uc_map)) %><br>
    <%= link_to('University of California and Wall Street', map_path(@uc_map)) %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('goldwyn-map.jpg'), map_path(@goldwyn_map)) %><br>
    <%= link_to('How Hillary Clinton and David Goldwyn Sold Fracking', map_path(@goldwyn_map)) %>
  </div>
</div>

<div class="row hidden-xs splash-images">
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('mugabe-map.jpg'), map_path(@mugabe_map)) %><br>
    <%= link_to("Mugabe's Bailout Consortium", map_path(@mugabe_map)) %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('goldman-map.jpg'), map_path(@goldman_map)) %><br>
    <%= link_to('Mapping the Vampire Squid', map_path(@goldman_map)) %>
  </div>
  <div class="col-sm-4 splash-image">
    <%= link_to(image_tag('berman-map.jpg'), map_path(@berman_map)) %><br>
    <%= link_to("Richard Berman's Front Groups", map_path(@berman_map)) %>
  </div>
</div>

<div id="splash-more-maps">
<%= button_to 'View More Maps', featured_maps_path, method: :get, class: 'btn btn-default btn-lg' %>
</div>