<% content_for(:page_title, 'SWAMPED: Fleeing Trump Officials head back to Wall Street') %>
<% content_for(:hide_top, true) %>
<% content_for :head do %>
  <%= stylesheet_link_tag "swamped" %>

  <script>
   function scrollToTop(element) {
     $('html, body').stop()
     $('html, body').animate({ scrollTop: $('#scroll-top').offset().top }, 5000)
   }

   function scrollToBottom() {
     $('html, body').scrollTop(0)

     $('html, body').animate({
       scrollTop: $('.rats p').last().offset().top - $('.header-image').first().height()
     }, 20000)
   }

   window.addEventListener('DOMContentLoaded', function() {
     $("#btn-scroll").click(function() { scrollToTop() })
     $("#btn-about").click(function() { $('#modal-about').modal() })
     $("#btn-tip").click(function() { $('#modal-tip').modal() })
   })

   window.addEventListener('load', function() {
     scrollToBottom()
   })

  </script>

<% end %>
<div id="scroll-top"></div>

<div id="modal-about" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">About Swamped</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Trump administration staffers are taking a spin through the revolving door and landing cushy jobs on Wall St, K Street, and at influential corporations. </p>
        <p>Revoling door information ... </p>

      </div>
      <div class="modal-footer">
        Illustration by Carl Copeland Insta: @carlcodesign
      </div>
    </div>
  </div>
</div>

<div id="modal-tip" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Got a tip?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p class="d-inline">Tell us about a Trump Rat on the loose</p>
        <%= form_with url: '/swamped' do |f|  %>
          <div class="input-group mb-3">
            <%= f.text_field :tip, class: 'form-control' %>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-rat"><%= image_tag('rat.png', class: 'rat-img') %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="swamped">
  <div class="row image-row sticky-top">
    <div class="col">
      <div class="header-image">
        <img src="<%= asset_url("IMG_1387.jpg") %>" />
        <div class="header-text">SWAMPED</div>
        <div class="header-subtext">
          Trump administration staffers are fleeing via the revolving door to jobs on Wall Street, K Street, and at influential corporations.
        </div>

        <div class="header-buttons">
          <button id="btn-scroll" type="button" class="btn btn-sm btn-primary" title="scroll up">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
          </button>
          <button id="btn-about" type="button" class="btn btn-sm btn-primary" title="About">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
              <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>
          </button>
          <button id="btn-tip" type="button" class="btn btn-sm btn-primary" title="Got a tip?">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
              <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              <path d="M2.165 15.803l.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="header-spacer"></div>
    </div>
  </div>

  <div class="row content-row">
    <div class="col rats-col">
      <div class="rats p-4">
        <% JSON.parse(File.read(Rails.root.join('data/swamped.json'))).each do |rat| %>
          <p>
            <%= rat['position'] %>,
            <%= link_to rat['name'], rat['url'], target: '_blank'  %>
            left on <%= rat['date'] %> and now works for
            <% if rat['org_url'].present? %>
              <%= link_to rat['where_to'], rat['org_url'] %>
            <% elsif  rat['where_to'] == 'Unknown' %>
              <span class="rat-unknown">unknown</span>
            <% else %>
              <%= rat['where_to'] %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer>
  <p><a href="https://littlesis.org">by littlesis.org</a></p>
</footer>
