<% content_for(:page_title, 'SWAMPED: Fleeing Trump Officials head back to Wall Street') %>
<% content_for(:hide_top, true) %>
<% content_for :head do %>
  <%= stylesheet_link_tag "swamped" %>
<% end %>

<div id="tip-box">
  <div class="inner">
    <p class="text">
      Trump administration staffers are fleeing via the revolving door to jobs on Wall Street, K Street, and at influential corporations. LittleSis is tracking these rats are they try to make their way back to the private sector.
    </p>
    <div class="tip">
      <div class="tip-inner">
        <p class="d-inline">Got a tip? <br/> Tell us about a Trump Rat on the loose</p>
        <%= form_with url: '/swamped' do |f|  %>
          <div class="input-group mb-3">
            <%= f.text_field :tip, class: 'form-control' %>
            <div class="input-group-append">
              <button class="btn btn-outline btn-rat"><%= image_tag('rat.png', class: 'rat-img') %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row image-row sticky-top">
    <div class="col">
      <div class="header-image">
        <div class="header-text">SWAMPED</div>
        <div class="header-subtext">
          Trump administration staffers are fleeing via the revolving door to jobs on Wall Street, K Street, and at influential corporations.
        </div>
      </div>
      <div class="header-spacer"></div>
    </div>
  </div>

  <div class="row content-row">
    <div class="col rats-col">
      <div class="rats p-4">
        <% JSON.parse(File.read(Rails.root.join('data/swamped.json'))).each do |rat| %>
          <p>
            <%= rat['position'] %>,
            <%= link_to rat['name'], rat['url'], target: '_blank'  %>
            left on <%= rat['date'] %> and now works for
            <% if rat['org_url'].present? %>
              <%= link_to rat['where_to'], rat['org_url'] %>
            <% else  %>
              <%= rat['where_to'] %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
