<div class="row">
  <div class="col-12" id="merge-report-action-buttons">

    <%= form_tag(merge_entities_path, method: :post, class: 'merge-entities-form') do %>
      <%= hidden_field_tag 'mode', 'execute' %>
      <%= hidden_field_tag 'source', @source.id %>
      <%= hidden_field_tag 'dest', @dest.id %>
      <%= submit_tag 'Merge', class: 'btn btn-lrg btn-primary' %>
    <% end %>

    <%= link_to "Go back", "/merge?source=#{@source.id}", class: 'btn btn-secondary' %>
    <%= link_to "Dashboard", home_dashboard_path, class: 'btn btn-secondary' %>
  </div>
</div>
