<%= form_tag(merge_entities_path, method: :get, remote: false) do %>
  <%= hidden_field_tag 'mode', 'search' %>
  <%= hidden_field_tag 'source', @source.id %>
  <div class="input-group">
    <%= text_field_tag 'query', nil, class: 'form-control' %>
    <div class="input-group-append">
      <%= submit_tag 'Search', class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
