<%= form_with(model: tag, url: "/tags/#{tag.id}", data: {
  controller: 'tag-form',
  tag_form_names_value: JSON.dump(Tag.tag_names.reject { |t| t == tag.name })
}) do |f| %>
  <div>
    <%= f.label :name, class: 'form-label'%>
    <%= f.text_field :name, class: 'form-control', data: { parsley_tag_names: true }  %>
  </div>

  <div>
    <%= f.label :description, class: 'form-label' %>:
    <%= f.text_area :description, class: 'form-control', cols: 8, rows: 4 %>
  </div>

  <div class="form-check mt-1 mb-1">
    <%= f.check_box :restricted, class: 'form-check-input' %>
    <%= f.label :restricted, class: 'form-check-label' %>

  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
