<%# locals: tagables, tag, param_name, sub_header, tagable_descriptor %>

<div class="tagable-list">

  <% if subheader %>
    <%= content_tag :h2, subheader, class: "tagable-list-subheader"%>  
  <% end %>

  <% if tagables.empty? %>
    <%= content_tag :div,
                    "There are no #{item_descriptor} tagged \"#{@tag.name}\"",
                    class: "tagable-list-empty-message " %>  
  <% end %>

  <ul class="tagable-list-items">
    <% tagables.each_with_index do |tagable, i| %>
      <div class="tagable-list-item">
        <%= link_to tagable.name, tagable, class: "tagable-list-item-name"%>
        <%= content_tag :div,
                        tagable_list_sort_info(tagable, tag),
                        class: "tagable-list-item-sort-info" %>
        <%= content_tag :div,
                        truncate(tagable.description, length: 90),
                        class: "tagable-list-item-description"%>
      </div>
    <% end #tagables.each %>
  </ul>

</div>

<div class="tagable-list-pagination">
  <%= paginate tagables, param_name: param_name %>
</div>
