<div id="tag-show-container">

  <div id="tag-show-header">

    <div id="tag-show-title">
      Tag: <%= @tag.name.titlecase %>
    </div>

    <div id="tag-show-description">
      <%= @tag.description %>
    </div>

  </div>

  <% @taggings_by_class.each do |tagable_class, taggings|  %>

    <div class="tagable-list" id="tagable-list-<%= tagable_class.downcase.pluralize %>">

      <div class="tagable-list-header">
        <%= "#{tagable_class.pluralize}" %>
      </div>

      <% if taggings.empty? %>

        <div class="tagable-list-empty-message">
          <%= "There are no #{tagable_class.downcase.pluralize} tagged \"#{@tag.name}\"" %>
        </div>

      <% else %>

        <ul class="tagable-list-items">
          <% taggings.each_with_index do |tagging, i| %>
            <div class="tagable-list-item">
              <% tagable = tagging.tagable %>
              <%= link_to tagable.name.titlecase, tagable, class: "tagable-list-item-name"%>
              <%= content_tag :div,
                              "tagged #{time_ago_in_words(tagging.updated_at)} ago",
                              class: "tagable-list-item-date"%>
              <%= content_tag :div,
                              truncate(tagable.description, length: 90),
                              class: "tagable-list-item-description"%>
            </div>
          <% end #tagables.each %>
        </ul>

        <div class="tagable-list-pagination">
          <%= paginate taggings, param_name: Tagable.page_param_of(tagable_class) %>
        </div>

      <% end #if !tagables.empty %>
    </div> 

  <% end # tagables_grouped_by_class.map%>

  <div class=".tag-show-container">
