<div class="tag-header">

  <div class="tag-title">
    Tag: <%= @tag.name.titlecase %>
  </div>

  <div class="tag-description">
    <%= @tag.description %>
  </div>

</div>

<% @taggings_by_class.each do |tagable_class, taggings|  %>

  <div id="tagable-list-<%= tagable_class.downcase.pluralize %>">

    <% if taggings.empty? %>

      <div class="empty-tagable-list-notificatoin">
        <%= "There are no #{tagable_class.downcase.pluralize} tagged \"#{@tag.name}\"" %>
      </div>

    <% else %>

      <ul>

        <div class="tagable-list-header">
          <%= "#{tagable_class.pluralize}:" %>
        </div>

        <% taggings.each do |tagging| %>
          <div class="tagable-list-item">
            <%= link_to tagging.tagable.name.titlecase, tagging.tagable, class: "tagable-list-name"%>
          </div>
        <% end #tagables.each %>

        <%= paginate taggings, param_name: Tagable.page_param_of(tagable_class) %>

      </ul>

    <% end #if !tagables.empty %>

  </div>

<% end # tagables_grouped_by_class.map%>
