<div class="row m-bottom-1em">
    <h1>Request a new tag</h1>
</div>

<div class="row">
    <%= form_tag("/tags/request", method: "post", multipart: true, class: 'form-horizontal', id: 'request-tag-form') do %>

	<div class="form-group">
	    <label class="col-sm-2 control-label">Your Email:</label>
	    <div class="col-sm-8">
		<p class="form-control-static"><%= current_user.email %></p>
	    </div>
	</div>

	<div class="form-group">
	    <label class="col-sm-2 control-label">Tag name:</label>
	    <div class="col-sm-8">
		<%= text_field_tag :tag_name, nil, class: 'form-control', required: true %>
	    </div>
	</div>
	    
	<div class="form-group">
	    <label class="col-sm-2 control-label">Description:</label>
	    <div class="col-sm-8">
		<%= text_area_tag :tag_description, nil, class: 'form-control', required: true %>
	    </div>
	</div>

	<div class="form-group">
	    <label class="col-sm-2 control-label">Additional information:</label>
	    <div class="col-sm-8">
		<%= text_area_tag :tag_additional, nil, class: 'form-control' %>
		<p><small>Anything else you'd like you say. Is this for a special research project you'd like us to know about?</small></p>
	    </div>
	</div>

	<div class="form-group">
	    <div class="col-sm-8 col-sm-offset-2">
		<button type="submit" class="btn btn-primary">Submit</button>
	    </div>
	</div>

    <% end %>
</div>
