<div id="external-entity-matcher">
  <div class="header">
    <div class="float-left">
      <%= external_entities_header_btn 'home', datasets_path %>
      <%= external_entities_header_btn @external_entity.dataset, dataset_path(dataset: @external_entity.dataset, matched: 'unmatched') %>
    </div>

    <div class="float-right">
      <%= external_entities_header_btn 'next', random_external_entities_path(dataset: @external_entity.dataset) %>
    </div>
  </div>


  <div class="flex-container">
    <div class="leftSide">
      <%= render partial: 'external_data' %>
    </div>

    <div class="rightSide">
      <% if @external_entity.matched? %>
        <%= render partial: 'matched_info' %>
      <% else %>
        <%= render partial: 'actions' %>
      <% end %>
    </div>
  </div>
<div>
