<%#
locals: documents: [<Document>], selected
Also see controllers/reference_widget_controller.js
%>

<div data-controller="reference-widget" id="reference-widget">
  <div class="card">
    <div class="card-header">
      <span class="card-title"><%= t('phrases.where_is_this') %></span>
    </div>

    <div class="card-body" data-reference-widget-target="existingSource">
      <% if local_assigns.fetch(:show_just_cleaning_up, true) %>
        <div class="mb-2">
          <label>
            <%= t('phrases.just_cleaning_up') %>
            <input type="checkbox"
                   data-action="change->reference-widget#toggleJustCleaningUp"
                   data-reference-widget-target="justCleaningUp"
                   name="reference[just_cleaning_up]"
                   class="ms-1"
                   required="required" />
          </label>
        </div>
      <% end %>

      <div class="mb-2">
        <label class="pe-2"><%= t('phrases.existing_source') %>:</label>
        <select style="max-width: 200px;" data-reference-widget-target="select" name="reference[document_id]"  class="form-control w-50 d-inline">
          <option></option>
          <% selected_document_id = local_assigns.fetch(:selected, nil) %>
          <%= documents.each do |d| %>
            <%= tag.option truncate(d.name), value: d.id, title: d.url, selected: d.id == selected_document_id %>
          <% end %>
        </select>
      </div>

      <div class="mb-2">
        <button class="btn btn-primary"
                type="button"
                id="reference-widget-create-new-reference"
                data-action="reference-widget#toggleNewDocument"
                data-reference-widget-target="newReferenceButton"><%= t('phrases.create_new_reference') %></button>
      </div>
    </div>

    <div class="card-body new-document" style="display: none;" data-reference-widget-target="newDocument">
      <div class="row mb-2">
        <div class="col-2">
          <label class="col-form-label">Url</label>
        </div>
        <div class="col-auto mw-2">
          <input class="form-control" type="url" name="reference[url]" data-reference-widget-target="newDocumentInput newDocumentUrl" />
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-2">
          <label class="col-form-label"><%= t('vocab.name').capitalize %></label>
        </div>
        <div class="col-auto mw-2">
          <input class="form-control" type="text" name="reference[name]" data-reference-widget-target="newDocumentInput newDocumentName" />
        </div>
        <div class="col-1 ps-0">
          <button class="btn bg-transparent" data-action="reference-widget#titleExtractor" data-reference-widget-target="titleExtractorButton" role="button">
            <i class="bi bi-cloud-download pe-none" ></i>
          </button>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-auto">
          <button class="btn btn-primary" type="button" data-action="reference-widget#toggleExistingSource">Use existing source</button>
        </div>
      </div>
    </div>
  </div>
</div>
