<div class="jumbotron" id="toolkit-footer">
    <div class="container-fluid">
	<div class="col-sm-4 hidden-xs">
	    <%= link_to(image_tag("lilsis-logo-trans-200.png", class: 'img-responsive'), root_path) %>
	</div>
	<div class="col-sm-8 col-xs-12">
	    <ul class="pull-right">
		<%= render partial: 'links' %>
	    </ul>
	</div>
    </div>
</div>


<!-- <div id="footer">
     A project of the <%= link_to('Public Accountability Initiative', 'http://public-accountability.org') %>. 
     More <%= link_to('about LittleSis', '/about') %>.
     Read the <%= link_to('disclaimer', '/disclaimer') %>.
     </div> -->
