<%= stylesheet_link_tag "markdown_editor" %>
<h1>Editing: <%= @page.name %></h1>

<%= render partial: "editable_pages/error_alert" %>

<%= form_for @page, method: :patch, url: toolkit_update_path(id: @page.id), html: {data: {controller: "markdown"}} do |f| %>
  <%= f.text_area :markdown, size: "100x25", id: 'editable-markdown', data: {markdown_target: 'field'} %>
  <br />
  <%= f.submit "Update",  class: 'btn btn-primary' %>
  <%= link_to 'Cancel', "/toolkit/#{@page.name}", class: 'btn btn-secondary' %>
<% end %>
