<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :findings %>
    <%= f.text_area :findings, class: "tinymce form-control" %>  
  </div>

  <br />

  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
    <button type="button" class="btn btn-link"><%= link_to "Cancel", @campaign %></button>
  </div>
<% end %>

<%= tinymce_assets %>
<%= tinymce_on_document_ready %>