<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>  
  </div>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: "form-control" %>  
  </div>

  <div class="field">
    <%= f.label :tagline %>
    <%= f.text_area :tagline, class: "form-control" %>  
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "textarea_medium form-control" %>  
  </div>

  <div class="field">
    <%= f.label :logo %>
    <% unless @campaign.logo_url.nil? %>
      <%= image_tag(@campaign.logo.thumb.url, class: "img-thumbnail campaign_logo_thumb") %><br />
    <% end %>
    <%= f.file_field :logo %>
    <%= f.hidden_field :logo_cache %>
  </div>

  <% if @campaign.logo.present? %>
    <div class="field">
      <%= f.check_box :remove_logo %>
      Remove logo
    </div>
  <% end %>

  <div class="field">
    <%= f.label :logo_credit %>
    <%= f.text_field :logo_credit, class: "form-control" %>  
  </div>

  <div class="field">
    <%= f.label :custom_html %>
    <%= f.text_area :custom_html, class: "wysiwyg form-control" %>  
  </div>

  <br />

  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
    <button type="button" class="btn btn-link"><%= link_to "Cancel", @campaign %></button>
  </div>
<% end %>
