<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>  
  </div>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>  
  </div>

  <div class="field">
    <%= f.label :tagline %>
    <%= f.text_area :tagline %>  
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>  
  </div>

  <div class="field">
    <%= f.label :logo %>
    <% unless @campaign.logo_url.nil? %>
      <%= image_tag(@campaign.logo.thumb.url) %><br />
    <% end %>
    <%= f.file_field :logo %>
    <%= f.hidden_field :logo_cache %>
  </div>

  <div class="field">
    <%= f.label :cover %>
    <% unless @campaign.cover_url.nil? %>
      <%= image_tag(@campaign.cover_url, { width: 500 }) %><br />
    <% end %>
    <%= f.file_field :cover %>
    <%= f.hidden_field :cover_cache %>
  </div>

  <div class="field">
    <%= f.label :findings %>
    <%= f.text_area :findings %>  
  </div>

  <div class="field">
    <%= f.label :howto %>
    <%= f.text_area :howto %>  
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
