<%= form_tag(subscribe_campaign_path, method: :post) do %>
  <% if local_assigns[:errors].present? and errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <ul>
      <% errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-4">
      <%= label_tag 'First name' %>
      <%= text_field_tag :first_name, params[:first_name], class: "form-control" %>  
    </div>
    <div class="col-xs-4">
      <%= label_tag 'Last name' %>
      <%= text_field_tag :last_name, params[:last_name], class: "form-control" %>  
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-8">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email], class: "form-control" %>  
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-xs-8">
      <%= label_tag :school %>
      <%= text_field_tag :school, params[:school], class: "form-control", placeholder: "university or college you want to investigate" %>  
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <br />
      <%= check_box_tag :share_contact_info, "1", params[:share_contact_info] %>&nbsp; put me in touch with other people who want to investigate this school
    </div>
  </div>

  <br />

  <div class="actions">
    <%= submit_tag 'Submit', class: "btn btn-primary" %> 
  </div>
<% end %>