<% content_for(:page_title, @campaign.name + " - Who We're Watching") %>

<% content_for :body do %>


<%= render partial: "campaigns/header_small", locals: { campaign: @campaign } %>


<%= centered_content do %>


<h3>Entities</h3>

<%= dismissable_alert('campaign_entities') do %>
  These are all the entities belonging to this campaign's <%= link_to 'groups', groups_campaign_path(@campaign) %>' research lists.
<% end %>

<% cache(@campaign.cache_key('entities/entities', nil, params.slice(:page))) do %>
  <%= paginate @entities %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @entities.each do |entity| %>
        <tr>
          <td><%= tiny_entity_image(entity) %></td>
          <td class="entities_table_name"><h4><%= entity_link(entity) %></h4></td>
          <td><h4><small><%= entity.blurb %></small></h4></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @entities %>
<% end %>

<% end %>


<% end %>