<% content_for :body do %>

<%= content_tag("div", { id: "campaign_cover", class: "cover", style: @campaign.cover.present? ? "background-image: url('#{@campaign.cover_url}');" : "" }) do %>
	<div id="campaign_cover_content">
		<div class="cover_left">
			<% if @campaign.logo.present? %>
				<div id="campaign_logo_small"><%= image_tag(@campaign.logo_url) %></div>
			<% end %>

			<div id="campaign_name" class="cover_name"><%= campaign_link(@campaign) %></div>
			<% if @campaign.tagline.present? %>
				<div class="cover_tagline"><%= @campaign.tagline %></div>
			<% end %>
			<div class="clearfix"> </div>
			<% if @campaign.description.present? %>
				<div class="cover_description">
					<%= more_link(raw(@campaign.description), 300) %>
				</div>
			<% end %>
		</div>
		<div class="cover_right">
			<h3 id="campaign_groups_header">
				Research Groups
				<span class="btn btn-link btn-sm"><%= link_to 'see all', groups_campaign_path(@campaign) %></span>
			</h3>
			<table class="table" id="campaign_groups_table">
				<% cache(@campaign.cache_key('show/groups'), expire_in: 10.minutes) do %>
					<% @groups.each do |group| %>
					<tr>
		        <td class="campaign_groups_logo">
		          <% if group.logo.present? %>
		            <%= link_to(image_tag(group.logo.thumb.url), group) %>
		          <% end %>
		        </td>
		        <td class="campaign_groups_name"><%= group_link(group) %></td>
		        <td><%= group.user_count %></td>
					</tr>
					<% end %>
				<% end %>
			</table>
			<%= text_field_tag :group, nil, id: "campaign_groups_search", class: "form-control", placeholder: "Find a group" %>
			<div id="campaign_start_group">Can't find a group? <%= link_to 'Request a new one', request_new_groups_path(campaign_id: @campaign.id) %>.</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<% end %>

<% if @campaign.custom_html.present? %>
	<div id="campaign_custom_html">
		<%= raw @campaign.custom_html %>
	</div>
	<div class="spacer"></div>
<% else %>
	<div class="spacer"></div>
<% end %>

<%= centered_content do %>
	<% if @carousel_entities.count > 0 %>
	<h3>Who We're Watching</h3>
	<div id="campaign_carousel">
		<% cache(@campaign.cache_key('show/carousel'), expires_in: 1.day) do %>
			<%= render partial: "shared/carousel", locals: { entities: @carousel_entities } %>
		<% end %>
	</div>
	<% end %>

	<div class="spacer"> </div>

	<div class="left_column">
		<h3>Findings & Highlights</h3>
		<% if @campaign.findings.present? %>
			<%= simple_format(@campaign.findings) %>
		<% else %>
			No findings yet!
		<% end %>		
	</div>

	<div class="right_column">
		<h3>Recent Edits</h3>
		<% cache(@campaign.cache_key('show/recent_edits'), expires_in: 1.hour) do %>
			<% @recent_updates.each do |entity| %>
				<%= render partial: "entities/recent_update", locals: { entity: entity } %>
			<% end %>
		<% end %>
	</div>

<% end %>

<% end %>

<script>
$(window).load(function() {
  $('#campaign_groups_search')
    .typeahead({ 
      name: 'groups',
      remote: '<%= search_groups_campaign_url + "?q=%QUERY" %>',
      limit: 5
    })
    .on("typeahead:selected", function(e, datum) {
    	e.preventDefault();
    	window.location = "/groups/" + datum.slug;
    	e.preventDefault();
    	return false;
});

	$('.tt-query').css('background-color','#fff');
});
</script>