<% content_for(:page_title, @campaign.name) %>

<% content_for :body do %>

<%= render partial: 'campaigns/header', locals: { campaign: @campaign } %>

<% if @campaign.custom_html.present? %>
	<div id="campaign_custom_html">
		<%= raw @campaign.custom_html %>
	</div>
	<div class="spacer"></div>
<% else %>
	<div class="spacer"></div>
<% end %>

<%= centered_content do %>
	<div class="left_column">
    <% if false && @campaign.student_debt? %>
      <div id="wall_street_skimming">
        <div id="wall_street_skimming_header">How much does Wall Street skim from your school?</div>
        <div id="wall_street_skimming_text">
          Wall Street skims <strong>$5 billion</strong> from <strong>higher ed</strong> in the US each year. Check to see how much it is skimming from <strong>your school</strong>.
        </div>
        <form class="form-inline">
          <div class="form-group">
            <%= text_field_tag :skimming_search, nil, id: "wall_street_skimming_input", class: "form-control", placeholder: "Enter the name of your school, eg University of California" %>
          </div>
          <%= submit_tag 'Find your school', class: "btn btn-primary" %>
        </form>
      </div>
    <% end %>

    <br />

		<%= bettertabs :campaign_tabs, { selected_tab: :about, class: "campaign_tabs" } do |tab| %>
			<%= tab.static :about do %>
				<%= raw @campaign.description %>
			<% end %>				

			<%= tab.static :findings do %>
				<% if @campaign.findings.present? %>
					<%= raw @campaign.findings %>
				<% else %>
					No findings yet!
				<% end %>
			<% end %>

			<% if user_signed_in? and current_user.in_campaign?(@campaign) %>
				<%= tab.static :guide, "Research Guide" do %>
					<div id="campaign_howto"><%= raw @campaign.howto %></div>		
				<% end %>
			<% end %>
		<% end %>
	</div>

	<div class="right_column">
		<h3 id="campaign_groups_header">
			Research Groups
			<span class="btn btn-link btn-sm"><%= link_to 'see all', groups_campaign_path(@campaign) %></span>
		</h3>

		<table class="table" id="campaign_groups_table">
			<% cache(@campaign.cache_key('show/groups'), expire_in: 10.minutes) do %>
				<% @groups.each do |group| %>
				<tr>
	        <td class="campaign_groups_logo">
          <% if group.logo.present? %>
            <%= link_to(image_tag(group.logo.thumb.url), group) %>
          <% end %>
	        </td>
	        <td>
	        	<div class="campaign_groups_name"><%= group_link(group) %></div>
	        	<div class="campaign_groups_tagline"><%= group.tagline %></div>
	        </td>
				</tr>
				<% end %>
			<% end %>
		</table>

		<%= text_field_tag :group, nil, id: "campaign_groups_search", class: "form-control", placeholder: "Find a group" %>

		<div id="campaign_start_group">
			Can't find a group? <%= link_to 'Request a new one', request_new_groups_path(campaign_id: @campaign.id) %>.
		</div>
	</div>

<% end %>

<% end %>

<script>
$('.campaign_tabs').bettertabs();
</script>

<script>
$(window).load(function() {
  $('#campaign_groups_search')
    .typeahead({ 
      name: 'groups',
      remote: '<%= search_groups_campaign_url + "?q=%QUERY" %>',
      limit: 5
    })
    .on("typeahead:selected", function(e, datum) {
    	e.preventDefault();
    	window.location = "/groups/" + datum.slug;
    	e.preventDefault();
    	return false;
});

	$('.tt-query').css('background-color','#fff');
});
</script>