<% content_for(:page_title, @campaign.name + " - Sign Up") %>

<% content_for :body do %>

<%= render partial: 'campaigns/header', locals: { campaign: @campaign, hide_signup: true } %>

<%= centered_content do %>
  <div class="cover_left_medium"></div>
  <div class="cover_right_medium">
    <h2>Sign Up Successful</h2>
    <br />
    <div class="row">
      <div class="col-xs-8">
        Thanks for signing up! We'll contact you soon about training opportunities and ways to help out with the research.
        <br />
        <br />
        In the meantime you can read more about this research project <%= link_to 'here', campaign_path(@campaign) %>.
        <br />
        <br />
        If you want to get started contributing info to LittleSis, <%= link_to 'create an account', "/join" %> and check out our <%= link_to 'help pages', "/help" %>.
      </div>
    </div>
  </div>
<% end %>

<% end %>