<style>
 #image-wrapper {
     display:inline-block;
     width: <%= @image.image_width_px %>;
     height: <%= @image.image_height_px %>;
     margin: 0 auto; 
     position:relative; 
     border-radius: 10px;
     box-shadow: 0 5px 30px #333;
 }

 #image-canvas {
     background: url('<%= @image.image_path(@image.type_for_crop) %>');
     background-size: contain;
     width: <%= @image.image_width_px %>;
     height: <%= @image.image_height_px %>;
 }
</style>

<h1 class="mb-1"><%= entity_link(@image.entity) %></h1>

<h3>Crop Image</h3>

<%= content_tag :div,
    data: {
      controller: "image-cropper",
      image_cropper_image_info_value: {
        ratio: @image.image_dimensions.ratio,
        type: @image.image_dimensions.type
      },
      image_cropper_path_value: crop_ls_image_path(@image)
    },
    id: "image-wrapper" do %>

<div class="row">
  <div id="image-wrapper">
    <%= content_tag(
      :canvas,
      data: {
        image_cropper_target: "canvas",
        action: "mousedown->image-cropper#startDrawing mousemove->image-cropper#whileDrawing mouseup->image-cropper#endDrawing"
      },
      width: @image.image_dimensions.width,
      height: @image.image_dimensions.height,
      id: "image-canvas"
    ) {} %>
  </div>
</div>

<div class="row mt-4">
  <div class="ml-5">
    <button id="submit-crop-button" type="button" class="btn btn-outline-primary" data-action="click->image-cropper#submit">Submit</button>
  </div>
</div>

<% end %>
