<style>
 #image-wrapper {
     display:inline-block;
     width: <%= @dimensions.width %>px;
     height: <%= @dimensions.height %>px;
     margin: 0 auto; 
     position:relative; 
     border-radius: 10px; 
     box-shadow: 0 5px 50px #333
 }
 .rect {
     border: 1px solid #FF0000;
     background-color: blue;
     position: absolute;
     z-index: 999;
 }

 #image-canvas {
     background: url('<%= @image.image_path(@type) %>');
     width: <%= @dimensions.width %>px;
     height: <%= @dimensions.height %>px;
 }

</style>

<h1><%= entity_link(@image.entity) %></h1>

<h3>Crop Image</h3>


<div id="image-wrapper">
  <canvas width="<%= @dimensions.width %>" height="<%= @dimensions.height %>" id="image-canvas"></canvas>
</div>


<script>
 window.addEventListener('load', function() {
   setupCanvasCrop(document.getElementById('image-canvas'));
 });


 function setupCanvasCrop(canvas) {
   var ctx = canvas.getContext('2d');
   var isDrawing = false;
   var rect = { "startX": null, "startY": null, "w": null, "h": null };

   function getCursorPosition(canvas, event) {
     var rect = canvas.getBoundingClientRect();
     var x = event.clientX - rect.left;
     var y = event.clientY - rect.top;
     return { "x": x, "y": y };
   }

   canvas.onmousedown = function(e) {
     isDrawing = true;
     var position = getCursorPosition(canvas, e);
     rect.startX = position.x;
     rect.startY = position.y;
   };
   
   canvas.onmouseup = function(e) {
     var position = getCursorPosition(canvas, e);
     rect.w = (position.x - rect.startX);
     rect.h = (position.y - rect.startY);
     isDrawing = false;
   };


   canvas.onmousemove = function (e) {
     if (!isDrawing) {
       return;
     }

     var position = getCursorPosition(canvas, e);
     rect.w = (position.x - rect.startX);
     rect.h = (position.y - rect.startY);

     ctx.clearRect(0,0, canvas.width,canvas.height);
     ctx.fillStyle = 'green';
     ctx.fillRect(rect.startX, rect.startY, rect.w, rect.h);
   }

}

</script>


