<% if @image_deletion_request.pending? %>

  <div class="row bottom-1em">
    <div class="col-12">
      <h4>
	<%= link_to @image_deletion_request.user.username, user_page_path(@image_deletion_request.user) %>
	requests that the following image be deleted:
      </h4>

      <%= image_tag @image_deletion_request.image.image_url('profile'), class: 'img-responsive' %>
    </div>
  </div>

  <div class="row bottom-1em">
    <div class="col-12">
      <p class="mb-1"><strong>Justification: </strong><%= @image_deletion_request.justification %></p>
      <% if @image_deletion_request.entity  %>
	<p><strong>Entity: </strong><%= entity_link(@image_deletion_request.entity) %></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= form_tag("/images/approve_deletion/#{@image_deletion_request.id}", method: :post, style: "display: inline-block;") do %>
	<%= submit_tag 'Approve', class: 'btn btn-lrg btn-primary' %>
      <% end %>
      
      <%= form_tag("/images/deny_deletion/#{@image_deletion_request.id}", method: :post, style: "display: inline-block;") do %>
	<%= submit_tag 'Deny', class: 'btn btn-lrg btn-danger' %>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="row bottom-1em">
    <div class="col-sm-8 col-centered">
      <h4>Request has already been processed</h4>
    </div>
  </div>


<% end %>
