<%# locals: image %>

<% image_caption_modal_id = "image-#{image.id}-caption-modal" %>

<tr>
  <td>
    <%= link_to(image_tag(image.image_path('profile'), :class => 'img-responsive'), image.image_path("large")) %>
  </td>

  <td>
    <p class="image-caption" title="Edit this caption">
      <span onclick="$('#<%=image_caption_modal_id %>').modal('show')"><%= image.title %></span>
    </p>
    <em>Posted <%= image.created_at.strftime("%F") %></em></p>
  </td>

  <td>
    <%= link_to("crop", crop_ls_image_path(image)) %><br>

    <% if image.is_featured %>
      <%= button_to('unfeature', concretize_entity_image_path(@entity, id: image), params: {image: {is_featured: false}}, method: :put, class: 'btn-link') %>
    <% else %>
      <%= button_to('feature', concretize_entity_image_path(@entity, id: image), params: {image: {is_featured: true}}, method: :put, class: 'btn-link') %>
    <% end %>
    <br>


    <%= link_to 'Request Deletion', deletion_request_modal_entity_image_path(id: image.id, entity_id: @entity.id), data: { turbo_frame: 'modal', turbo: true } %>

    <br/>

    <% if current_user.admin? && image.url.present? %>
      <%= link_to("view original", image.url) %><br>
    <% end %>

    <% if current_user.role.include?(:edit_destructively) %>
      <%= button_to("remove",
                    entity_image_path(@entity, id: image.id),
                    method: :delete,
                    class: 'btn-link',
                    form: { onsubmit: "return confirm('Are you sure?')" }) %>
    <% end %>

  </td>
</tr>
