<!DOCTYPE html>
<html>
<head>
  <title>Lilsis</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
	<div id="top_content">
		<div id="logo"><%= link_to(image_tag("littlesis-logo-trans-200.png"), root_path) %></div>
		<div id="menu"></div>
		<div id="session_info">
			<% if user_signed_in? %>
	  		Logged in as <strong><%= current_user.username %></strong>
	  	<% end %>
		</div>
	</div>
</div>


<% if content_for? :title %>
<div id="header">
	<div id="header_content">
		<div id="title">
			<%= yield :title %>
		</div>
	</div>
</div>
<% end %>

<% if content_for? :body %>
	<%= yield :body %>
<% end %>

<div id="container">
	<%= yield %>
</div>

<div id="footer_clear"></div>
<div id="footer">
  A project of the <%= link_to('Public Accountability Initiative', 'http://public-accountability.org') %>. 
  More <%= link_to('about LittleSis', '/about') %>.
  Read the <%= link_to('disclaimer', '/disclaimer') %>.
</div>

</body>
</html>
