<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= raw(page_title) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :head if content_for?(:head) %>
  </head>

  <body>

    <% unless content_for? :hide_top %>
      <%= render partial: 'shared/nav_menu' %>
    <% end %>

    <div class="container mt-3">
      <section class="flash-messages">
        <% flash.each do |type, content| %>
          <% if content.is_a? Array %>
            <% content.each do |message| %>
              <%= render partial: 'flash', locals: {message: message, type: type} %>
            <% end %>
          <% else %>
            <%= render partial: 'flash', locals: {message: content, type: type} %>
          <% end %>
        <% end %>
      </section>
    </div>

    <div class="container mt-3">
      <%= yield %>
    </div>

    <% unless content_for? :hide_footer %>
      <div class="container mt-3 mb-3">
        <div id="footer">
	  A project of the <%= link_to('Public Accountability Initiative', 'http://public-accountability.org') %>.
	  More <%= link_to('about LittleSis', '/about') %>.
	  Read the <%= link_to('disclaimer', '/disclaimer') %>.
        </div>
      </div>
    <% end %>
  </body>

</html>
