<!DOCTYPE html>
<html>
<head>
  <title>Lilsis</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
	<div id="top_content">
		<div id="logo"><%= link_to(image_tag("littlesis-logo-trans-200.png"), root_path) %></div>
		<div id="menu">
			<%= render "shared/nav_menu" %>
		</div>
		<div id="top_search">
			<form action="/search" method="get">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search LittleSis" />
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>
		</div>
		<div id="social_media_icons">
			<%= link_to(image_tag('facebook-icon.jpg'), 'https://www.facebook.com/LittleSis.org') %>
			<%= link_to(image_tag('twitter-icon.jpg'), 'https://twitter.com/twittlesis') %>
			<%= link_to(image_tag('rss-icon.jpg'), 'http://feeds2.feedburner.com/EyesOnTheTies') %>
		</div>
	</div>
</div>

<% if content_for? :title %>
<div id="header">
	<div id="header_content">
		<div id="title">
			<%= yield :title %>
		</div>
	</div>
</div>
<% end %>

<% if content_for? :body %>
	<%= yield :body %>
<% end %>

<div id="container">
	<%= yield %>
</div>

<div id="footer_clear"></div>
<div id="footer">
  A project of the <%= link_to('Public Accountability Initiative', 'http://public-accountability.org') %>. 
  More <%= link_to('about LittleSis', '/about') %>.
  Read the <%= link_to('disclaimer', '/disclaimer') %>.
</div>

</body>
</html>
