<!DOCTYPE html>
<html>
<head>
  <title>Lilsis</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
	<div id="top_content">
		<div id="logo"><%= link_to(image_tag("littlesis-logo-trans-200.png"), root_path) %></div>
		<div id="menu"></div>
	</div>
</div>

<% if content_for? :title %>
<div id="header">
	<div id="header_content">
		<div id="title">
			<%= yield :title %>
		</div>
	</div>
</div>
<% end %>

<% if content_for? :body %>
	<%= yield :body %>
<% end %>

<div id="container">
	<%= yield %>
</div>

</body>
</html>
