<!DOCTYPE html>
<html class="<%= @fullscreen ? 'fullscreen' : '' %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="locale" content="<%= I18n.locale %>">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "bootstrap-icons", media: "all" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", defer: true %>
    <%= yield :head if content_for?(:head) %>
  </head>
  <body class="<%= @fullscreen ? 'fullscreen' : '' %>">
    <% unless content_for? :hide_top %>
      <%= render 'shared/nav_menu' %>
    <% end %>

    <% unless flash.empty? %>
      <%= render 'shared/notice' %>
    <% end %>

    <div class="<%= container_div_class %> mt-2 <%= @fullscreen ? 'fullscreen' : '' %>" id="littlesis-body">
      <%= yield %>
    </div>

    <% unless content_for? :hide_footer %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
