<!DOCTYPE html>
<html>
<head>
  <title>Lilsis</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top">
	<div id="top_content">
		<div id="logo"><%= link_to(image_tag("littlesis-logo-trans-200.png"), root_path) %></div>
		<div id="menu"></div>
	</div>
</div>

<% if content_for? :title %>
<div id="header">
	<div id="header_content">
		<div id="title">
			<%= yield :title %>
		</div>
	</div>
</div>
<% end %>

<% if content_for? :body %>
	<%= yield :body %>
<% end %>

<div id="container">
	<%= yield %>
</div>

<script>
var canvas = document.getElementById("top_canvas");
var ctx = canvas.getContext('2d');

window.onload = function() {
	//resize_canvas_to_window(canvas);

	var start = Date.now();
	var frame = 0;
	
	var x1s = [];
	var x2s = [];
	var size = 5;
	var num = Math.ceil(cw/size);

	for (var i = 0; i < num; i++) {
		x1s[i] = i;
		x2s[i] = i;
	}

	hsl_to_rgb = function(h, s, l) {
    var r, g, b;
 
    if(s == 0){
        r = g = b = l; // achromatic
    }else{
        function hue2rgb(p, q, t){
            if(t < 0) t += 1;
            if(t > 1) t -= 1;
            if(t < 1/6) return p + (q - p) * 6 * t;
            if(t < 1/2) return q;
            if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
            return p;
        }
 
        var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
        var p = 2 * l - q;
        r = hue2rgb(p, q, h + 1/3);
        g = hue2rgb(p, q, h);
        b = hue2rgb(p, q, h - 1/3);
    }
 
    return [r * 255, g * 255, b * 255].map(Math.round);
	};

	var loop = function() {
		var id = requestAnimationFrame(loop);
		var time = Date.now()/500;

		for (var i = 0; i < num; i++) {
			var delta_size = 0; //Math.max(5, Mouse.y/20);

      var x1_delta = delta_size * Math.sin(i + time);
      var x2_delta = delta_size * Math.sin(i + time);
      var y1_delta = delta_size * Math.cos(i + time);
      var y2_delta = delta_size * Math.cos(i + time);

			var x1 = x1s[i] * size + x1_delta;
			var x2 = x2s[i] * size + x2_delta;
			var y1 = ch/4 + y1_delta;
			var y2 = ch/4 + y2_delta;

      var r = 128 + 128 * Math.sin(i/2 - time/7);
      var g = 128 + 128 * Math.cos(i/3 - time/11);
      var b = 128 + 128 * Math.sin(i/5 - time/13)/2 + Math.cos(i/23 - time/2 - 0.31);
			var a = (128 + 128 * Math.sin(i/7 - time/10 - 0.89))/256;

      ctx.strokeStyle = color_style_rgba(r, g, b, a);
      ctx.lineWidth = 1;

      ctx.beginPath();
      ctx.moveTo(x1, -200);
      var x3 = (x1 + x2) / 2;
    	var x3_delta = (Mouse.x - Mouse.path.x[0]) / Math.abs(Mouse.x - x3);

      ctx.bezierCurveTo(x1, y1, x2, y2, x2, ch+200);
      ctx.stroke();
		}

		decay(canvas, (Mouse.x-cw/2)/500, 0, 2, 0);

		frame++;
	}

	loop();
}
</script>

</body>
</html>
