<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="locale" content="<%= I18n.locale %>">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "bootstrap-icons", media: "all" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", defer: true %>
    <%= yield :head if content_for?(:head) %>
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDoNotTrack", true]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://analytics.littlesis.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <% unless content_for? :hide_top %>
      <%= render 'shared/nav_menu' %>
    <% end %>

    <div id="littlesis-scroll-wrapper">
      <div class="<%= container_div_class %> pt-2 pb-2" id="littlesis-body">
        <% unless flash.empty? %>
          <%= render 'shared/notice' %>
        <% end %>

        <%= yield %>

        <% if user_signed_in? %>
          <turbo-frame id="modal">
          </turbo-frame>
        <% end %>

        <% unless content_for? :hide_footer %>
          <%= render 'shared/footer' %>
        <% end %>
      </div>
    </div>
  </body>
</html>
