<!DOCTYPE html>
<html class="fullscreen">
  <head>
    <title><%= page_title %></title>
    <%= javascript_include_tag "application", defer: true %>
    <script src="<%= Oligrapher.javascript_asset_path %>"></script>

    <% if content_for?(:head) %>
      <%= yield :head %>
    <% end %>

  </head>
  <body>
    <%= yield %>
    <%= yield :body %>
  </body>
</html>
