<!DOCTYPE html>
<html class="fullscreen">
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <% if content_for?(:head) %>
    <%= yield :head %>
  <% end %>
</head>
<body class="static fullscreen">
  <%= yield %>
  <%= yield :body %>
</body>
</html>
