<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title %></title>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'oligrapher', media: 'all' %>
    <%= yield :head if content_for?(:head) %>

    <% if Rails.env.development? %>
      <script src="http://localhost:8090/webpack-dev-server.js"></script>
      <script src="http://localhost:8090/oligrapher-dev.js"></script>
    <% else %>
      <script src="<%= "/oligrapher/oligrapher-#{@oligrapher_version}.js" %>"></script>
    <% end %>
  </head>

  <body>
    <% @fullscreen = true %>
    <%= render partial: 'shared/nav_menu' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
