<!DOCTYPE html>
<html>
  <head>
    <title><%= raw(page_title) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>

    <% if content_for?(:head) %>
      <%= yield :head %>
    <% end %>
  </head>
  <body>
    <%= render partial: 'shared/nav_menu',
               locals: { full_width: true } %>

    <% if content_for? :body %>
      <%= yield :body %>
    <% end %>
  </body>
</html>
