<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'oligrapher', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <% if content_for?(:head) %>
      <%= yield :head %>
    <% end %>

    <% if Rails.env == "development" %>
      <script src="http://localhost:8090/webpack-dev-server.js"></script>
      <script src="http://localhost:8090/oligrapher-dev.js"></script>
    <% else %>

      <script src="<%= "/oligrapher/oligrapher-#{@oligrapher_version}.js"  %>"></script>
    <% end %>
  </head>

  <body>
    <%= render partial: 'shared/nav_menu',
               locals: { full_width: true } %>

    <% if content_for? :body %>
      <%= yield :body %>
    <% end %>
  </body>
</html>
