<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag 'oligrapher', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield :head if content_for?(:head) %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <% @fullscreen = true %>
    <%= render partial: 'shared/nav_menu' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
