<!DOCTYPE html>
<html class="fullscreen">
    <head>
	<title><%= page_title %></title>
	<link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
	<%= stylesheet_link_tag    "splash", media: "all" %>
	<%= javascript_pack_tag 'application' %>
	<%= javascript_include_tag "application" %>
	<%= facebook_meta %>
    </head>
    <body>
	<%= yield %>
    </body>
</html>
