<!DOCTYPE html>
<html>
  <head>
    <title><%= raw page_title %></title>
    <%= stylesheet_link_tag "toolkit", media: "all" %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>

    <% if content_for? :article_view %>
      <nav class="navbar navbar-default navbar-static-top">
	<div class="navbar-container container">
	  
	  <div class="navbar-image">
	    <a href="https://littlesis.org/toolkit">
	      <%= image_tag "map_the_power_text.jpg"%>
	    </a>
	  </div>

	  <div id="navbar" class="hidden-xs pull-right">
	    <ul class="nav">
	      <%= render partial: 'links' %>
	    </ul>
	  </div><!-- #navbar / .nav-collapse -->
	</div>
      </nav>
      
      <div style="margin-top: 1em"></div>
    <% end %> 
    
    <div class="container" id="container">
      <%= yield %>
      <% if content_for? :article_view %>
	<%= link_to "BACK TO TABLE OF CONTENTS", toolkit_path, class: 'toc-link'%>
      <% end %>
      <div style="margin-bottom: 2em"></div>
    </div>

    <%= render partial: 'footer' %>

  </body>
</html>

