<div>
  <%= form_with(url: '/users/settings', method: :put) do %>

    <div class="row mt-2 mb-2">
      <div class="col-auto">
        <label class="form-label" style="padding-top: 0.375rem;"><%= t('vocab.language').capitalize %>:</label>
      </div>
      <div class="col-auto">
        <select id="user-settings-language"
          class="form-select"
          name="settings[language]"
          aria-label="Select Langauge"
          onchange="this.closest('form').submit()">
          <%= options_for_select([ ["English", 'en'], ['Spanish', 'es'] ], current_user.settings.language) %>
        </select>
      </div>
    </div>


    <% if current_user.role.include?(:star_relationship) %>
      <div class="row mt-2 mb-2">
        <div class="col">
          <div class="form-check form-switch">
            <input name="settings[show_stars]" type="hidden" value="0">
            <input name="settings[show_stars]" class="form-check-input" type="checkbox" role="switch" id="settings_show_stars" onchange="this.closest('form').submit()" <%= @user.settings.show_stars ? 'checked' : nil %>>
            <label class="form-check-label" for="settings_show_stars">Show Stars</label>
          </div>
        </div>
      </div>
    <% end %>

    <% if current_user.role.include?(:beta_testing) %>
      <div class="row mt-2 mb-2">
        <div class="col">
          <div class="form-check form-switch">
            <input name="settings[oligrapher_beta]" type="hidden" value="0">
            <input name="settings[oligrapher_beta]" class="form-check-input" type="checkbox" role="switch" id="settings_oligrapher_beta" onchange="this.closest('form').submit()" <%= @user.settings.oligrapher_beta ? 'checked' : nil %>>
            <label class="form-check-label" for="settings_oligrapher_beta">Oligrapher beta</label>
          </div>
        </div>
      </div>
    <% end %>


  <% end %>
</div>

<div data-turbo="true">
  <%= turbo_frame_tag "action_network" do %>
    <a href="/users/action_network">Check your newsletter subscriptions</a>
  <% end %>
</div>

<% if current_user.role.name == 'user' %>
  <div class="mt-2">
    <p>
      <%= link_to "Request to become a LittleSis editor", user_role_request_path(username: current_user.username) %>
    </p>
  </div>
<% end %>
