<div class="row">
  <div class="col">
    <h2>Edit your settings</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

  <%= form_for(resource, as: resource_name, url: users_path, html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br /> <i><small>(leave blank if you don't want to change it)</i></small><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
	<br />
	<em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :about_me %><br />
      <%= f.text_area :about_me, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %><br /> <i><small>(we need your current password to confirm your changes)</small></i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'  %>
      <div class="top-1em">
	<%= f.submit "Update" %>
      </div>
    </div>
  <% end %>
  </div>

  <div class="col-sm-6">
    <%= render partial: 'user_settings' %>
  </div>
</div>

<%# render partial: 'profile_picture %>

<%# api tokens have been disabled %>
<%# render partial: 'api_token_form' %>

<div class="row mb-3">
  <div class="col-md-6">
  </div>
</div>


<div class="row mt-1 mb-2">
  <div class="col">
    <div class="float-left">
      <%= button_to "Cancel my account", users_path, form: { onsubmit: "return confirm('Are you sure?')" }, method: :delete, class: 'btn btn-danger btn-sm' %>
    </div>
  </div>
</div>
