<div class="row">
  <div class="col">
    <h2>Edit your settings</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <%= form_for(resource, as: resource_name, url: users_path, html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mt-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, class: 'form-control', disabled: true %>
      </div>

      <div class="mt-3">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="mt-3">
        <%= f.label :password, class: 'form-label' %><small class="ms-2"><i>(leave blank if you don't want to change it)</i></small>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        <% if @minimum_password_length %>
	  <br />
	  <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="mt-3">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="mt-3">
        <%= f.label :about_me, class: 'form-label' %>
        <%= f.text_area :about_me, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="mt-3">
        <%= f.label :current_password %><br/><small class="mb-2"><i>we need your current password to confirm your changes</small></i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="mt-3">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="mt-3">
      <%= button_to "Cancel my account", users_path, form: { onsubmit: "return confirm('Are you sure?')" }, method: :delete, class: 'btn btn-danger btn-sm' %>
    </div>
  </div>

  <div class="col-sm-6">
    <%= render partial: 'user_settings' %>
  </div>
</div>

<%# render partial: 'profile_picture %>

<%# api tokens have been disabled %>
<%# render partial: 'api_token_form' %>
