<% content_for(:page_title, t('vocab.join').capitalize) %>

<% column_class = 'col-sm-8' %>

<div class="row mb-2">
  <div class='<%= column_class %>'>
    <div class='thin-grey-bottom-border'>
      <h2><%= t('phrases.get_involved').titleize %></h2>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-sm-12 col-md-8">
    <p>LittleSis presents an exciting opportunity: editors (called "analysts" on LittleSis) are developing an unprecedented, authoritative database of key relationships between powerful Americans. Sign up to edit the profile pages of your (least) favorite fatcats.</p>
    <p>To request an account, please provide all of the following information. We promise not to share it with anyone, ever!</p>
  </div>
</div>

<% label_class = 'form-label' %>
<% input_class = 'form-control' %>

<%= form_for(resource, as: resource_name,  url: registration_path(resource_name), html: {data: { parsley_validate: true, controller: 'username-validation'}}) do |f| %>
  <%= f.fields_for :user_profile do |profile_fields| %>
    <%= registrations_form_group do %>
      <%= profile_fields.label :name, t('vocab.name').capitalize, class: label_class %>
      <%= profile_fields.text_field :name, class: input_class %>
      <small><em><%= t('pages.join.name_and_email') %></em></small>
    <% end %>

    <%= registrations_form_group do %>
      <%= f.label :email, 'Email', class: label_class %>
      <%= f.email_field :email, autofocus: true, required: true, class: input_class %>
      <small><em><%= t('pages.join.do_not_share_email') %><br/><%= t('pages.join.confirmation_is_required') %></em></small>
    <% end %>

    <%= registrations_form_group do %>
      <%= f.label :username, t('vocab.username').capitalize, class: label_class %>
      <%= f.text_field :username, autofocus: true,
         required: true,
         data: {
           parsley_pattern: '^[A-Za-z][A-Za-z0-9_]{2,}',
           parsley_pattern_message: t('pages.join.username_pattern_message'),
            parsley_username: true
          },
       class: input_class,
       id: 'user_username'
      %>
      <small><em><%= t('pages.join.public_username') %></em></small>
    <% end %>

    <%= registrations_form_group do %>
      <%= f.label :password, "#{t('vocab.password').capitalize} (#{t('pages.join.minimum_8_letters')})", class: label_class %>
      <%= f.password_field :password, autocomplete: 'off', required: true, data: {parsley_minlength: 8, parsley_minlength_message: t('pages.join.password_length_message') }, class: input_class  %>
    <% end %>

    <%= registrations_form_group do %>
      <%= f.label :password_confirmation, t('phrases.confirm_password'), class: label_class  %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', required: true, data: { parsley_equalto: '#user_password', parsley_equalto_message: t('pages.join.password_confirmation_no_match') }, class: input_class  %>
    <% end %>

    <%= registrations_form_group(group_class: 'row mt-2') do %>
      <%= label_tag 'terms_of_use', t('phrases.terms').capitalize, class: label_class %>
      <div class="bg-info p-3">
        <p><%= t('pages.join.user_agreement.i_understand') %></p>
        <ul>
          <li><%= t('pages.join.user_agreement.promote_violence') %></li>
          <li><%= t('pages.join.user_agreement.outside_purview') %></li>
          <li><%= t('pages.join.user_agreement.spam') %></li>
        </ul>
        <p><%= t('pages.join.user_agreement.if_in_violation') %></p>
        <div class="d-flex">
          <%= check_box_tag :terms_of_use, 1, false, {required: true, data: {parsley_required_message: t('pages.join.you_have_to_accept')}} %><small class='ms-2 font-weight-bold'><%= t('pages.join.user_agreement.i_accept') %></small>
        </div>
      </div>
    <% end %>

    <%= registrations_form_group(group_class: 'row mt-2') do %>
      <%= label_tag 'newsletter', '', class: label_class %>
      <%= f.check_box :newsletter, checked: true, class: 'ml-1' %>
      <small class='pe-2'><%= t('pages.join.send_me_your_newsletter') %></small>
    <% end %>

    <%= registrations_form_group do %>
      <%= label_tag 'location', t('vocab.location').capitalize, class: label_class %>
      <%= profile_fields.text_field :location, class: input_class %>
    <% end %>

    <%= registrations_form_group do %>
      <%= profile_fields.label :reason, class: label_class do %>
        <%= t('pages.join.what_using_for') %>
      <% end %>

      <%= profile_fields.text_area :reason, required: true, data: {parsley_pattern: '\s*\S+(?:\s+\S+\s?){2,}', parsley_pattern_message: 'Please include more details'}, class: input_class, rows: 5, id: 'about-you-input' %>
    <% end %>

    <%= registrations_form_group do %>
      <%= fields_for :math_captcha do |f2| %>
        <%= render partial: 'math_captcha', locals: {f: f2, label_class: label_class, input_class: input_class} %>
      <% end %>
    <% end %>

    <%= registrations_form_group(group_class: 'row mt-2', column_class: 'col-4') do %>
      <%= f.submit 'Sign up', class: 'btn btn-primary' %>
      <p class="mt-3"><small><%= render 'users/shared/links' %></small></p>
    <% end %>
  <% end %>
<% end %>
