<script>
 $(function(){
   var aboutYouInput = document.getElementById('about-you-input');
   aboutYouInput.setCustomValidity("Don't forget to fill out this field");
   
   aboutYouInput.addEventListener("input", function(e){
     if (this.value === '') {
       this.setCustomValidity("Don't forget to fill out this field");
     } else if (this.value.split(' ').length <= 2) {
       this.setCustomValidity("Please include more details")
     } else {
       this.setCustomValidity("")
     }
   });
 });
 
 function validateForm(){
   if (!document.getElementById('terms_of_use').checked) {
     alert("Unfortunately, you have to accept the terms first");
     return false;
   }
   var password = document.getElementsByName("user[password]")[0].value;
   var confirmation = document.getElementsByName("user[password_confirmation]")[0].value;
   
   if (password.length < 8) {
     alert('Please ensure that your password is 8 or more characters long!');
     return false;
   } else if (password !== confirmation) {
     alert('Your password and password confirmation do not match :(');
     return false;
   } else {
     return true;
   }
 }

 $(function () {
   $('[data-toggle="tooltip"]').tooltip()
 })
</script>

<div class="row">
  <div class="col-sm-7">
    <div class="thin-grey-bottom-border">
      <h2>Get Involved!</h2>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4 thin-grey-bottom-border">
    <h2 class="text-center">Data Summary</h2>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
	<p><strong>LittleSis is bringing together a community of citizens who believe in transparency and accountability where it matters most.</strong> Our task is to study, document, and expose the social networks that have our democracy in a stranglehold, so that grassroots efforts can more effectively challenge their claim to power.</p>
	<p><strong>We're looking for researchers, programmers, artists and organizers to lend a hand.</strong> If you want to get involved, <%= link_to "send us a note", "/contact" %> join our email list, sign up to become a LittleSis analyst and start adding information to the site, or check out our <%= link_to "help pages", '/help' %> for information on how to use the site.</p>
      </div>
    </div>
    <div class="row bottom-1em">
      <div class="col-sm-8">
        <div class="thin-grey-bottom-border">
          <h3>Become an analyst!</h2>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-sm-12">
        <p>LittleSis presents an exciting opportunity: editors (called "analysts" on LittleSis) are developing an unprecedented, authoritative database of key relationships between powerful Americans. Sign up to edit the profile pages of your (least) favorite fatcats.</p>
        <p>To request an account, please provide all of the following information. We promise not to share it with anyone, ever!</p>

        <% label_class = 'col-sm-3 control-label' %>
        <% field_class = 'col-sm-6' %>
        <br />

        <%= form_for(resource, as: resource_name,  url: registration_path(resource_name), html: {:onsubmit => 'return validateForm();', :class => 'form-horizontal', }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.fields_for :sf_guard_user_profile do |profile_fields| %>

	    <% if @signup_errors.present? %>
	      <div class="form-group">
		<div class="col-sm-10">
		  <div class="alert alert-danger" role="alert" id="signup-errors-alert">
		    <h5><strong>Sorry!</strong> We could not create your account for the following reasons:</h5>
		    <% @signup_errors.each do |msg| %>
		      <p><%= msg %></p>
		    <% end %>
		  </div>
		</div>
	      </div>
	    <% end %>
	    

	    <div class="form-group">
              <%= profile_fields.label :name_first, "First Name", :class => label_class   %>
              <div class="<%= field_class %>">
		<%= profile_fields.text_field :name_first, :required => true %>
              </div>
	    </div>
	    
	    <div class="form-group">
              <%= profile_fields.label :name_last, "Last Name", :class => label_class %>
              <div class="<%= field_class %>">
		<%= profile_fields.text_field :name_last %><br />
		<small><em>(your name and email will not be public)</em> </small>
              </div>
              
	    </div>
	    
	    <div class="form-group">
              <%= f.label :email,
	      "Email",
	      :class => label_class,
	      :title => 'We do not share your email with anyone. Email verification is required to use LittleSis, and a confirmation will be sent out after you submit this form',
	      :data => {toggle: 'tooltip', placement: 'left' } %>
              <div class="<%= field_class %>">
		<%= f.email_field :email, autofocus: true, :required => true %>
              </div>
	    </div>
	    
	    <div class="form-group">
              <%= f.label :username, "Username",
	      :class => label_class,
	      :title => 'This is your public username. Any edits you do will be recorded with this name and visible to other LittleSis users',
	      :data => {toggle: 'tooltip', placement: 'left' } %>
              <div class="<%= field_class %>">
		<%= f.text_field :username, autofocus: true,
		:required => true,
		:pattern => '[^@ ]{3,}',
		:oninvalid => "this.setCustomValidity(\"Usernames must be at least 3 letters and cannot include '@' or spaces\")",
		:oninput => "this.setCustomValidity('')"
		%>
              </div>
	    </div>

	    <div class="form-group">
              <%= f.label :password, "Password (Minimum 8 letters)", :class => label_class %>
              <div class="<%= field_class %>">
		<%= f.password_field :password, autocomplete: "off", :required => true  %>
              </div>
	    </div>

	    <div class="form-group">
              <%= f.label :password_confirmation, :class => label_class  %>
              <div class="<%= field_class %>">
		<%= f.password_field :password_confirmation, autocomplete: "off", :required => true  %>
              </div>
	    </div>

	    <div class="form-group">
              <%=  label_tag 'terms_of_use', "Terms of use", :class => label_class %>
              <div class="col-sm-9 bg-info bottom-1em top-1em">
		<p>I understand that LittleSis's mission is to track people and groups with inordinate wealth, influence on public policy, and access to government officials. As a LittleSis analyst it is my responsibility to ensure that information I contribute is relevant to the site's mission, accurate, and documented by publicly available original sources on the internet. The LittleSis staff can revoke my editing privileges or disable my account if they believe I am not following these guidelines in good faith.</p>
		<%= check_box_tag 'terms_of_use' %><small> I accept the above terms of use </small>
              </div>
	    </div>

	    <div class="form-group">
              <%=  label_tag 'newsletter', "Newsletter?", :class => label_class %>
              <div class="col-sm-9">
		<%= f.check_box :newsletter, checked: true %><small style="padding-left: 0.5em;">Send me your newsletter (we send one every 1-2 months)</small>
              </div>
	    </div>

	    <div class="form-group">
              <%=  label_tag 'location', "Location", :class => label_class %>
	      <div class="<%= field_class %>">
		<%= profile_fields.text_field :location %>
              </div>
	    </div>

	    <div class="form-group">
              <%= profile_fields.label :reason, raw("What are <br> your research interests? <br> What are you hoping to use LittleSis for?*"), :class => label_class  %>
              <div class="col-sm-9">
		<%= profile_fields.text_area :reason, :class => 'form-control', :rows => 5, :id => 'about-you-input' %>
              </div>
	    </div>
	    
	    <div class="form-group">
	      <%=  label_tag 'spam_test', "", :class => label_class %>
              <div class="col-sm-9">
		<%= flash[:recaptcha_error] %>
		<%= recaptcha_tags %>
	      </div>
	    </div>

	    <div class="actions form-group">
              <div class="col-sm-3"></div>
              <div class="col-sm-8">
		<%= f.submit "Sign up" %>
		<p><small><%= render "users/shared/links" %></small></p>
              </div>
	    </div>
	    
          <% end %>
	<% end %>

      </div>
    </div>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= render partial: 'home/data_summary', locals: {stats: ExtensionRecord.data_summary} %>
  </div>
</div>
